// Your mail style
#mail {
  background-color: #fff;
  width: 100%;
  min-height: 100%;
  text-align: center;

  .mail-header {
    background-color: #fff;
    width: 100%;
  }

  .mail-content {
    padding: 25px;
    background-color: #f1f1f1;
  }

  p {
    margin-bottom: 5px;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 100px;
  }

  .mail-picture {
    display: block;
    margin-top: 25px;
    width: 100%;
    border: 1px rgba(89, 211, 211, 0.9) solid;
  }

  .link-discover {
    margin: 25px 0;

    p {
      margin-bottom: 25px;
    }
  }

  .mail-signature {
    margin: 25px;
  }

  .logo-signature {
    display: block;
    left: 0;
    width: 120px;
  }

  .social-networks {
    i {
      background-color: #71bbc6;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      padding: 5px;
      margin-right: 5px;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}

