// Your mail style
#mail {
  background-color: #fff;

  p {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .logo-signature {
    width: 150px;
  }

  .go {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;;
  }
}

