<div class="perk-modal-not_member pmdjs perk-modal-dynamic-<%= perk.id %> hidden">
  <div class="card perk-modalll">
    <button type="button" class="perk-modal-close close-button">&times;</button>

    <div class="perk-modal-header">
      <div class="perk-modal-icon"></div>
      <div class="perk-modal-header-text">Espace réservé aux abonnés</div>
    </div>

    <div class="perk-modal-content">
      <h6 class="perk-modal-content-text">Rejoignez la révolution positive</h6>
      <p>Je trouve de nouveaux commerçants responsables, des associations engagées et des événements enthousiasmant chez moi ou dans les autres villes où je me rends.</p>
    </div>

    <div class="box-subscribe-connect">
    <div class="perk-modal-button-signup">
      <%= link_to signup_path do %>
        <div class="subscribe-title">S'inscrire</div>
      <% end %>
    </div>


    <div class="subtitle-or"><p> ou </p></div>

    <div class="perk-modal-button-signup dropdown">
      <div class=" connect-title dropdown-toggle" data-toggle="dropdown">Se connecter</div>
      <!-- SIGNIN -->
      <div class="dropdown-menu">
        <div class="sign-box">
          <button type="button" class="perk-modal-close-signin close-button">&times;</button>
          <%= render "devise/sessions/shared/form_signin", resource: User.new, resource_name: :user%>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>

<% content_for(:after_js) do %>

  <script>

    $(document).ready(function() {

      $('.perk-modal-close').click(function() {
        $('.perk-modal-not_member').addClass('hidden');
      });

      $(".button-log.sign-in").click(function() {
        $('.flipper-mobile').toggleClass('flipped');
      });

      $(".close-button-signin").click(function() {
        $('.use-overlay').addClass('hidden');
        $('.flipper-mobile').toggleClass('flipped');
      });

      $(".perk-modal-close-signin").click(function() {
        $('.perk-modal-button-signup.dropdown.open').removeClass('open');
      });

    });

  </script>
<% end %>
