<div class="perk-modal-mobile-member hidden">

  <div class="perk-modal-member-header">
    <div class="perk-title-mobile-list"> <h2 style="border-color: <%= @business.business_category.color %>;">Les bons plans</h2></div>
    <div class="perk-mobile-list-closing-button"><button type="button" class="closed-perk-modal-mobile-member close-button">&times;</button></div>
  </div>

  <% @business.perks.active.each do |perk| %>
    <%= render "businesses/business_card", business: @business, address: @address, perk: perk, index_view: false %>
    <% if !user_signed_in? %>
      <%= render "businesses/business_perk_not_member", perk: perk %>
    <% else %>
      <%= render "businesses/business_perk_show",  business: @business, address: @address, perk: perk, first_offer: false %>
    <% end %>
  <% end %>

</div>

<% content_for :after_js do %>

  <script>

    $(document).ready(function(){

      $('.closed-perk-modal-mobile-member').click(function() {
        $(".perk-modal-mobile-member").addClass('hidden');
        $('.perk-modal-mobile-member').attr('style', 'position: fixed;');
        $('.left-side').attr('style', 'position: absolute;');
      });

      // $(".use-button-logout").click(function() {
      //   $('.use-overlay').removeClass('hidden');
      //   // EVENT AMPLITUDE USER_C_BENEFIT
      //   amplitude.logEvent('USER_C_BENEFIT_LOGOUT');
      // });

      // $(".btn-use-button").click(function() {
      //   // EVENT AMPLITUDE USER_C_BENEFIT
      //   amplitude.logEvent('USER_C_BENEFIT');
      // });
    });

  </script>

<% end %>
