<%= content_for(:title) do %>
  <%= @business.name %>
<% end %>

<!-- <div class="container-fluid cforgood-background" id="business-header">
  <div class="row">
    <div class="page-title">
      <%= image_tag("perk-white.png") %>
      <h1>DECOUVREZ</h1>
    </div>
  </div>
</div> -->

<div class="container-fluid cforgood-background" id="business-show-header">
    <div class="page-title">
      <h3 class="pt-20">BIENVENUE CHEZ</h3>
      <h1><%= @business.name %></h1>
    </div>
  </div>
</div>

<div class="container-fluid text-center" id="bg-business-show">
  <div class="whitebox-business"></div>
    <h3>blablabla</h3>
    <h3>blablabla</h3>
    <h3>blablabla</h3>
    <h3>blablabla</h3>
    <h3>blablabla</h3>
    <h3>blablabla</h3>
    <h3>blablabla</h3>
    <h3>blablabla</h3>
    <h3>blablabla</h3>
    <h3>blablabla</h3>
    <h3>blablabla</h3>
    <h3>blablabla</h3>
    <h3>blablabla</h3>
    <h3>blablabla</h3>
    <h3>blablabla</h3>
    <h3>blablabla</h3>

</div>