<%= content_for(:title) do %>
<%#= @user.first_name %>
<% end %>
<%= content_for(:description) do %>
Autour de vous
<% end %>

<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "dashboard/shared/sidebar" %>
  <!-- Content - Statistics -->
  <div class="dashboard">
    <div id="map-dashboard" class="user-map-businesses" style="width: 100%;"></div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= render 'shared/map', markers: @markers, map_id: "map-dashboard" %>
<% end %>
