<div id="accordion">
  <% current_business.businesses.group_by{|e| e[:business_category_id]}.each do |business_category, businesses| %>
    <h3><%= BusinessCategory.find(business_category).name %></h3>
    <ul>
      <% businesses.each do |business| %>
        <li><%= business.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<% content_for :after_js do %>

 <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>

<% end %>

