<div class="container" id="error_explanation">
  <div class="alert alert-danger alert-dismissible" role="alert">
    <div class="close-alert">&times;</div>
    Le formulaire contient <%= pluralize(resource.errors.count, "erreur") %>.
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
          <li class="alert-message"><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>

<script>
  $(".close-alert").click(function () {
    $(this).closest(".alert").remove();
  });
</script>

