<ul class="mobile-menu logout hidden">
  <!-- OTHER LINKS -->
  <li>
    <%= link_to signup_path, class: "sign-up" do %>
      <i class="fa fa-pencil"></i>Je m'inscris
    <% end %>
  </li>
  <li>
    <%= link_to signin_path, class: "sign-in" do %>
       <i class="fa fa-sign-in"></i>Se connecter
    <% end %>
  </li>
</ul>

