<!-- Card Perk APPEL -->
<a class="type-card" id="perk-appel">
  <div class="type-title">
    <i class="fa fa-gift"></i>
    <span>Bon Plan de bienvenue</span>
    <span class="type-category">Acquisition</span>
  </div>
  <div class="type-content">
    <p>Proposez une offre attractive<br>Utilisable 1x par nouveau client</p>
    <span id="type-create-appel" class="type-create"><i class="fa fa-plus"></i></span>
  </div>
</a>

<!-- Card Perk DURABLE -->
<a class="type-card" id="perk-durable">
  <div class="type-title">
    <i class="fa fa-repeat"></i>
    <span>Bon Plan durable</span>
    <span class="type-category">Fidélisation</span>
  </div>
  <div class="type-content">
    <p>Fidéliser une nouvelle clientèle<br>Utilisable à l'infini</p>
    <span id="type-create-durable" class="type-create"><i class="fa fa-plus"></i></span>
  </div>
</a>

<!-- Card Perk FLASH -->
<a class="type-card" id="perk-flash">
  <div class="type-title">
    <i class="fa fa-bolt"></i>
    <span>Bon Plan flash</span>
    <span class="type-category">Activation</span>
  </div>
  <div class="type-content">
    <p>Réduire le gaspillage<br>Quantité et temps limité</p>
    <span id="type-create-flash" class="type-create"><i class="fa fa-plus"></i></span>
  </div>
</a>
