<% content_for :meta_title, "Inscription - CforGood" %>
<% content_for :meta_description %>
<% content_for :meta_image %>

<div class="connexion signup" style="background-image: url(<%= image_url('signin-background.jpg') %>);">
  <div class="sign-box gift">
      <span class="signup-message-gift">Vous voulez offrir un cadeaux ?</span>
      <%= render "devise/registrations/shared/form_signup_user", resource: User.new, resource_name: :user %>
  </div>
</div>
