<div class="popup-overlay">
  <div class="popup-container no-perks">
    <div class="wrapper">
      <!-- ILLUSTRATION-->
      <%= render 'shared/icons/wand' %>
    </div>
    <span>Vous vous apprêtez à faire une bien jolie action !</span>
    <p>En cliquant sur le bouton ci-dessous vous reverserez 50% de votre abonnement mensuel à NOM DE L'ASSOCIATION</p>

    <%= link_to member_update_cause_path(cause_id: cause.id), method: :put, remote: true, authenticity_token: true do %>
      C'est parti !
    <% end %>
  </div>
</div>