<div class="use-overlay overlay-download-popup">
  <div class="flip-container-mobile-dl">
    <div class="flipper-mobile-dl">
      <!-- FRONT CARD-->
      <div class="front">
        <div class="left-container-flex">
          <h6>CforGood rejoint POI !</h6>
          <div class="container-dl-badges">
            <a href="https://poi.app" target="_blank">
              <div class="app-badge"></div>
              <p>Poi est une application qui se connecte à vos apps préférées
                pour mesurer, encourager et valoriser l'impact positif de
                vos comportements quotidiens.</p>
            </a>
            <a href="https://poi.network" target="_blank">
              <div class="network-badge"></div>
              <p>Par son protocole unique, la proof of impact, Poi certifie et
                valorise, au sein même des communautés, les actions positives
                comme la consommation responsable.</p>
            </a>
          </div>
        </div>
        <h6 class="close-tag">Fermer</h6>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function () {
      $('.close-tag').click(function(){
        $('.overlay-download-popup').addClass('hidden');
      });

      // Prevent events from getting pass .front
      // $('.front').click(function(e){
      //   e.stopPropagation();
      // });

      // $('body').click(function(){
      //   $('.overlay-download-popup').addClass('hidden');
      // });
    });
  </script>
<% end %>
