<div class="use-overlay overlay-download-popup">
  <div class="flip-container-mobile-dl">
    <div class="flipper-mobile-dl">
      <!-- FRONT CARD-->
      <div class="front">
        <div class="left-container-flex">
          <h6>
            <%= image_tag('logo_horizontal_white.svg') %>
            rejoint
            <%= image_tag('logo_poi_text_white.svg') %>
            !
          </h6>
          <div class="badge-intro">
            Poi est une plateforme qui mesure, certifie et valorise les comportements positifs.
            2 sites s'adressent à notre communauté :
          </div>
          <div class="container-dl-badges">
            <a href="https://poi.app" target="_blank">
              <div class="badge-title">Poi App</div>
              <div class="app-badge"></div>
              <p>Poi est une application qui se connecte à vos apps préférées
                pour mesurer, encourager et valoriser l'impact positif de
                vos comportements quotidiens.</p>
            </a>
            <a href="https://poi.network" target="_blank">
              <div class="badge-title">Poi Network</div>
              <div class="network-badge"></div>
              <p>La Proof of Impact est un protocole unique qui certifie
                les comportements positifs en transformant les données reçues
                en données d'impact (économie de carbone, etc.).</p>
            </a>
          </div>
        </div>
        <h6 class="close-tag">Fermer</h6>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function () {
      $('.close-tag').click(function(){
        $('.overlay-download-popup').addClass('hidden');
      });

      // Prevent events from getting pass .front
      // $('.front').click(function(e){
      //   e.stopPropagation();
      // });

      // $('body').click(function(){
      //   $('.overlay-download-popup').addClass('hidden');
      // });
    });
  </script>
<% end %>
