<div class="updated-done-overlay overlay-payment <%= flash[:error].present? || flash[:success].present? ? ' ' : 'hidden' %>">
  <div class="border-gradient">
    <div class="done-container">
      <div class="close-button close-payment">&times;</div>
      <% if flash[:error] %>
        <div class="unchecked-marked-updated-profil" style="background-color: #e55d5d"></div>
        <span>Oups !<br>
          <small>Une erreur s'est produite lors de la prise en compte de vos données.<br>Notre équipe est informée.</small>
        </span><br>
        <div class="logo-updated-profil-section">
          <%= image_tag "logo_vertical.png" , :class => "logo-updated-profil" %>
        </div>
      <% end %>
      <% if flash[:success] %>
        <div class="checked-marked-updated-profil" style="background-color: lightgrey"></div>
        <% if request.referer.present? && request.referer.include?("subscribe") %>
          <span>
            <small>Votre compte est créé.</small><br>
            Bienvenue <%= current_user.try(:first_name) %> !
          </span><br>
        <% else %>
           <span><small>Vos coordonnées bancaires ont bien été prises en compte.</small><br><br></span>
        <% end %>
        <div class="logo-updated-profil-section">
          <%= image_tag "logo_vertical.png" , :class => "logo-updated-profil" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>

    $(document).ready(function() {

      $(".close-payment").click(function() {
        $('.overlay-payment').addClass('hidden');
      });

    });

  </script>
<% end %>
