<div class="updated-done-overlay overlay-payment hidden">
  <div class="border-gradient">
    <div class="done-container">
      <button type="button" class="close-button close-payment">&times;</button>
        <div class="unchecked-marked-updated-profil" style="background-color: #e55d5d"></div>
        <span>Oups !<br>
          <small>Une erreur s'est produite lors de la prise en compte de vos données.<br>Notre équipe est informée.</small>
        </span><br>
      <!--     <p>Vous allez être automatiquement redirigé vers votre suivi.</p>
    -->
    <%#= link_to "Si rien ne se passe, cliquez-ici", pro_business_dashboard_path(current_business), class: "" %>
      <div class="logo-updated-profil-section">
        <%= image_tag "logo_vertical.png" , :class => "logo-updated-profil" %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>

    $(document).ready(function() {

      $(".close-payment").click(function() {
        $('.overlay-payment').addClass('hidden');
      });

    });

  </script>
<% end %>
