<div class="col-xs-12 col-md-4 col-md-offset-4 text-center mail-content">
  <% if @user.first_name %>
    <p>Bonjour <%= @user.first_name %>,</p>
  <% elsif @user.name %>
    <p>Bonjour <%= @user.name %>,</p>
  <% else %>
    <p>Bonjour,</p>
  <% end %>

  <p>
    Merci de rejoindre la communauté des acteurs qui vont dans le bon sens !<br>
    Voici un guide qui vous aidera à démarrer :
  </p>

  <%= image_tag "comment_ca_marche_mail.jpg", class: "mail-picture" %>

  <div class="link-discover">
    <p><strong>C'est tout !</strong> Qu'attendez-vous pour découvrir le meilleur de votre ville ?!</p>

    <%= link_to "Découvrir maintenant", member_user_dashboard_url(@user), class: "button button-turquoise" %>
  </div>
</div>

