<h1>Bienvenue chez CforGood</h1>

<p>
  Votre inscription a bien été prise en compte !
  Vous recevrez très prochainement un mail vous indiquant que votre espace est actif !
</p>

<p> A très bientôt, </p>

