.bg-about {
  position: relative;
  background-image: image-url("background-pouce.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 1700px;

  h2 {
    color: rgb(51,51,51);
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    text-align: center;
    font-weight: 300;
  }
}

#whitebox-about {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: rgb(51,51,51);
  z-index: 1;
}