#business-page {
  h2 {
    color: rgb(51,51,51);
  }
}

#business-solution {
  border-top: 1px rgba(216,227,225,0.23) solid;
  border-bottom: 1px rgba(216,227,225,0.23) solid;
  h2 {
    color: white;
  }
}

.bg-business-benefits {
  position: relative;
  background-image: image-url("background10.jpg");
  background-size: cover;
  background-position: center center;
  height: 1300px;
}

#whitebox-business-benefits {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  color: rgb(51,51,51);
  z-index: 1;
}

#business-benefit {
  height: 265px;
  border-bottom: 2px rgba(181, 181, 181, 0.23) solid;
  padding-top: 45px;
  img {
    height: 165px;
    float: left;
  }
  h3 {
    color: rgb(51,51,51);
  }
}

@media only screen and (max-width: 480px) and (orientation : portrait) {
  #business-page {
    h1 {
      font-size: 30px;
    }
    #business-banner {
      height: 180px;
    }
    #business-problem {
      margin-top: 40px;
      margin-bottom: 20px;
      h2 {
        font-size: 22px;
      }
      #title-business-problem {
        margin-bottom: 30px;
      }
      #item-business-problem {
        margin-bottom: 30px;
      }
    }
  }
}