#charity {
  h2 {
    color: rgb(51,51,51);
  }
  h3 {
    color: rgb(51,51,51);
  }
}

#charity-solution {
  border-top: 1px rgba(216,227,225,0.23) solid;
  border-bottom: 1px rgba(216,227,225,0.23) solid;
  h2 {
    color: white;
  }
}

