#charity-page {
}

.bg-charity-problem {
  position: relative;
  background-image: image-url("background5.jpg");
  background-size: cover;
  background-position: center center;
  height: 500px;
}

#whitebox-charity-problem {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(40, 40, 40, 0.8);
  color: rgb(255,255,255);
  z-index: 1;
}

#charity-problem {
  img {
    width: 55%;
    border: 5px rgba(237, 237, 237, 0.5) solid;
    border-radius: 50%;
    padding: 20px;
  }
  p {
    font-size: 20px;
  }
}

.bg-charity-benefits {
  position: relative;
  background-image: image-url("background10.jpg");
  background-size: cover;
  background-position: center center;
  height: 1300px;
}

.write-us {
  background-color: #E8E8E8;
  height: 200px;
  h2 {
    margin-top: 0px;
  }
}

#whitebox-charity-benefits {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  color: rgb(51,51,51);
  z-index: 1;
}

#charity-solution {
  border-top: 1px rgba(216,227,225,0.83) solid;
  border-bottom: 1px rgba(216,227,225,0.23) solid;
  h2 {
    color: white;
  }
}

#charity-benefits {
  h2 {
    color: rgb(51,51,51);
  }
}

#charity-benefit {
  height: 265px;
  border-bottom: 2px rgba(181, 181, 181, 0.23) solid;
  padding-top: 45px;
  img {
    height: 165px;
    float: left;
  }
  h3 {
    color: rgb(51,51,51);
  }
}

@media only screen and (max-width: 480px) and (orientation : portrait) {
  #charity-page {
    h1 {
      font-size: 30px;
    }
    #charity-banner {
      height: 180px;
    }
    #charity-problem {
      margin-top: 40px;
      margin-bottom: 20px;
      h2 {
        font-size: 22px;
      }
      #title-charity-problem {
        margin-bottom: 30px;
      }
      #item-charity-problem {
        margin-bottom: 30px;
      }
    }
  }
}