#bg-connexion {
  background-image: image-url("background-pouce.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: 70%;
  position: relative;
  border-bottom: 1px rgba(124, 118, 118, 0.23) solid;
  text-align: center;
}

#blackbox-connexion {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.3);
  color: rgb(240, 240, 240);
  z-index: 0;
}

#form-card   {
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
 }

.cgu {
  text-align: left !important;
  p {
    font-weight: 100;
    font-size: 15px;
    color: rgb(51,51,51);
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
}
