#banner {
  position: relative;
  background-image: image-url("background13.jpg");
  background-size: cover;
  height: 650px;
  border-bottom: 1px rgba(200,191,191,0.23) solid;
}

.card{
  padding: 10px;
  font-weight: 300;
  h2{
    font-size: 22px;
  }
}

#presentation {
  h1{
    color: white;
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 10px;
  }
  img {
    width: 90%;
  }
  padding-left: 10px;
  margin-top: 60px;
  height: 400px;
  border-bottom: 1px rgba(200,191,191,0.23) solid;
}

#features {
  img {
    height: 80px;
  }
  h1 {
    margin-bottom: 30px;
    font-size: 35px;
  }
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px rgba(54,211,218,0.23) solid;
}

#benefits {
  img {
    height: 80px;
    margin-top: 30px;
  }
  padding-top: 75px;
  margin-bottom: 75px;
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  h2 {
    text-align: center;
    font-size: 26px;
    margin-top: 15px;
    margin-bottom: 35px;
    font-weight: 900;
    color: rgb(51,51,51);
  }
}

#blackbox-banner {
  position: absolute;
  height: 650px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: rgb(240, 240, 240);
  z-index: 1;
}

.scroll-btn{
  position: absolute;
  width: 100px;
  margin-left: -50px;
  bottom: 20px;
  left: 50%;
  text-align: center;
  font-size: 60px;
  color: white;
  &:hover{
    color: white;
  }
  z-index: 3;
}

#perks {
  h2 {
    text-align: center;
    color: rgb(51,51,51);
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 900;
  }
  h3 {
    margin-bottom: 0px;
  }
  h4 {
    font-size: 22px;
    padding-top: 20px;
    font-weight: 700;
  }
  border-top: 1px rgba(216,227,225,0.23) solid;
  margin-bottom: 20px;
}

#partner {
  height: 350px;
  padding-top: 60px;
  border-top: 1px rgba(200,191,191,0.23) solid;
  h4 {
    color: rgb(51,51,51);
    padding-bottom: 10px;
    padding-top: 30px;
    font-size: 23px;
  }
  p {
    padding-bottom: 20px;
  }
}

#support {
  h2 {
    text-align: center;
    font-size: 26px;
    margin-top: 45px;
    margin-bottom: 15px;
    font-weight: 900;
  }
  img {
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
    padding-top: 15px;
  }
  border-top: 1px rgba(200,191,191,0.23) solid;
  height: 300px;
}

.perk-card-home {
  width: 70%;
  height: 200px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: white;
  opacity: 0.8;
  border-radius: 5px;
  position: relative;
  &:hover{
    transition: all 0.2s ease;
    opacity: 1;
    transform: scale(1.01);
    }
  margin-left: 30px;
}

.box-shadow {
  position: absolute;
  background-color: rgba(0,0,0, 0.4);
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.image {
  position: absolute;
  background-image: image-url("Perk1.png");
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#mediaplay {
  top: 70px;
  opacity: 0.7;
  left: 10px;
}

#iphone-card {
  padding-left: 75px;
  margin-top: -4px;
}