#banner {
  position: relative;
  background-image: image-url("bg-banner-small.png");
  background-size: cover;
  background-attachment: fixed;
  height: 580px;
  border-bottom: 1px rgba(124, 118, 118, 0.23) solid;
  h1 {
    font-size: 44px;
  }
  p {
    font-size: 18px;
    color: white;
  }
  #mc_embed_signup {
    margin-top: 50px;
  }
  #mce-EMAIL {
    width: 50%;
    margin-right: 10px;
    margin-left: 14%;
  }
}

.gradientbox-cforgood {
  background: -webkit-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* W3C */
  opacity: 0.65;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#blackbox-banner {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.15);
  color: rgb(240, 240, 240);
  z-index: 0;
}

.border-video {
  border: 5px rgb(54,211,218) solid;
  border-radius: 5px;
}

.card{
  padding: 10px;
  h2{
    font-size: 22px;
  }
}

#benefits {
  img {
    height: 160px;
  }
  padding-top: 75px;
  padding-bottom: 45px;
  border-bottom: 1px #E1E1E1 solid;
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 14px;
  }
  h2 {
    text-align: center;
    margin-top: 0px;
    color: rgb(51,51,51);
  }
}

#presentation {
  h1{
    font-size: 28px;
    padding-bottom: 10px;
    color: rgb(51,51,51);
  }
  img {
    width: 90%;
  }
  padding-left: 10px;
  margin-top: 60px;
  color: rgb(51,51,51);
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-bottom: 12px;
    margin-top: 11%;
    margin-left: 7%;
}

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
  }
}


.scroll-btn{
  position: absolute;
  width: 100px;
  margin-left: -50px;
  bottom: 20px;
  left: 50%;
  text-align: center;
  font-size: 60px;
  color: white;
  &:hover{
    color: white;
  }
  z-index: 3;
}

#perks {
  h2 {
    text-align: center;
    color: rgb(51,51,51);
    font-size: 26px;
    margin-top: 80px;
  }
  h3 {
    margin-bottom: 0px;
    font-weight: 500;
  }
  h4 {
    font-size: 22px;
    padding-top: 15px;
    font-weight: 600;
  }
  p {
    font-size: 18px;
  }
  border-top: 1px rgba(216,227,225,0.23) solid;
  height: 600px;
  .perk-card-home {
    width: 85%;
    height: 220px;
    margin-bottom: 50px;
    margin-top: 30px;
    color: white;
    opacity: 0.9;
    border-radius: 10px;
    position: relative;
    margin-left: 24px;
    border: 4px rgba(89, 211, 211, 0.9) solid;
    &:hover{
      transition: all 0.2s ease;
      opacity: 1;
      transform: scale(1.1);
      }
  }
}

#partner {
  height: 500px;
  border-top: 1px rgba(200,191,191,0.23) solid;
  h2 {
    color: rgb(51,51,51);
    margin-top: 80px;
  }
  h4 {
    color: rgb(51,51,51);
    padding-bottom: 10px;
    padding-top: 30px;
    font-size: 22px;
  }
  p {
    padding-bottom: 20px;
  }
}

#support {
  h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  img {
    padding-left: 20px;
    padding-right: 20px;
    height: 75px;
    padding-top: 15px;
    margin-top: -10px;
  }
  border-top: 1px rgba(200,191,191,0.23) solid;
  height: 215px;
}

.box-shadow {
  position: absolute;
  background-color: rgba(0,0,0, 0.4);
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

#bg-card-home {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#mediaplay {
  top: 70px;
  opacity: 0.7;
  left: 10px;
}

#iphone-card {
  padding-left: 75px;
  margin-top: -4px;
}

#betafamily {
  background-image: image-url("bg-betafamily.png");
  background-size: cover;
  height: 600px;
  position: relative;
  h2 {
    margin-top: 80px;
  }
  h3 {
    margin-top: 28px;
    font-size: 34px;
  }
  p {
    color: white;
    padding-top: 20px;
  }
  img {
    height: 200px;
    margin-top: 75px;
    margin-left: 40px;
  }
}

.modal-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#blackbox-beta {
  position: absolute;
  background-color: rgba(0,0,0, 0.2);
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

#ambassador {
  background-image: image-url("bg-ambassador.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  height: 600px;
  border-top: 1px rgba(161, 236, 233, 0.23) solid;
  h2 {
    margin-top: 80px;
  }
  p {
    color: white;
    line-height: 29px;
    padding-top: 60px;
    font-size: 18px;
  }
  #blackbox-ambassador {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(14, 49, 50, 0.43);
    color: rgb(51, 51, 51);
    z-index: 1;
  }
}

@media only screen and (max-width: 480px) and (orientation : portrait) {

  #banner {
    background-position: center center;
    #btn-home-banner {
      margin-left: 40px;
    }
    #text-home-banner {
      margin-top: 120px;
      margin-bottom: 45px;
    }
    #mc_embed_signup {
      margin-top: 10px;
    }
    #center-btn-subscribe {
      left: 28%;
    }
    #mc_embed_signup_scroll {
      #mc-embedded-subscribe {
        margin-top: 10px;
        position: absolute;
        top: 5px;
        padding-left: 30px;
        padding-right: 30px;
       }
      #mce-EMAIL {
        width: 70%;
       }
     }
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 18px;
    }
  }

  #benefits {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    #home-benefit {
      margin-bottom: 20px;
    }
    #item-benefit {
      margin-bottom: 50px;
    }
    #border-blue {
      margin-bottom: 50px;
    }
  }

  #presentation {
      height: 400px;
      text-align: center;
      h1 {
        font-size: 20px;
        margin-top: 40px;
      }
      #iphone-card {
        width: 80%;
        margin-bottom: 30px;
      }
      #video-mobile {
        width: 98%;
        margin-left: 0%;
      }
      #btn-presentation {
        padding-bottom: 30px;
        margin-top: 0px;
        border-bottom: 1px #E1E1E1 solid;
        }
      }

  #perks {
      h2 {
        font-size: 22px;
        margin-top: 60px;
      }
    }

  #betafamily {
        height: 950px;
        text-align: center;
        #nopadding-betafamily {
          padding-left: 0px;
        }
        img {
            width: 90%;
            margin-left: 1%;
            margin-top: 30px;
        }
        h2 {
          font-size: 19px;
          margin-top: 60px;
        }
      }

  #partner {
    height: 550px;
    #partner-business {
      padding-bottom: 30px;
    }
    #partner-association {
      padding-bottom: 30px;
    }
    h4 {
      font-size: 18px;
    }
  }

  #ambassador {
    height: 700px;
    h1 {
      font-size: 36px;
    }
    #border-blue {
    margin-bottom: 30px;
    margin-left: 16.66667%;
    }
  }

  #support {
    img {
      padding: 10px;
    }
    #support-title {
      padding-bottom: 20px;
    }
    #support-bottom {
      margin-bottom: 30px;
    }
  }

  #border-blue {
    margin-bottom: 30px;
  }

  #nomobile {
      display: none;
    }
}

/* default styles here for older browsers.
      I tend to go for a 600px - 960px width max but using percentages
   */
   @media only screen and (min-width:960px){
       /* styles for browsers larger than 960px; */
   }
   @media only screen and (min-width:1440px){
       /* styles for browsers larger than 1440px; */
   }
   @media only screen and (min-width:2000px){
       /* for sumo sized (mac) screens */
   }
   @media only screen and (max-device-width:480px){
      /* styles for mobile browsers smaller than 480px; (iPhone) */
   }
   @media only screen and (device-width:768px){
      /* default iPad screens */
   }
   /* different techniques for iPad screening */
   @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
     /* For portrait layouts only */
   }

   @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
     /* For landscape layouts only */
   }