.problem,
.presentation-business,
.process,
.benefits,
.sponsoring,
.categories,
.ecosysteme,
.ambassadors,
.supporters {
  position: relative;
  text-align: center;
  border-top: 1px #f1f1f1 solid;
}
// SECTION - PROBLEM
//***************************************************************************//
.problem { background-color: $section-light; }

// SECTION - PRESENTATION
//***************************************************************************//
#presentation-business {
  p {
    line-height: 2em;
  }
}

// SECTION - BENEFITS
//***************************************************************************//
#screenshot {
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 1);

  img {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    }
}

.screenshot-legend {
  padding: 30px 0px;
  margin-left: 50px;

  p {
    margin: 0 !important;
  }
}

#first_asset {
  padding-bottom: 50px;

  #screenshot {
    margin-left: 60px;
  }

  .screenshot-legend {
    p {
      padding: 0;
    }

    h3 {
      color: #00C9FF;
    }
  }
}

#second_asset {
  padding-bottom: 50px;

  .screenshot-legend {
    text-align: right;
    margin-right: 50px;

    h3 {
      color: #36d3da;
    }
  }
}

#third_asset {
  padding-bottom: 50px;

  #screenshot {
    margin-left: 60px;
  }

  .screenshot-legend {

    h3 {
      color: #80F2A4;
    }
  }
}

.benefits {
  position: relative;
  background-color: $turquoise;
  img {
    height: 60px;
    margin-bottom: 15px;
  }
  h2, h3, p, li {
    color: $white;
  }
  strong {
    margin-bottom: 20px;
    color: rgb(108, 203, 253);
  }
  .blackbox {
    position: absolute;
    margin-top: -75px;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.3;
    background-color: rgb(0,0,0);
  }
  .item-benefit {
    display: flex;
    height: 250px;
    margin-bottom: 25px;
    padding: 5px;

    span {
      color: #fff;
    }
  }
}
#business-page {
  h2 {
    color: rgb(51,51,51);
    font-weight: 400;
  }
}
#item-business-problem {
  img {
    height: 140px;
    padding-left: 25px;
  }
  h3 {
    color: rgb(51,51,51);
    font-size: 22px;
    font-weight: 400;
  }
  h4 {
    color: rgb(51,51,51);
  }
}
#business-solution {
  border-top: 1px rgba(216,227,225,0.23) solid;
  border-bottom: 1px rgba(216,227,225,0.23) solid;
  h2 {
    color: white;
    font-weight: 400;
  }
}
.bg-business-benefits {
  position: relative;
  background-image: image-url("bg-business-benefits.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 1500px;
}
#whitebox-business-benefits {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  color: rgb(51,51,51);
  z-index: 1;
}
#business-benefit {
  height: 265px;
  border-bottom: 2px rgba(181, 181, 181, 0.23) solid;
  padding-top: 45px;
  img {
    height: 165px;
    float: left;
  }
  h3 {
    color: rgb(51,51,51);
  }
}

.testimonials {
  background-color: #fff;
  text-align: center;

  .testimonial-item {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 250px;
    margin: 10px;
    padding: 10px 15px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);

    &:before {
      position: absolute;
      content: ' ';
      left: 0;
      bottom: 24px;
      border: 10px solid white;
      border-color: transparent transparent transparent $turquoise;
    }
  }

  .testimonial-user {
    display: flex;
    vertical-align: middle;

    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-left: 6%;
    }
  }

  .testimonial-name {
    padding-top: 5px;
    padding-left: 15px;
    font-size: 14px;

    p {
      line-height: 16px;
      margin-bottom: 0;
    }

    span {
      opacity: .7;
      font-weight: 100;
    }
  }
}

#faq {
  background-color: $section-medium;
  text-align: center;
  margin-top: 0;

  i {
    padding-right: 5px;
  }

  ul {
    list-style-type: none;
    display: block;
    padding: 10px;
    width: 100%;
  }

  li {
    .faq-question-landing {
      text-transform: uppercase;;
      font-weight: 100;
      padding-top: 5px;
      padding-left: 25px;
      padding-bottom: 5px;
      cursor: pointer;
    }

    .faq-answer-landing {
      display: none;
      text-transform: none;
      font-weight: 200;
      padding-top: 5px;
      padding-left: 50px;
      padding-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 480px) and (orientation : portrait) {
  #business-page {
    h1 {
      font-size: 30px;
    }
    #cforgood-background {
      height: 160px;
      h3 {
        font-size: 24px;
      }
    }
    #business-problem {
      margin-top: 40px;
      margin-bottom: 20px;
      h2 {
        font-size: 22px;
      }
      #title-business-problem {
        margin-bottom: 30px;
      }
      #item-business-problem {
        margin-bottom: 30px;
      }
  }
  #business-benefits {
    height: 2450px;
    h3 {
        font-size: 24px;
      }
  }
  #business-benefit {
    border: transparent;
  }
  #item-business-benefit {
      padding-bottom: 50px;
      padding-right: 0px;
      padding-left: 0px;
      text-align: center;
  }
  }
  #icon-business-benefit {
    margin-left: 25% !important;
    padding-left: 0px;
  }
  #write-us-business {
    padding-top: 0px;
  }
  #nomobile {
      display: none;
    }
}
@media only screen and (min-width: 480px) and (orientation : portrait) {
  #nodesktop {
      display: none;
    }
}


// SPECIAL - LANDING CAUSE
//***************************************************************************//@
.mockup-cause {
  .discover, .localise, .enjoy {
    img {
      width: 50%;
      height: 50%
    }
  }
}
