.member-card {
  position: relative;

  .img-card {
    margin-top: 10%;
    width: 100%;
  }

  .img-circle {
    position: absolute;
    width: 35px;
    border-radius: 50%;
    border: 1px solid #636363;
    top: 140px;

    &.user {
      left: 15px;
    }

    &.cause {
      right: 15px;
    }
  }

  span {
    position: absolute;
    font-size: 1rem;
    font-weight: 100;
    top: 145px;

    &.date {
      top: 24px;
      right: 20px;
    }

    &.user {
      left: 60px;
    }

    &.cause {
      right: 60px;
    }
  }
}
