.member-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 320px;
  height: 200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 10px;
  border: 0.5px solid lightgrey;
  box-shadow: inset -1px -13px 0px -4px rgba(0,0,0,0.05);
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    background-image: url('logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 200px;
    width: 70%;
    top: 40px;
    right: -50px;
    opacity: 0.1;
  }

  .validation-date {
    position: relative;
    padding: 0px 15px;
    width: 70%;
    right: 0;
    text-align: right;
    font-size: 12px;
    color: #fff;
    background: -webkit-linear-gradient(90deg, #80F2A4 10%, #00C9FF 90%);
    background: -webkit-linear-gradient(left, #80F2A4 10%, #00C9FF 90%);
    background: linear-gradient(90deg, #80F2A4 10%, #00C9FF 90%);
    border-radius: 0 10px 0 0;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 0;
      height: 0;
      border-top: 0px solid transparent;
      border-bottom: 24px solid white;
      border-right: 14px solid transparent;
    }
  }

  .logo {
    padding-top: 10px;
    text-align: center;
    width: 100%;

    img {
      width: 80px;
    }
  }

  .supervisor_logo {
    width: 30px;
    position: absolute;
    left: 10px;
    top: 2px;
  }

  .member-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;

    img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #fff;
    }

    span {
      font-size: 12px;
      color: #717171;
    }

    span.user {
      margin-left: -20px;
      text-align: left;
    }

     span.cause {
      margin-right: -20px;
      text-align: right;
    }
  }
}

.button-gradient.for-member-card {
  @media (min-width: 768px) {
    position: inherit;
    width: 100%;
    transform: none;
    margin-top: 85px;
  }
}
