.account-li {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 15px;
  height: 100%;
  line-height: 50px;
  border-bottom: none;

  span.number {
    display: block;
    color: #41444a;
    font-size: 30px;
    font-weight: 900;
  }

  li:nth-child(1) {
    padding-top: 15px;
  }
}

.account_container {
  padding-bottom: 10px;
  margin: 0 0 1.5%;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  border-radius: 3px;

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
  }
}

.account-title {
  padding: 10px 20px;
  width: 100%;
  border-radius: 3px 3px 0 0;
  background-color: #29B6F6;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
