<% content_for :meta_title, "Rejoignez-nous !" %>
<% content_for :meta_description %>
<% content_for :meta_image %>

<div class="connexion">
  <span>Connexion</span>
  <div class="signin-user">
    <!-- SIGNIN FORM USER -->
    <%= render "users/sessions/shared/form_signin", resource_name: :user %>
  </div>
  <div class="signin-business">
    <!-- SIGNIN FORM BUSINESS -->
    <%= render "users/sessions/shared/form_signin", resource: Business.new, resource_class: Business, resource_name: :business %>
    <%= binding.pry %>
  </div>
</div>
