<div class="done-overlay hidden">
  <button type="button" class="close-button">&times;</button>
  <div class="code-perk-offline">
    <p>N'étant pas encore membre, vous ne pouvez pas encore bénéficier du bon plan !</p>
    <%= link_to "M'abonner maintenant", member_user_profile_url(current_user), class: "button-turquoise" %>
  </div>
</div>
