<div class="done-overlay hidden">
  <button type="button" class="close-button">&times;</button>
  <div class="offline-code">
    <p>N'étant pas encore membre, vous ne pouvez pas bénéficier du bon plan !</p>
    <div class="offline-legend">
      <%= link_to "M'abonner maintenant", member_user_profile_path(current_user, anchor: 'subscription'), class: "button button-turquoise" %>
    </div>
  </div>
</div>
