.perk-board {
  position: relative;
  max-width: 1028px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);

  /* BUSINESS PIC + NAME & CATEGORY *******************************************/
  .perk-header {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 260px;
    border-radius: 4px 4px 0 0;

    &:after {
      position:absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.2);
    }

    h1 {
      position: absolute;
      width: 81%;
      margin: 0;
      padding: 0;
      bottom: 12px;
      left: 19%;
      font-size: 28px;
      font-weight: 600;
      text-transform: none;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
      color: #fff;
      z-index: 2;

      small {
        color: #fff;
        font-size: 16px;
      }
    }

    /* OWNER PIC + ADRESSE ****************************************************/
    .perk-owner {
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      bottom: 0;
      left: 30px;
      bottom: -65px;
      border: 3px solid #fff;
      z-index: 2;
    }

    span {
      background-color: #fff;
      padding: 10px 20px 11px 40px;
      border-radius: 0 0 4px 0;
      position: absolute;
      bottom: -45px;
      z-index: 1;
      left: 155px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);

      font-size: 13px;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.7);

      .fa-map-marker {
        color: #36d3da;
        margin-right: 5px;
      }
    }
  }

  /* MAP **********************************************************************/
  #map-perk {
    height: 220px;
    border-top: 3px solid #fff;
    opacity: 0.4;
  }

  /* CTA ON MAP - BON PLAN ****************************************************/
  .section-perk {
    display: flex;
    margin-top: -140px;
    padding: 0 30px;
    width: 60%;
    right: 0;
    background-color: transparent;
    position: absolute;

    .description-perk {
      padding: 20px;
      width: 75%;
      background-color: #fff;
      border-radius: 4px 0 0 4px;
      z-index: 3;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);

      h2 {
        margin: 0;
        font-size: 28px;
        font-weight: 600;
        text-transform: none;
        color: #71bbc6;
      }

      span {
        text-transform: uppercase;
        font-size: 12px;
        color: #797979;
      }
    }

    /* USE - BON PLAN *********************************************************/
    .use-perk {
      display: flex;
      justify-content: center;
      align-items: stretch;
      width: 25%;
      background-color: #71bbc6;
      border-radius: 0 4px 4px 0;
      z-index: 2;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);

      .use-button {
        width: 100%;
        border: none;
        border-radius: 0 4px 4px 0;
        text-transform: uppercase;
        color: #fff;
        background-color: #71bbc6;
        @include transition(all 0.3s ease-in-out);

        &:hover {
          background-color: #61A6B1;
          box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2);
        }
      }
    }

    /* MODAL - USE CODE *******************************************************/
    .modal-dialog {
      width: 460px;
      margin: 130px auto;
    }
  }

  /* BUSINESS - DESCRIPTION ***************************************************/
  .section-business {
    display: flex;
    padding: 30px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;

    h3 {
      font-weight: 600;
      font-size: 16px;
    }

    .business-details {
      width: 60%;
      padding-right: 30px;

      p {
        font-weight: 300;
        font-size: 13px;
        color: #5E5E5E;
      }

      ul {
        list-style: none;
        display: inline-block;

        li {
          float: left;
          margin-right: 20px;

          a {
            color: #71bbc6;

            &:hover {
              color: #61A6B1;
            }
          }

          span {
            font-weight: 300;
            font-size: 13px;
            color: #5E5E5E;
          }
        }
      }

      ul.network {
        li {
          margin-right: 5px;
        }
      }

      i {
        background-color: #71bbc6;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        margin-right: 5px;
        text-align: center;
        @include transition(all 0.3s ease-in-out);

        &:hover {
          background-color: #61A6B1;
        }

        &:before {
          font-size: 11px;
          color: #fff;
        }
      }
    }

    /* BUSINESS - MORE PERKS **************************************************/
    .business-more-perks {
      width: 40%;

      .listing-perks {
        position: relative;
        height: 290px;
        top: 5px;
        overflow-y: scroll;
        opacity: 0.6;
        @include transition(all 0.3s ease-in-out);

        &:hover {
          opacity: 1;
        }

        ul {
          list-style: none;

          li {
            position: relative;
            height: 65px;
            font-size: 14px;
            text-transform: uppercase;
            border-bottom: 1px solid #fff;
            @include transition(all 0.3s ease-in-out);
            background-color: #71bbc6;

            &:hover {
              background-color: #61A6B1;
            }

            a {
              position: absolute;
              padding: 20px;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              color: #fff;
            }

            .fa {
              position: absolute;
              top: 25px;
              right: 20px;
            }
          }
        }
      }
    }
  }
}

/* MODAL - USE CODE  **********************************************************/

.offline-itineraire, .offline-code {
  background-color: #f9f9f9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);
}

.offline-itineraire {
  padding-bottom: 10px;
  &-legend {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
}

.offline-code-legend {
  margin-top: 30px;
  padding-top: 10px;
}

