.perk-background {
  background-image: url("background.png");
  background-size: cover;
}

.blackbox-business {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.3);
  color: rgb(240, 240, 240);
  z-index: 1;
}

#title-business-show {
  position: relative;
  z-index: 2;
  h1 {
    margin-top: 10px !important;
  }
  img {
    height: 65px;
  }
}

#business-show-header {
  position: relative;
  h1 {
    margin-top: 10px !important;
  }
  img {
    height: 65px;
  }
}

#bg-business-show {
  background-image: url("background15.png");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  .fa {
    padding-left: 20px;
    font-size: 20px;
  }
}

