.dashboard-cards {
  padding: 30px 30px 90px;

  .header-cards{
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-color: #71bbc6;
    height: 200px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 30px;

    .business-filter {
      margin: 0 auto;
      width: 80%;
      z-index: 2;

      .filter-category.current {
        .icone-category {
          background-color: #fff;
        }
      }

      .slick-prev,
      .slick-next {
        width: 35px;
        height: 35px;
        background-color: #fff;
        border-radius: 50%;

        &:before {
          font-family: 'FontAwesome';
          color: #61A6B1;
        }
      }

      .slick-prev {
        left: -50px;

        &:before {
          content:"\f104";
        }
      }

      .slick-next {
        right: -50px;

        &:before {
          content:"\f105";
        }
      }

      .filter-category {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        @include transition(all 0.3s ease-in-out);

        &:hover {
          background-color: #61A6B1;
          border-radius: 4px;
        }

        .icone-category {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 80px;
          background: rgba(255,255,255,0.6);
          border-radius: 50%;

          img {
            width: 50px;
          }
        }

        span {
          display: block;
          margin-top: 10px;
          bottom: -30px;
          color: #fff;
          font-weight: 100;
        }
      }
    }
  }

  .index-cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 30px;
    //width: 100%;
    width: 1028px;
    background-color: #fff;
    border-radius: 4px;

    .card-frame {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      //width: 31.33333%;
      width: 302px;
      position: relative;
      margin: 1%;

      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.07);
      cursor: pointer;

      @include transition(all 0.3s);


      &:hover {
        box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2);
        .card-body {
          .goto-perk {
            background-color: #61A6B1;
          }
        }
      }

      .card-header {
        position: relative;
        background-size: cover;
        background-repeat: none;
        background-position: center;
        height: 230px;
        border-radius: 4px 4px 0 0;

        &:after {
          content: "";
          position: absolute;
          width : 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.2);
          z-index: 1;
        }

        h3 {
          position: absolute;
          width: 60%;
          margin: 0;
          bottom: 0;
          padding: 10px;
          color: #fff;
          font-size: 18px;
          font-weight: 600;
          text-transform: none;
          text-align: left;
          z-index: 2;
          right: 0;
          text-shadow: 1px 1px rgba(0,0,0,0.3);
        }

        .card-logo,
        .card-owner {
          position: absolute;
          background-size: cover;
          background-repeat: none;
          background-position: center;
          width: 100px;
          height: 100px;
          left: 15px;
          bottom: -53px;
          border-radius: 50%;
          border: 3px solid #fff;
          z-index: 2;
        }

        .card-logo {
          border: 3px solid #71bbc6;
        }
      }

      .card-body {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 250px;
        width: 100%;

        .business-details {
          padding: 10px;
          margin-left: 40%;
          width: 60%;
          text-align: left;
          right: 0px;

          span {
            display: block;
            line-height: 20px;
            font-size: 13px;
            font-weight: 300;
            color: rgba(0,0,0,0.7);
            i {
              color: $turquoise;
              margin-right: 5px;
            }
          }
        }

        .cause-description,
        .perk-description {
          padding: 10px;
          width: 100%;
          font-size: 20px;
          text-align: center;
          text-transform: uppercase;
          color: #888888;
        }

        .cause-description {
          padding: 25px 10px;
          font-size: 12px;
          text-align: justify;
          line-height: 20px;
          text-transform: none;
        }

        .goto-perk {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          padding:15px;
          width: 100%;
          height: 65px;
          bottom: 0;
          font-size: 14px;
          text-transform: uppercase;
          text-align: center;
          color: #fff;
          background-color: #71bbc6;
          border-radius: 0 0 4px 4px;
          @include transition(all 0.3s);

          i {
            margin-left: 10px;
          }

          &:before {
            content: "";
            position: absolute;
            display: inline-block;
            border: 10px solid white;
            border-color: #fff transparent transparent transparent;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}