.perk-board {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);

  .perk-header {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 260px;
    border-radius: 4px 4px 0 0;

    &:after {
      position:absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.2);
    }

    h1 {
      position: absolute;
      width: 83%;
      margin: 0;
      padding: 0;
      bottom: 12px;
      left: 17%;
      font-size: 28px;
      font-weight: 600;
      text-transform: none;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
      color: #fff;
      z-index: 2;
    }

    .perk-owner {
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      width: 130px;
      height: 130px;
      bottom: 0;
      left: 30px;
      bottom: -65px;
      border: 3px solid #fff;
      z-index: 2;
    }

    span {
      background-color: #fff;
      padding: 10px 20px 11px 40px;
      border-radius: 0 0 4px 0;
      position: absolute;
      bottom: -45px;
      z-index: 1;
      left: 135px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);

      font-size: 13px;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.7);

      .fa-map-marker {
        color: #36d3da;
        margin-right: 5px;
      }
    }
  }

  #map-perk {
    height: 220px;
    border-top: 3px solid #fff;
    opacity: 0.4;
  }

  .section-perk {
    display: flex;
    margin-top: -140px;
    padding: 0 30px;
    width: 60%;
    right: 30px;
    background-color: transparent;
    position: absolute;

    .description-perk {
      padding: 20px;
      width: 75%;
      background-color: #fff;
      border-radius: 4px 0 0 4px;
      z-index: 3;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);

      h2 {
        margin: 0;
        font-size: 28px;
        font-weight: 600;
        text-transform: none;
        color: #71bbc6;
      }

      span {
        text-transform: uppercase;
        font-size: 12px;
        color: #797979;
      }
    }

    .use-perk {
      display: flex;
      justify-content: center;
      align-items: stretch;
      width: 25%;
      background-color: #71bbc6;
      border-radius: 0 4px 4px 0;
      z-index: 2;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);

      .use-button {
        width: 100%;
        border: none;
        border-radius: 0 4px 4px 0;
        text-transform: uppercase;
        color: #fff;
        background-color: #71bbc6;
        @include transition(all 0.3s ease-in-out);

        &:hover {
          background-color: #61A6B1;
          box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .section-business {
    display: flex;
    padding: 30px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;

    h3 {
      font-weight: 600;
      font-size: 16px;
    }

    .business-details {
      width: 60%;
      padding-right: 30px;

      p {
        font-weight: 300;
        font-size: 13px;
        color: #5E5E5E;
      }

      ul {
        list-style: none;
        display: inline-block;

        li {
          float: left;
          margin-right: 10px;

          a {
            color: #71bbc6;

            &:hover {
              color: #61A6B1;
            }
          }

          span {
            font-weight: 300;
            font-size: 13px;
            color: #5E5E5E;
          }
        }
      }

      i {
        background-color: #71bbc6;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        margin-right: 10px;
        text-align: center;

        &:before {
          font-size: 11px;
          color: #fff;
        }
      }
    }

    .business-network {
      width: 40%;
    }
  }
}

/******************************************************************************/

#bg-show-business-header {
  background-position: center center;
  background-size: cover;
  height: 130px;
  position: relative;
  border-radius: 5px;
  z-index: 1;
}

#bg-show-business-body {
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  height: 330px;
}

.cforgood-background-business-show {
  background: -webkit-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* W3C */
  height: 120px;
  border-bottom: 2px rgba(53, 60, 59, 0.23) solid;
  font-variant: small-caps;
  h3 {
    color: white;
    font-size: 32px;
  }
}

#info-business-show-body {
  strong {
    font-family: "Open Sans", "sans-serif" !important;
    font-weight: 400;
  }
}

#name-show-header {
  left: 29%;
  top: 28%;
  h1 {
    font-size: 32px;
  }
}

#address-show-header {
  top: 112%;
  left: 15%;
  color: white;
  strong {
    font-family: "Open Sans", "sans-serif" !important;
    font-size: 15px;
    font-weight: 400;
  }
  p {
    font-size: 15px;
  }
}

#business-perk-show-header {
  top: 45px;
  h3 {
    margin: 5px;
    font-size: 30px;
  }
}

#border-show-header {
  border-top: 1px rgba(255, 255, 255, 1) solid;
  margin-top: 75px;
}

#title-business-show {
  position: relative;
  z-index: 2;
  h1 {
    margin-top: 10px !important;
  }
  img {
    height: 65px;
  }
}

#business-show-header {
  position: relative;
  h1 {
    margin-top: 10px !important;
  }
  img {
    height: 65px;
  }
}

#border-show-body {
    border: 1px #000000 solid;
    opacity: 0.1;
    width: 64%;
}

#description-perk-body {
  margin-top: 10px;
}

#details-perk-body {
  margin-top: 20px;
  h3 {
    color: rgb(51,51,51);
  }
}

.details-perk-btn-profit {
  margin-top: 10%;
  margin-left: 40%;
  color: #fff;
}

.whitebox-show-business {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  color: rgb(51,51,51);
  z-index: 0;
}

.blackbox-show-business {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(51,51,51, 0.65);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  z-index: 0;
}

#links-business {
    margin-top: -3px;

  #nopadding-business {
    padding-left: 0px;
    padding-right: 0px;
  }
  .link-facebook-business {
    background-color: #4E689C;
    color: white;
    &:hover {
      opacity: 0.9;
      text-decoration: none;
      outline: none;
    }
  }

  .link-instagram-business {
    background-color: #3E78A3;
    color: white;
    &:hover {
      opacity: 0.9;
      text-decoration: none;
      outline: none;
    }
  }
  .link-mail-business {
    background-color: #36D3DA;
    color: white;
    &:hover {
      opacity: 0.9;
      text-decoration: none;
      outline: none;
    }
  }
  .link-website-business {
    background-color: #64EEC2;
    color: white;
    &:hover {
      opacity: 0.9;
      text-decoration: none;
      outline: none;
    }
  }

  .business-icon {
    position: relative;
    top: 6px;
  }

  .business-icon-container {
    display: block;
    height: 34px;
    width: 34px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    border-color: rgba(51,51,51,0.1);
  }

  .link-business {
    background-color: #3E78A3;
    color: white;
    & a:link, a:visited, a:active {
      opacity: 0.9;
      text-decoration: none;
      outline: none;
      color: white;
    }
  }
}

.map-business {
    border-radius: 5px;
    border: 4px #36D3DA solid;
}

#business-show-body {
  p {
    font-size: 16px;
  }
  strong {
    font-family: "Open Sans", "sans-serif" !important;
    font-size: 16px;
    font-weight: 400;
  }
  background-image: image-url("bg-business-show.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.perk_code {
  color: rgb(51,51,51);
}
