
.dashboard-perk {
  min-height: 100%;
  padding: 20px 20px 120px;

  .switch-tab {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);

    .switch-active {
      position: absolute;
      width: 50%;
      height: 100%;
      background-color: #fff;
      z-index: 0;
      @include transition(all 0.3s ease-in-out);
    }

    .activated {
      transform: translateX(100%);
    }

    .switch-button,
    .switch-button:hover,
    .switch-button:active,
    .switch-button:focus {
      padding: 5px 0;
      width: 50%;
      border: none;
      background-color: transparent;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      color: #636363;
      z-index: 1;
      outline: none;
    }
  }

  .perk-image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 10px 20px;
    width: 100%;
    height: auto;
    border-radius: 3px 3px 0 0;
    text-shadow: 1px 1px rgba(0,0,0,0.2);

    &:after {
      position:absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.6;
      //background-color: rgba(0, 0, 0, 0.6);
      background: -webkit-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
      background: -webkit-linear-gradient(left, #00C9FF 10%, #80F2A4 90%);
      background: linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
      border-radius: 3px 3px 0 0;
    }

    .flash-notification {
      position: relative;
      padding: 0px 10px;
      left: -3px;
      border-radius: 20px;
      color: #fff;
      background-color: #f55b5b;
      z-index: 1;

      .fa {
        margin-right: 5px;
        font-size: 14px;
      }
    }

    .availabilities {
      position: relative;
      display: block;
      margin-bottom: 10px;
      color: #fff;
      font-size: 12px;
      z-index: 1;
    }

    h1 {
      position: relative;
      padding: 10px 0;
      margin: 0;

      left: 0;
      text-align: left;
      font-size: 20px;
      color: #fff;
      font-weight: 600;
      z-index: 10;
    }

    p {
      position: relative;
      padding: 10px 0;
      margin: 0;
      left: 0;
      font-size: 14px;
      color: #fff;
      text-align: left;
      z-index: 10;
    }

    .use-perk {
      position: relative;
      z-index: 15;
      margin-top: 10px;

      button {
        padding: 10px 20px;
        margin: 0;
        width: 100%;
        background-color: green;
        color: #fff;
        text-transform: uppercase;
        border: none;
        background-color: #8BBD99;
        border-radius: 3px;
        font-size: 16px;
        font-weight: 600;
        outline: none;
      }

      .empty {
        color: #cdcdcd;
        background-color: #f4f4f4;
      }
    }
  }

  .perk-owner {
    position: relative;
    padding: 15px 10px 10px;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    overflow: hidden;

    .owner-details {
      display: flex;
      align-items: center;

      img {
        margin-right: 10px;
        height: 65px;
        width: 65px;
        border-radius: 50%;
      }

      span {
        font-weight: 600;
        text-transform: uppercase;
        color: #636363;

        small {
          font-weight: 100;
          text-transform: none;
        }
      }
    }

    #map-perk {
      margin-top: 15px;
      height: 120px;
      opacity: 0.4;

      .mapboxgl-ctrl-attrib {
        display: none;
      }
    }

    .business-address {
      position: absolute;
      bottom: 5px;
      font-size: 12px;
      right: 5px;
      background-color: #fff;
      padding: 5px 10px;
      border-radius: 3px 0 0 0;

      .fa {
        margin-right: 5px;
      }
    }
  }

  .flip-container {
    position: relative;
    perspective: 1000px;

    .flipper {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transition: all 1s;
      backface-visibility: hidden;

      figure {
        margin: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        z-index: 0;
      }

      .front {
        min-height: 470px;
        margin-bottom: 120px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      }

      .back {
        display: flex;
        flex-direction: column;
        min-height: 470px;
        margin-bottom: 120px;
        background-color: #fff;
        transform: rotateY( 180deg );
      }
    }

    .flipped {
      transform: rotateY( 180deg );
    }
  }



































  .organisation-board {
    position: relative;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);

    /* BUSINESS PIC + NAME & CATEGORY *******************************************/
    .organisation-header {
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 220px;
      border-radius: 4px 4px 0 0;

      &:after {
        position:absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.2);
      }

      h1 {
        position: absolute;
        width: 81%;
        margin: 0;
        padding: 0;
        bottom: 12px;
        left: 19%;
        font-size: 28px;
        font-weight: 600;
        text-transform: none;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
        color: #fff;
        z-index: 2;

        small {
          color: #fff;
          font-size: 16px;
        }
      }

      /* OWNER PIC + ADRESSE ****************************************************/
      .cause-logo,
      .perk-owner {
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        bottom: 0;
        left: 30px;
        bottom: -65px;
        border: 3px solid #fff;
        z-index: 2;
      }

      .cause-logo {
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
      }

      span {
        background-color: #fff;
        padding: 10px 20px 11px 40px;
        border-radius: 0 0 4px 0;
        position: absolute;
        bottom: -45px;
        z-index: 1;
        left: 155px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);

        font-size: 13px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.7);

        .fa-map-marker {
          color: #36d3da;
          margin-right: 5px;
        }
      }
    }

    /* MAP **********************************************************************/
    #map-perk {
      height: 220px;
      border-top: 3px solid #fff;
      opacity: 0.4;
    }

    /* CTA ON MAP - BON PLAN ****************************************************/
    .section-perk {
      display: flex;
      margin-top: -140px;
      padding: 0 30px;
      width: 60%;
      right: 0;
      background-color: transparent;
      position: absolute;

      .description-perk {
        padding: 20px;
        width: 75%;
        background-color: #fff;
        border-radius: 4px 0 0 4px;
        z-index: 3;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);

        h2 {
          margin: 0;
          font-size: 28px;
          font-weight: 600;
          text-transform: none;
          color: #71bbc6;
        }

        span {
          text-transform: uppercase;
          font-size: 12px;
          color: #797979;
        }
      }

      /* USE - BON PLAN *********************************************************/
      .use-perk {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: 25%;
        background-color: #71bbc6;
        border-radius: 0 4px 4px 0;
        z-index: 2;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);

        .use-button {
          width: 100%;
          border: none;
          border-radius: 0 4px 4px 0;
          text-transform: uppercase;
          color: #fff;
          background-color: #71bbc6;
          @include transition(all 0.3s ease-in-out);

          &:hover {
            background-color: #61A6B1;
            box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2);
          }
        }
      }

      /* MODAL - USE CODE *******************************************************/
      .modal-dialog {
        width: 460px;
        margin: 130px auto;
      }
    }

    /* BUSINESS - DESCRIPTION ***************************************************/
    .section-cause,
    .section-business {
      display: flex;
      padding: 30px;
      background-color: #fff;
      border-radius: 0 0 4px 4px;

      h3 {
        font-weight: 600;
        font-size: 16px;
      }

      .cause-details,
      .cause-info,
      .business-details {
        width: 60%;
        padding-right: 30px;

        p {
          font-weight: 300;
          font-size: 13px;
          color: #5E5E5E;
        }

        ul {
          list-style: none;
          display: inline-block;

          li {
            float: left;
            margin-right: 20px;

            a {
              color: #71bbc6;

              &:hover {
                color: #61A6B1;
              }
            }

            span {
              font-weight: 300;
              font-size: 13px;
              color: #5E5E5E;
            }
          }
        }

        ul.network {
          li {
            margin-right: 5px;
          }
        }

        i {
          background-color: #71bbc6;
          border-radius: 50%;
          height: 20px;
          width: 20px;
          margin-right: 5px;
          text-align: center;
          @include transition(all 0.3s ease-in-out);

          &:hover {
            background-color: #61A6B1;
          }

          &:before {
            font-size: 11px;
            color: #fff;
          }
        }
      }

      /* BUSINESS - MORE PERKS **************************************************/
      .cause-info,
      .business-more-perks {
        width: 40%;

        .listing-perks {
          position: relative;
          height: 290px;
          top: 5px;
          overflow-y: scroll;
          opacity: 0.6;
          @include transition(all 0.3s ease-in-out);

          &:hover {
            opacity: 1;
          }

          ul {
            list-style: none;

            li {
              position: relative;
              height: 65px;
              font-size: 14px;
              text-transform: uppercase;
              border-bottom: 1px solid #fff;
              @include transition(all 0.3s ease-in-out);
              background-color: #71bbc6;

              &:hover {
                background-color: #61A6B1;
              }

              a {
                position: absolute;
                padding: 20px;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                color: #fff;
              }

              .fa {
                position: absolute;
                top: 25px;
                right: 20px;
              }
            }
          }
        }
      }
    }
  }
}

/* MODAL - USE CODE  **********************************************************/

.offline-itineraire, .offline-code {
  background-color: #f9f9f9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);
}

.offline-itineraire {
  padding-bottom: 10px;

  &-legend {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
}

.offline-code-legend {
  margin-top: 30px;
  padding-top: 10px;
}

.section-cause {
  padding: 50px 30px 30px;
  border-top: 20px solid #71bbc6;
}


