.business-search-index-js {
  position: fixed;
  width: 100%;
  height: calc(100% - 50px);
  bottom: 0;
  left: 0;
  z-index: 60000;
  background-color: white;

  @media (min-width: 768px) {
    width: calc(100% - 90px);
    height: calc(100% - 141px);
    left: 90px;
    border-left: 1px solid rgba(55,55,55,0.2);
  }
}

.business-search-index-js-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgba(55,55,55,0.2);
  padding-left: 25px;
}

.business-search-close-button {
  cursor: pointer;
}

.business-search-close-button-mobile {
  background-color: grey;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  @media (min-width: 768px) {
    display: none;
  }
}

.bsmd-container {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: scroll;

  @media (min-width: 768px) {
    padding-left: 30%;
    padding-right: 30%;
  }
}

.business-index-card {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
  padding-bottom: 5px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

#business-search-modal {
  width: 100%;
  height: 100%;
}

ul.list {
  width: 100%;
  min-width: 270px;
  padding-bottom: 200px;
}

.bic-left {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.bic-middle {
  flex: 8;
  display: flex;
  flex-direction: column;
  color: #404040;
}

.bic-middle-top {
  width: 100%;
  flex: 6;
  display: flex;
  align-item: flex-start;
  justify-content: flex-start;
  font-size: 14px;
}

.bic-middle-center {
  width: 100%;
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bic-middle-bottom {
  width: 100%;
  flex: 6;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 14px;
}

.bic-photo {
  width: 134px;
  height: 112px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.business-name {
  font-size: 16px;
  font-weight: 600;
}

.business-activity, .business-category-name {
  margin-top: 2px;
  font-size: 14px;
  line-height: 16px;
}

.text-count-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  padding-left: 45px;
  align-items: center;

  @media (max-width: 767px) {
    display: none;
  }
}

.text-count {
  font-size: 14px;
  font-weight: bolder;
}
