.dashboard-view-perks {
  padding: 0;

  .container-perk-cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 20px 20px 70px;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 4px;

    .card-frame {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      margin-bottom: 20px;

      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      cursor: pointer;

      @include transition(all 0.3s);


      &:hover {
        box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2);
        .card-body {
          .goto-perk {
            background-color: #61A6B1;
          }
        }
      }

      .card-header {
        display: flex;
        position: relative;
        background-size: cover;
        position: absolute;
        width: 100%;
        z-index: 10;
        background-color: #fff;
        min-height: 50px;
        border-radius: 3px 3px 0 0;

        .card-header-main {
          display: flex;
          flex-direction: column;
          padding: 10px 10px 5px;
          width: 75%;

          .perk-title {
            color: #636363;
            text-transform: uppercase;
            font-weight: 100;
          }

          .perk-owner {
            margin-top: -5px;
            font-size: 10px;
            color: #636363;
            opacity: 0.9;
          }
        }

        .card-header-category {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 20%;
          height: 100%;
          max-width: 75px;
          font-size: 20px;
          color: #fff;

          .category-container {
            width: 55px;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            top: 15px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        .card-logo,
        .card-owner {
          position: absolute;
          background-size: cover;
          background-repeat: none;
          background-position: center;
          width: 100px;
          height: 100px;
          left: 15px;
          bottom: -53px;
          border-radius: 50%;
          border: 3px solid #fff;
          z-index: 2;
        }

        .card-logo {
          border: 3px solid #71bbc6;
        }
      }

      .card-body {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 220px;
        width: 100%;
        border-radius: 3px;
        background-size: cover;
        background-repeat: none;
        background-position: center;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0.35;
          border-radius: 3px;
          background-color:rgba(0,0,0,0.4);
        }

        .business-details {
            padding: 10px;
            position: absolute;
            width: 85%;
            text-align: left;
            left: 0;
            z-index: 10;
            color: #fff;
            bottom: 0;
            font-weight: 600;

            h3 {
              padding: 0;
              margin: 0;
              font-weight: 600;
              text-shadow: 0px 1px rgba(0,0,0,0.6);
            }

          span {
            display: block;
            line-height: 20px;
            font-size: 13px;
            font-weight: 300;
            color: rgba(0,0,0,0.7);
            i {
              color: $turquoise;
              margin-right: 5px;
            }
          }
        }

        .cause-description,
        .perk-description {
          padding: 10px;
          width: 100%;
          font-size: 20px;
          text-align: center;
          text-transform: uppercase;
          color: #888888;
        }

        .cause-description {
          padding: 25px 10px;
          font-size: 12px;
          text-align: justify;
          line-height: 20px;
          text-transform: none;
        }

        .goto-perk {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          padding:15px;
          width: 100%;
          height: 65px;
          bottom: 0;
          font-size: 14px;
          text-transform: uppercase;
          text-align: center;
          color: #fff;
          background-color: #71bbc6;
          border-radius: 0 0 4px 4px;
          @include transition(all 0.3s);

          i {
            margin-left: 10px;
          }

          &:before {
            content: "";
            position: absolute;
            display: inline-block;
            border: 10px solid white;
            border-color: #fff transparent transparent transparent;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}
