/* SHOW - PERK ****************************************************************/

.dashboard-perk {
  min-height: 100%;
  padding: 20px 20px 120px;

  /* SWITCH CARD FACE *********************************************************/
  .switch-tab {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);

    .switch-active {
      position: absolute;
      width: 50%;
      height: 100%;
      background-color: #fff;
      z-index: 0;
      @include transition(all 0.3s ease-in-out);
    }

    .activated {
      transform: translateX(100%);
    }

    .switch-button,
    .switch-button:hover,
    .switch-button:active,
    .switch-button:focus {
      padding: 5px 0;
      width: 50%;
      border: none;
      background-color: transparent;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      color: #636363;
      z-index: 1;
      outline: none;
    }
  }

  .flip-container {
    position: relative;
    perspective: 1000px;

    /* CARD *******************************************************************/
    .flipper {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transition: all 1s;
      //backface-visibility: hidden;

      figure {
        margin: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        z-index: 0;
      }

      /* CARD - FRONT & BACK COMMON STYLES*/
      .perk-image {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 10px 10px 20px;
        width: 100%;
        height: auto;
        border-radius: 3px 3px 0 0;
        text-shadow: 1px 1px rgba(0, 0, 0, .5);

        &:after {
          position:absolute;
          content: "";
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0.6;
          //background-color: rgba(0, 0, 0, 0.6);
          background: -webkit-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
          background: -webkit-linear-gradient(left, #00C9FF 10%, #80F2A4 90%);
          background: linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
          border-radius: 3px 3px 0 0;
        }
      }


      /* CARD - FRONT FACE ****************************************************/
      .front {
        min-height: 470px;
        margin-bottom: 120px;

        /* BLOCK - PERK **********************/
        .perk-image {
          /* IF FLASH **********************/
          .flash-notification {
            position: relative;
            padding: 0px 10px;
            left: -3px;
            border-radius: 20px;
            color: #fff;
            background-color: #f55b5b;
            z-index: 1;

            .fa {
              margin-right: 5px;
              font-size: 14px;
            }
          }

          .availabilities {
            position: relative;
            display: block;
            margin-bottom: 10px;
            color: #fff;
            font-size: 12px;
            z-index: 1;
          }

          h1 {
            position: relative;
            padding: 10px 0;
            margin: 0;
            left: 0;
            text-align: left;
            font-size: 20px;
            color: #fff;
            font-weight: 600;
            z-index: 10;
          }

          p {
            position: relative;
            padding: 10px 0;
            margin: 0;
            left: 0;
            font-size: 14px;
            color: #fff;
            text-align: left;
            z-index: 10;
          }

          /* USE BUTTON **********************/
          .use-perk {
            position: relative;
            z-index: 15;
            margin-top: 10px;

            button {
              padding: 10px 20px;
              margin: 0;
              width: 100%;
              background-color: green;
              color: #fff;
              text-transform: uppercase;
              border: none;
              background-color: #8BBD99;
              border-radius: 3px;
              font-size: 16px;
              font-weight: 600;
              outline: none;
            }

            .empty {
              color: #cdcdcd;
              background-color: #f4f4f4;
            }
          }
        }

        /* BLOCK - OWNERS **********************/
        .perk-owner {
          position: relative;
          padding: 15px 10px 10px;
          background-color: #fff;
          border-radius: 0 0 3px 3px;
          overflow: hidden;

          .owner-details {
            display: flex;
            align-items: center;

            img {
              margin-right: 10px;
              height: 65px;
              width: 65px;
              border-radius: 50%;
            }

            span {
              font-weight: 600;
              text-transform: uppercase;
              color: #636363;

              small {
                font-weight: 100;
                text-transform: none;
              }
            }
          }
        }

        /* BLOCK - MAP **************************/
        #map-perk {
          margin-top: 15px;
          height: 120px;
          opacity: 0.4;

          .mapboxgl-ctrl-attrib {
            display: none;
          }
        }

        .business-address {
          position: absolute;
          bottom: 5px;
          font-size: 12px;
          right: 5px;
          background-color: #fff;
          padding: 5px 10px;
          border-radius: 3px 0 0 0;

          .fa {
            margin-right: 5px;
          }
        }
      }

      /* CARD - BACK FACE ****************************************************/
      .back {
        display: flex;
        flex-direction: column;
        min-height: 470px;
        margin-bottom: 120px;
        background-color: #fff;
        border-radius: 3px;
        transform: rotateY( 180deg );

        .business-card {
          min-height: 470px;
          background-color: #fff;
          border-radius: 3px;

          .perk-image {
            height: 160px;

            h1 {
              position: absolute;
              padding: 10px 0;
              margin: 0;
              left: 125px;
              bottom: 0;
              text-align: left;
              font-size: 20px;
              color: #fff;
              font-weight: 600;
              z-index: 10;
            }

            img {
              position: absolute;
              width: 100px;
              height: 100px;
              bottom: -50px;
              border: 3px solid #fff;
              border-radius: 50%;
              z-index: 1;
            }
          }

          .profile-card {
            padding-top: 45px;

            h3 {
              text-transform: uppercase;
              font-size: 16px;
              font-weight: 600;
            }

            p {
              font-size: 14px;
            }
          }

          .slick-slider {
            margin-bottom: 90px;
            background-color: #fff;
            border-radius: 0 0 3px 3px;

            .slick-slide {
              padding: 0 10px;

              #map-perk {
                margin-top: 15px;
                height: 120px;
                opacity: 0.4;

                .mapboxgl-ctrl-attrib {
                  display: none;
                }
              }

              ul {
                display: flex;
                list-style: none;
                margin: 10px 0;

                li {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 0 1px;
                  width: 25%;
                  background-color: #f4f4f4;

                  .business-link,
                  .business-link:active,
                  .business-link:focus {
                    padding: 10px;
                    width: 100%;
                    text-align: center;
                    color: #fff;
                  }

                  .link-website { background-color: #636363; }
                  .link-mailto { background-color: #9ECE89; }
                  .link-facebook { background-color: #4a66a0; }
                  .link-twitter { background-color: #1da1f2; }
                  .link-instagram { background-color: #145889; }
                }

                li:first-child {
                  margin: 0 1px 0 0;
                  a { border-radius: 3px 0 0 3px; }
                }

                li:last-child {
                  margin: 0 0 0 1px;
                  a { border-radius: 0 3px 3px 0; }
                }
              }

              ul.reach-us {

                li {
                  margin: 0;
                  width: 33.33333%;
                }

                li:nth-child(2) {
                  margin: 0 2px;
                }
              }
            }
          }

          .slick-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            background-color: #636363;
            top: 0;

            li {
              margin: 0;
            }

            li button::before {
              font-size: 30px;
              color: #fff;
            }
          }
        }
      }
    }

    .flipped {
      transform: rotateY( 180deg );
    }
  }
}

/* MODAL - USE CODE  **********************************************************/

.offline-itineraire, .offline-code {
  background-color: #f9f9f9;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);
}

.offline-itineraire {

  padding-bottom: 25px;
  margin-bottom: 10px;

  &-legend {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
}

.offline-code {
  height: 220px;
  padding: 15px;

  &-code-legend {
   margin-top: 30px;
   padding: 10px;
 }
}

.done-overlay {
  button.close-button {
    position: absolute;
    color: white;
    background: transparent;
    border: none;
    font-weight: 200;
    top: 110px;
    left: 310px;
    z-index: 200;
  }
}

.flip-container-mobile {
  width: 300px;
  height: 400px;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  position: relative;
  perspective: 1000px;

  .flipper-mobile {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s;

    figure {
      margin: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .front {

    }

    .back {
      transform: rotateX( 180deg );
    }
  }

  .flipped {
    transform: rotateX( 180deg );
  }
}







