/* MODAL - USE CODE  **********************************************************/


//ADRIEN CSS //

.member-card-update-profil-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-card-update-profil {
  width: 100px;
  height: 100px;
  -webkit-mask: image-url('icons/id-card.svg') no-repeat 50% 50%;
  mask: image-url('icons/id-card.svg') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.pencil-image {
  width: 20px;
  height: 20px;
  -webkit-mask: image-url('icons/pencil.svg') no-repeat 50% 50%;
  mask: image-url('icons/pencil.svg') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.text-button-not-member-yet {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.border-gradient {
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0.1, #00C9FF ), color-stop(0.9, #80F2A4));
  background-image: -moz-linear-gradient(center bottom, #00C9FF 10%, #80F2A4 90%);
  padding: 3px;
}

.hourglass {
  width: 100px;
  height: 100px;
  -webkit-mask: image-url('icons/hourglass.svg') no-repeat 50% 50%;
  mask: image-url('icons/hourglass.svg') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.first-perk-gift {
  width: 100px;
  height: 100px;
  -webkit-mask: image-url('icons/gift.svg') no-repeat 50% 50%;
  mask: image-url('icons/gift.svg') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.thumb-up-image {
  width: 20px;
  height: 20px;
  -webkit-mask: image-url('icons/hand-like.svg') no-repeat 50% 50%;
  mask: image-url('icons/hand-like.svg') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.background-logo-pop-up {
  background-image: url('logo_vertical.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
}

// .test-filter-background {
//   background-color: (255,255,255,0.5);
//   width: 100%;
// }





// FIN ADRIEN CSS //

.use-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0%;
  right: 0;
  left: 90px;
  z-index: 200;
  background-color: rgba(0,0,0,0.6);
  @include transition(all, 0.3s, ease-in-out);

  .flip-container-mobile {
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 3px;
    position: relative;
    perspective: 1000px;

    &.flip-signin {
      width: 90%;
    }

    .flipper-mobile {
      width: 100%;
      height: 100%;
      position: relative;
      transform-style: preserve-3d;
      transition: all 1s;

      figure {
        margin: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }

      .front {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 35px 20px 20px;
        // background-color: #fff;
        background-color: rgba(255,255,255,0.7);
        border-radius: 3px;
        @include transition(all, 0.3s, ease-in-out);

        .close-button {
          position: absolute;
          top: 10px;
          right: 10px;
          height: 35px;
          width: 35px;
          padding-left: 1px;
          padding-right: 0;
          padding-bottom: 3px;
          font-size: 30px;
          font-weight: 100;
          color: rgba(55,55,55,0.4);
          background: transparent;
          border: 1px solid rgba(55,55,55,0.4);
          border-radius: 50%;
          outline: none;
          cursor: pointer;
          transition: 0.5s ease;
          z-index: 200;

          &:hover {
            color: rgba(55,55,55,0.9);
            border-color: rgba(55,55,55,0.9);
          }
        }

        .wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin: 0 auto;
          width: 85px;
          height: 85px;
          background-color: #9FD6AE;
          border-radius: 50%;
        }

        span {
          // text-transform: uppercase;
          font-weight: 600;
          font-size: 20px;
          text-align: center;
          margin-bottom: 10px;

          small {
            font-size: 15px;
            color: #636363;
            margin-bottom: 10px;
          }

        }

        span.info-unable {
          display: block;
          width: 100%;
          text-align: center;
          text-transform: none;
          font-weight: 100;
          font-size: 10px;
          margin-bottom: 0;
        }

        span.online-code {
          text-align: center;
        }

        span.business-name {
          font-size: 15px;
          margin-top: 20px;
        }

        .itinary {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 10px;

          &.send-mail {
            margin-top: 0;
            abbr {
              font-size: 16px;
            }
          }

          a {
            display: flex;
            align-items: center;
            width: 100%;
            background-color: #f4f4f4;
            border: 1px solid #9FD6AE;
            border-radius: 3px;

            .fa {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 15px 0;
              width: 20%;
              height: 100%;
              background-color: #9FD6AE;
              border-radius: 3px 0 0 3px;
              color: #fff;
            }

            abbr {
              padding: 6px 20px;
              width: 80%;
              line-height: 16px;
              font-size: 10px;
              color: #636363;
              border-radius: 0 3px 3px 0;
            }
          }
        }

        .container-code {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          p {
            margin: 15px 0 15px;
            font-size: 12px;
            color: #636363;
            text-align: center;
          }

          .form-group {
            margin: 0;
          }

          .form-control {
            height: 46px;
            text-align: center;
            border-radius: 3px 3px 0 0;
          }

          .form-control:focus {
            outline: none;
            border: 1px solid rgba(159, 214, 174, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(159, 214, 174, 0.6);
          }

          input[type="submit"],
          input[type="submit"]:focus,
          input[type="submit"]:active {
            appearance: none;
            display: block;
            margin: 0;
            padding: 11px 20px;
            width: 100%;
            border-radius: 0 0 3px 3px;
            color: #fff;
            // text-transform: uppercase;
            background: #9FD6AE;
            border: none;
            font-size: 14px;
            font-weight: 600;
            outline: none;
            @include transition(all, 0.3s, ease-in-out);
          }

          input.btn-show-card {
            border-radius: 3px;
          }

          .show-card {
            display: block;
            border-radius: 3px;
          }
        }

        /* IF USER IS NOT A MEMBER*/
        .container-code.gentleman {
          display: flex;
          flex-direction: column;
          margin: 30px 0 0;

          .text-infos-not-member-yet {
            margin-bottom: 20%;
          }

          p {
            margin: 10% 0 15%;
            font-size: 14px;
          }

          .button-gentleman {
            padding: 14px 20px;
            border-radius: 2px;
            border: none;
            outline: none;
            color: #fff;
            // text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            background-color: #9FD6AE;
            transition: all, 0.3s, ease-in-out;
          }

          .button-gradient-not-member-yet {
            position: fixed;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            min-width: 150px;
            bottom: 20px;
            // left: (50%);
            padding: 20px;
            // transform: translateX(calc(-50% + 45px));
            border: none;
            border-radius: 25px;
            outline: none;
            cursor: pointer;
            color: white;
            line-height: 9px;
            box-shadow:  0px 2px 2px rgba(0,0,0,0.3);
            background: linear-gradient(to right, #64B9EA, #36D7B7, #33CC66);
            z-index: 10;
            font-weight: bolder;
            margin-top: 5%;

            &:hover, &:focus {
              color: white;
            }
          }

        }

        .container-legend {
          p {
            margin: 15px 0 10px;
            font-size: 12px;
            color: #636363;
            text-align: center;
          }
        }
      }

      .back {
        position: absolute;
        top: 0;
        z-index: 500;
        transform: rotateX( 180deg );

        .container-feedback {
          display: flex;
          flex-direction: column;
          position: relative;
          margin-top: 25px;
          padding: 25px;
          text-align: center;
          color: #636363;
          background-color: #fff;
          border-radius: 3px;
          @include transition(all, 0.3s, ease-in-out);

          p {
            font-size: 13px;
          }

          .container-answer-feedback {
            display: flex;
            justify-content: space-around;
            margin-top: 10px;

            .answer {
              display: flex;
              flex-direction: column;
              align-self: baseline;
              justify-content: space-between;

              button {
                border: 0;
                background-color: transparent;
              }

              p {
                font-size: 10px;
                line-height: 0.8em;
              }
            }
          }
        }
      }
    }
  }

  .close-button-signin {
    position: absolute;
    color: #636363;
    background: transparent;
    border: none;
    top: 10px;
    right: 10px;
    font-size: 40px;
    font-weight: 100;
    z-index: 200;
  }

  .flipped {
    transform: rotateX( 180deg );

    .front {
      visibility: hidden;
    }
  }
}

.feedback-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 10%;
  right: 0;
  left: 0;
  z-index: 200;
  background-color: rgba(0,0,0,0.6);
  @include transition(all, 0.3s, ease-in-out);

  .container-query {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    max-width: 350px;
    padding: 35px;
    text-align: center;
    color: #636363;
    background-color: #fff;
    border-radius: 3px;
    @include transition(all, 0.3s, ease-in-out);

    p {
      font-size: 13px;
    }

    .container-answer {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 10px;

      .answer {
        display: flex;
        flex-direction: column;
        align-self: baseline;

        button {
          border: 0;
          background-color: transparent;
        }

        p {
          font-size: 10px;
          margin-bottom: 0;
          line-height: 0.8em;
        }
      }
    }
  }
}

@media (max-width:767px) {
  .use-overlay {
    bottom: 0;
    left: 0;
  }
}
