<!-- FORM SUBSCRIPTION -->
<div class="form-edit-container offer-form">

  <%= render "member/signup/form_subscription" %>

  <div>
    <%= link_to "Changez vos données bancaires ?", "#payment", role: "tab", data_toggle: "tab", class: "show-payment" %>
  </div>
</div>

<% content_for :after_js do %>

  <script>
    $(document).ready(function() {
      $(".btn.subscription").on("click", function(e) {
        e.preventDefault();
        $("#update_subscription").submit();
      });
      $(".show-payment").on("click", function(e) {
        e.preventDefault();
        $("#payment").removeClass('hidden');
        $("#menu a.show-payment").tab('show');
      });
    });
  </script>

<% end %>
