<div class="updated-done-overlay checked hidden">
  <div class="border-gradient">
    <div class="done-container">
      <button type="button" class="close-button close-updated">&times;</button>
      <div class="checked-marked-updated-profil" style="background-color: lightgrey"></div>
      <span>Modifications à jour !<br>
        <small>Vos modifications sont maintenant à jour sur l'application.</small>
      </span><br>
      <!--     <p>Vous allez être automatiquement redirigé vers votre suivi.</p>
    -->
    <%#= link_to "Si rien ne se passe, cliquez-ici", pro_business_dashboard_path(current_business), class: "" %>
      <div class="logo-updated-profil-section">
        <%= image_tag "logo_vertical.png" , :class => "logo-updated-profil" %>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function () {

      $(".close-updated").click(function() {
        $('.updated-done-overlay.checked').addClass('hidden');
      });

    });
  </script>
<% end %>
