<div class="mail-content">
  Bonjour <% @business.name %>

  <p>Merci beaucoup d’avoir rejoint CforGood, la plateforme d’économie <strong>responsable & solidaire</strong> qui vous permet de développer votre activité tout en inspirant la solidarité !</p>

  <p>Afin de nous assurer que chaque commerce correspond à la charte CforGood, votre compte passe par une phase d’étude avant validation.</p>

  <p>Nous activons en priorité les commerces de la métropole bordelaise.<br>
  Si c’est votre cas, nous devrions vous ouvrir l’accès très rapidement !<br>
  Si ça ne l’est pas, soyez patient, nous vous tiendrons informés de nos avancées et de notre arrivée dans votre ville !</p>

  <p> A très vite,<br>
  L'équipe CforGood</p>
  <%= image_tag "logo.png", class: "logo-signature" %>

</div>

