<%= content_for(:title) do %>
<%= @business.name %>
<% end %>
<%= content_for(:description) do %>
Modifiez votre Bon Plan
<% end %>

<div class="container-fluid bg-white" id="dashboard-business">
  <% @perks.each do |perk| %>
    <%= render 'form_perk' %>
  <% end %>
</div>
