<%= content_for(:title) do %>
<%= @business.name %>
<% end %>
<%= content_for(:description) do %>
Créez un nouveau Bon Plan
<% end %>

<div class="container-fluid bg-white" id="dashboard-business">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 pt-50 pb-100">
    <%= render 'form_perk' %>
  </div>
</div>
