<div class="text-center" id="footer">
    <h2 class="padding-bottom">Rejoignez-nous sur</h2>
    <ul class="list-inline">
        <li>
          <a href="https://www.facebook.com/cforgood?fref=ts" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-facebook footer-icon"></i>
          </a>
        </li>

        <li>
          <a href="https://twitter.com/CforGood" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-twitter footer-icon"></i>
          </a>
        </li>

        <li>
          <a href="https://instagram.com/cforgood/" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-instagram footer-icon"></i>
          </a>
        </li>

        <li>
          <a href="https://fr.linkedin.com/company/cforgood" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-linkedin footer-icon"></i>
          </a>
        </li>

    </ul>

    <div id="copyright" class="row-space-top-2 text-muted">
      <h3>© CforGood 2015</h3>
    </div>
</div>