<!-- FORM SUBSCRIPTION -->
<div class="col-xs-12 col-sm-6 col-sm-offset-3 form-card form-select-cause">
  <div class="SUBSCRIPTION">Choisissez votre abonnement</div>
    <%= simple_form_for edit_user_registration_path, method: :put do |f| %>
    <%= f.error_notification %>
      <%= f.input :subscription, label: false, as: :radio_buttons, collection: [['Mensuel', "M" ], ['Annuel', "A" ], ["Trial", "T"] ]  %>
      <%= f.button :submit, 'Souscrivez', class: "btn-create" %>
    <% end %>
  </div>
</div>
