<div class="connexion signup-beneficiary" style="background-image: url(<%= image_url('signin-background.jpg') %>);">
  <div class="sign-box gift">
    <div class="signup-card">
      <!-- FORM SUBCRIPTION -->
      <%= render "member/subscribe/shared/form_beneficiary" %>
      <!-- FORM CARD REGISTRATION -->
      <div class="gift-payment hidden">
        <%= render "member/subscribe/shared/form_payment" %>
      </div>
    </div>
  </div>
</div>
