.signup-funnel {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff;
  background-image: image-url('bg-business-show.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.signup-container {
  position: relative;
  padding: 20px;
  margin-top: 70px;
  width: 560px;
  height: 100%;
  min-height: 580px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);

  @media (max-width: 767px) {
    margin-top: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    box-shadow: none;
    border-radius: 0;
  }

  /* JS ANIMATIONS *************************************************************/

  /* SLIDES */
  .slideup {
    transform:translateY(0%) !important;
  }

  .ishidden {
    transform:translateY(-100%);
    opacity: 0;
  }

  /* BREADCRUMB */
  .slide-2 {
    li:nth-child(2) {
      color: $turquoise;
      border: 2px solid $turquoise;
    }

    &:before {
      border-bottom: 2px solid $turquoise;
    }
  }

  .slide-3 {
    li:nth-child(3) {
      color: $turquoise;
      border: 2px solid $turquoise;
    }

    &:after {
      border-bottom: 2px solid $turquoise;
    }
  }

  /* CAUSES CARDS OVERLAY */
  .choose-cause {
    .cause-card.cause-overlay {
      .cause-popover {
        img {
          box-shadow: 0 0 0 125px $turquoise, 0 1px 2px rgba(0,0,0,0.1);
        }
      }
    }
  }

  /* SHARED STYLES ************************************************************/

  .signup-card   {
    position: relative;
    height: 520px;
    overflow: hidden;
  }

  .choose-cause,
  .signup-plan,
  .signup-payment {
    position: absolute;
    min-width: 520px;
    min-height: 475px;
    @include transition(all, 0.4s, ease-in-out);
  }

  .signup-plan,
  .signup-payment {
    transform:translateY(100%);
  }

  button,
  input[type="submit"] {
    display: block;
    margin: 10px auto 0;
    padding: 15px 20px;
    width: 200px;
    max-width: 50%;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    background: #36d3da;
    border: 1px solid #19A2C2;
    font-size: small;
    font-weight: 100;
    @include transition(all, 0.3s, ease-in-out);
  }

  button[disabled="disabled"] {
    background-color: grey;
  }

  button:hover,
  button:focus,
  button:active,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:active {
    background-color: #19A2C2;
    outline-color: transparent;
    outline-style: none;
  }

  /* BREAD CRUMB **************************************************************/
  ul {
    position: relative;
    width: 155px;
    margin: 10px auto 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;

    @include transition(all, 0.3s);

    &:before {
      content: "";
      position: absolute;
      width: 50%;
      border-bottom: 2px solid #cdcdcd;
      top: 13px;
      left: 25%;
      transform: translateX(-50%);
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      width: 50%;
      border-bottom: 2px solid #cdcdcd;
      top: 13px;
      left: 75%;
      transform: translateX(-50%);
      z-index: 1;
    }

    li {
      font-size: 10px;
      font-weight: 600;
      color: #cdcdcd;
      background-color: #fff;
      border: 2px solid #cdcdcd;
      border-radius: 50%;
      padding: 0px 10px;
      z-index: 2;

      &:nth-child(1) {
        color: $turquoise;
        border: 2px solid $turquoise;
      }
    }
  }
}

/* FORM - CAUSES **************************************************************/
.choose-cause {
  position: relative;
  width: 100%;

  @media (max-width: 767px) {
    min-width: 100% !important;
  }

  .change-cause {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      display: block;
      margin-bottom: 20px;
      max-width: 335px;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
    }

    p.comment-cause {
      max-width: 335px;
      font-size: 0.7em;
    }

    .love-you {
        position: absolute;
        display: flex;
        align-items: center;
        padding: 0 20px;
        margin-top: 30px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 2px;
        background-color: rgba(233,30,99,0.7);
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.7em;
        line-height: 18px;
        z-index: 3;

        svg {
          padding: 10px;
          margin-right: 10px;
          height: 40px;
          width: 40px;
          background-color: #fff;
          border-radius: 50%;
        }
      }

    .edit_user {
      height: 0;
    }

    .form-control {
      margin: 0 auto;
      width: 60%;
    }

    .user-button {
      position: absolute;
      top: 303px;
      left: 227px;
      height: 40px;

      @media (max-width: 320px) {
        padding: 9px 10px;
        width: 180px;
        left: 100px;
      }

      @media (min-width: 321px) and (max-width: 767px) {
        position: relative;
        top: -65px;
        left: 69px;
      }
    }

    .btn-next {
      position: fixed;
      right: 10px;
      bottom: 20px;
    }

    .signup-next {
      position: absolute;
      background-color: transparent;
      border: none;
      color: $turquoise;
      font-weight: 600;
      font-size: 0.9em;
      padding: 10px;
      margin: 0;
      right: 0;
      bottom: 0;

      @media (max-width: 320px) {
        right: -15px;
        bottom: 5px;
      }

      @media (min-width: 321px) and (max-width: 767px) {
        position: fixed;
        bottom: 20px;
      }

      &:after {
        content:"\f105";
        font-family: FontAwesome;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        right: 40px;
        color: $turquoise;
        font-size: 20px;
        transform: translateY(-50%);
        height: 100%;
        width: 20px;
      }
    }

    /* CHOOSE A CARD */

    .slick-slider {
      margin-bottom: 0;
    }

    .card-container {
      position: relative;
      width: 100%;
    }

    .causes-carrousel {
      width: 335px;

      .slick-slide {
        outline: none;
        width: 335px !important;
      }

      @media (max-width: 320px) {
        width: 280px;

        .slick-slide {
          width: 280px !important;
        }
      }
    }
  }

  /* DROPDOWN LIST */
  .select-causes {
    position: relative;

    span {
      margin-bottom: 5px;
      font-size: 10px;
      font-weight: normal;
    }

    .selector {
      min-height: 180px;
    }

    .form-group {
      margin-bottom: 25px;
    }
  }
}

/* FORM - PRICING PLAN ********************************************************/
.signup-plan {

  .subscription-title {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }

  .offer-index {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: space-between;
    padding: 64px 20px 20px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;

    .offer-card {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 150px;
      position: relative;
      padding: 20px;
      margin: 1%;
      margin-bottom: 5px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);

      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;

      &:hover { box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2); }
    }

    .offer-title {
      text-transform: uppercase;
    }

    .offer-extra {
      height: 80px;
      padding-top: 20px;
      font-size: 9px;
      font-weight: 200;
    }

    .offer-price {
      margin-bottom: 50px;
      padding-bottom: 30px;
    }

    .offer-most-popular {
      position: absolute;
      width: 90%;
      text-align: center;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 200;
      color: #fff;
      background-color: $turquoise;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      padding: 0 4px;
      top: -15px;
      left: 8px;
    }

    .offer-btn {
      position: absolute;
      left: 4px;
      bottom: 15px;

      .btn {
        margin: 3px;
      }
    }
  }
}

.signup-payment {

  .subscription-form form input {
    width: 100%;
  }

  ul {
    list-style: none;
    text-align: center;
    margin-top: 5px;
  }

  li {
    display: inline-block;
    padding: 5px;
  }

  img {
    height: 20px;
  }
}

#loading-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
}
