.signup-container {

  /* BREAD CRUMB **************************************************************/
  ul {
    position: relative;
    width: 40%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;

    @include transition(all, 0.3s);

    &:before {
      content: "";
      position: absolute;
      width: 50%;
      border-bottom: 2px solid #cdcdcd;
      top: 13px;
      left: 25%;
      transform: translateX(-50%);
      z-index: -1;
    }

    &:after {
      content: "";
      position: absolute;
      width: 50%;
      border-bottom: 2px solid #cdcdcd;
      top: 13px;
      left: 75%;
      transform: translateX(-50%);
      z-index: -1;
    }

    li {
      font-size: 10px;
      font-weight: 600;
      color: #cdcdcd;
      background-color: #fff;
      border: 2px solid #cdcdcd;
      border-radius: 50%;
      padding: 0px 10px;
      z-index: 2;
    }
  }

  .active {
    color: $turquoise;
    border: 2px solid $turquoise;
  }
}

/* FORM - CAUSES **************************************************************/
.signup-cause {
  position: relative;

  span {
    margin-bottom: 20px;
  }

  .form-control {
    margin: 0 auto;
    width: 60%;
  }

  input[type="submit"] {
    display: block;
    margin: 10px auto 0;
    padding: 15px 20px;
    width: 200px;
    max-width: 50%;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    background: #36d3da;
    border: 1px solid #19A2C2;
    font-size: small;
    font-weight: 100;
    @include transition(all, 0.3s, ease-in-out);
  }

  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:active {
    background-color: #19A2C2;
    outline-color: transparent;
    outline-style: none;
  }

  .card-container {
    position: relative;
    min-height: 210px;
    margin: 5px;
    border-radius: 6px;

    .cause-card {
      height: 200px;
      background: no-repeat center;
      background-size: cover;
      color: white;
      border-radius: 6px;

      cursor: pointer;
      overflow: hidden;
      @include transition(all, 0.3s, ease-in-out);

      /* POPOVER - CAUSE DESCRIPTION ***********************************************/
      .cause-popover {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 4px;

        h1 {
          min-height: 45px;
          margin: 0;
          font-size: 14px;
          font-weight: 600;
          z-index: 1;
        }
        span {
          margin: 0;
          font-size: 10px;
          font-weight: normal;
          z-index: 1;
        }
        img {
          width: 40px;
          border: 2px solid #fff;
          border-radius: 50%;
          @include transition(all, 0.3s, ease-in-out);
        }
      }
    }


    .cause-logo {
      height: 50px;
      border-radius: 50%;
      border: 2px solid #fff;
    }
  }

  .cause-card.cause-border-select {
    .cause-popover {
      img {
        box-shadow: 0 0 0 125px $turquoise, 0 1px 2px rgba(0,0,0,0.1);
      }
    }
  }

  .select-causes {
    position: relative;

    span {
      margin-bottom: 5px;
      font-size: 10px;
      font-weight: normal;
    }

    .selector {
      min-height: 180px;
    }

    .form-group {
      margin-bottom: 25px;
    }
  }

  #cause-info {
    position: absolute;
    width: 100%;
    bottom: 40%;
    h1 {
      font-size: 17px;
      font-weight: 500;
    }
  }

  #cause-impact {
    position: absolute;
    width: 100%;
    bottom: 0px;
    font-size: 15px;
  }

  .cause-alinea {
   font-size: 14px;
   font-weight: 200;
   margin-top: 15px;
 }
}

/* FORM - PRICING PLAN ********************************************************/
.offer-form {
  position: absolute;
  height: 100%;
  padding-top: 50px;
  background: #fff;
  border-radius: 10px;

  .subscription-title {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }

  .offer-index {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: space-between;
    padding: 60px 20px 20px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;

    .offer-card {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 150px;
      position: relative;
      padding: 20px;
      margin: 1%;
      margin-bottom: 5px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);

      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;

      &:hover { box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2); }
    }

    .offer-title {
      text-transform: uppercase;
    }

    .offer-extra {
      height: 80px;
      padding-top: 20px;
      font-size: 9px;
      font-weight: 200;
    }

    .offer-price {
      margin-bottom: 50px;
      padding-bottom: 30px;
    }

    .offer-most-popular {
      position: absolute;
      width: 90%;
      text-align: center;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 200;
      color: #fff;
      background-color: $turquoise;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      padding: 0 4px;
      top: -15px;
      left: 8px;
    }

    .most-popular {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      -webkit-transform: scale(1.2);
      z-index: 2;
    }

    .offer-btn {
      position: absolute;
      left: 4px;
      bottom: 15px;

      .btn {
        margin: 3px;
      }
    }
  }
}

.form-payment {
  .subscription-form form input {
    width: 100%;
  }

  ul {
    list-style: none;
    text-align: center;
    margin-top: 5px;
  }

  li {
    display: inline-block;
    padding: 5px;
  }

  img {
    height: 20px;
  }
}

#loading-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
}