.offer-form {
  height: 100%;
  padding-top: 50px;
  background: #fff;
  border-radius: 10px;

  .subscription-title {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }

  .offer-index {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 12%;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;

    .offer-card {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 150px;
      position: relative;
      padding: 20px;
      margin: 1%;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);

      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;

      &:hover { box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2); }
    }

    .offer-title {
      text-transform: uppercase;
    }

    .offer-extra {
      height: 80px;
      padding-top: 20px;
      font-size: 9px;
      font-weight: 200;
    }

    .offer-price {
      margin-bottom: 50px;
      padding-bottom: 30px;
    }

    .offer-most-popular {
      position: absolute;
      width: 90%;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 200;
      color: #fff;
      background-color: $turquoise;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      padding: 0 4px;
      top: -15px;
      left: 8px;
    }

    .most-popular {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      -webkit-transform: scale(1.2);
      z-index: 2;
    }

    .offer-btn {
      position: absolute;
      left: 4px;
      bottom: 15px;

      .btn {
        margin: 3px;
      }
    }
  }
}

.signup {
  margin-top: 60px;
}
