<%= content_for(:title) do %>
  Vision
<% end %>

<div id="about" class="">
  <div class="container-fluid cforgood-background" id="cforgood-background">
    <div class="row">
      <div class="page-title">
        <h1>A PROPOS</h1>
        <h3>En apprendre un peu plus sur nous</h3>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-about" id="bg-about">
    <div id="whitebox-about">
    <div class="container">
      <div class="content mt-50 text-center">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 mb-30 text-left">
          <div class="mb-60">
            <h2 class="text-center">NOTRE VISION</h2>
            <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-5 border-blue mb-5"></div>
            <div class="row"></div>
            <h2>Tout Le Monde Peut Avoir Un Impact</h2>
            <p>
              Nous sommes de plus en plus nombreux à prendre conscience de l'impact de nos modes de vie sur l'état de la planète, de notre santé et l'économie de nos villes.<br>
              Mais face à la faible visibilité des initiatives positives et l'urgence du quotidien, nous manquons aujourd'hui, davantage d’outils pour agir, que d’infos pour convaincre.<br>
              C'est là que CforGood intervient, en créant des moyens inclusifs pour faire participer le plus grand nombre pour qui le passage à l’action reste encore compliqué.<br>
              Car nous sommes convaincu de l'importance que avez vis à vis du changement et que nous sommes tous importants dans cette histoire.
            </p>
          </div>
          <div class="mb-60">
            <h2 class="text-center">NOTRE MISSION</h2>
            <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-5 border-blue mb-5"></div>
            <div class="row"></div>
            <h2>Faire De Chaque Citoyen Un Acteur Du Changement</h2>
            <p>
              Chez CforGood, on cherche à émanciper l’acteur du changement qui est en chacun de nous, en lui permettant le plus simplement possible d'avoir un impact au quotidien. <br>
              CforGood rend cela possible en mettant subtilement en coopération les associations défendant des causes locales et globales avec les commerces locaux offrant des bons plans pour récompenser les citoyens engagés.<br>
              En créant cet éco-système positif, nos membres CforGood peuvent consommer plus local et apprécier ou découvrir les meilleurs spots de leur ville tout en soutenant la cause qui leur tient à coeur.<br><br>
              Nous pensons réellement qu’en cumulant le soutien aux associations et des bons plans exclusifs chez les acteurs d'une économie plus responsable, agir positivement peut devenir bien plus qu’une simple résolution du nouvel an, mais un véritable style de vie basé sur la coopération et la solidarité. <br><br>
              Une solution pour cette génération en quête de sens et un exemple inspirant pour celles d’après.<br><br>
              Ensemble nous sommes une Révolution Positive. Ensemble, nous pouvons être le changement. Le changement commence <%= link_to "ici et maintenant", new_user_registration_path %>.
            </p>
          </div>
          <div class="mb-60">
            <h2 class="text-center">COMMENT CA MARCHE ?</h2>
            <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-5 border-blue mb-5"></div>
            <div class="row"></div>
            <h2>Rien De Plus Simple...</h2>
            <p><strong>DONNEZ...</strong> 5€/mois à l'association de votre choix et ayez un impact.<br>
              <strong>RECEVEZ...</strong> Un accès immédiat à de nombreux bons plans offerts par les<br>commerces locaux et responsables de votre ville pour vous récompenser de action.<br><br>
              Alors n'hésitez plus, créez votre compte, choisissez la cause qui vous tient à coeur (vous pouvez changer tous les mois si vous le souhaitez) et accédez à tous les bons plans listés sur CforGood, à utiliser autant que vous le souhaitez, simplement en montrant votre carte de membre. <br><br>
              (Chaque bon plan est différent, d'un restaurant à un salon de bien être en passant par une boutique de vêtement, vérifiez donc bien "comment en bénéficier" sur la page de chaque bon plan)<br><br>
              C’est déductible des impôts, ça fait du bien et vous êtes récompensés pour cela… Vous n’aurez jamais d’aussi bonne raison de passez à l’action !<br><br>
              <strong>Alors rejoignez nous et profitez des récompenses offertes aux citoyens positifs !</strong>
              <!-- Après vous être inscrit, votre téléphone agit comme une carte de membre qui vous permet de bénéficier des bons plans, instantanément et autant de fois que vous le voulez, simplement en montrant votre téléphone aux entreprises partenaires. <br><br> -->
            </p>
          </div>
          <div class="mt-70"></div>
          <div id="write-us-about">
            <h2 class="black text-center mb-30">D'autres Questions ? Ecrivez-Nous !</h2>
            <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-5 border-blue mb-30"></div>
            <div class="row"></div>
            <div class="col-sm-4 col-sm-offset-5 col-xs-6" id="btn-write-us">
              <%= link_to "Nous Ecrire", new_contact_form_path,class: "btn btn-turquoise pl-20 pr-20" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>