<%= content_for(:title) do %>
  business
<% end %>

<div id="business">
  <div class="container-fluid cforgood-background">
    <div class="row">
      <div class="page-title">
        <h1>CFORGOOD ENTREPRISE</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content mt-50 text-center">
      <div class="col-xs-10 col-xs-offset-1 mb-30">
        <h2>Une consommation responsable désirée... </h2>
        <h2 class="pl-200">Mais toujours difficile à atteindre</h2>
      </div>
      <div class="col-xs-10 col-xs-offset-1 mb-30">
        <div class="col-xs-12 col-sm-3 circle blue-circle mr-210">
          <h1 class="text-center pt-40">78%</h1>
        </div>
        <div class="col-xs-12 col-sm-3 circle turquoise-circle mr-210">
          <h1 class="text-center pt-40">57%</h1>
        </div>
        <div class="col-xs-12 col-sm-3 circle green-circle">
          <h1 class="text-center pt-40">82%</h1>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-12 col-sm-4">
          <p class="text-center">78%</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p class="text-center">57%</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p class="text-center">82%</p>
        </div>
      </div>
    </div>
    <div id="business-solution">

    </div>
    <div id="business-benefits">

    </div>
  </div>
</div>