<%= content_for(:title) do %>
F.A.Q.
<% end %>
<%= content_for(:description) do %>
Foire aux questions
<% end %>

<div id="faq" class="">
  <div class="container-fluid cforgood-background" id="cforgood-background">
    <div class="row">
      <div class="page-title" id="page-title-mobile">
        <h1>F.A.Q.</h1>
        <h3>Des réponses à vos questions...</h3>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-faq" id="bg-faq">
    <div id="whitebox-faq"></div>
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="row">
          <ul class="faq">
            <li>
              <div id="subject-1" class="faq-subject"><i class="fa fa-angle-right"></i>NOTRE FONCTIONNEMENT</div>
              <ul>
                <li>
                  <div id="subject-1" class="faq-question"><i class="fa fa-angle-right"></i> Qui est derrière CforGood ?</div>
                  <div class="faq-answer">
                    Une équipe de personnes super motivées que vous pouvez découvrir ici. Mais aussi des dizaines d’ambassadeurs, de commerces et d’associations partenaires qui croient en notre vision. De nombreux ambassadeurs donnent bénévolement de leurs temps pour nous aider dans notre mission, si vous voulez en devenir un, cliquez ici.
                  </div>
                </li>
                <li>
                  <div id="subject-1" class="faq-question"><i class="fa fa-angle-right"></i>Comment CforGood se rémunère ?</div>
                  <div class="faq-answer">
                    Est-ce que la moitié de mon abonnement sera toujours reversé à une association ?  Oui.  Nous nous engageons à toujours reverser au minimum 50% du montant des adhésions aux associations partenaires.
                  </div>
                </li>
                <li>
                  <div id="subject-1" class="faq-question"><i class="fa fa-angle-right"></i>À quoi sert le reste ?</div>
                  <div class="faq-answer">
                    6% vont directement à notre solution de paiement MangoPay, qui permet un reversement automatique de votre adhésion à l’association de votre choix. 20% servent à la communication pour mettre en lumière les projets associatifs et les commerces locaux et responsables qui les soutiennent. Les 24% restant permettent à notre équipe de garder la lumière allumée et de vous fournir un service de qualité.
                  </div>
                </li>
                <li>
                  <div id="subject-1" class="faq-question"><i class="fa fa-angle-right"></i>Puis-je me désabonner facilement ?</div>
                  <div class="faq-answer">
                    Bien sûr. Il vous suffit de vous rendre dans votre compte et de cliquer sur stopper mon abonnement. Vous pourrez le réactiver à tout moment.
                  </div>
                </li>
                <li>
                  <div id="subject-1" class="faq-question"><i class="fa fa-angle-right"></i>Comment marche le site ?</div>
                  <div class="faq-answer">
                    C’est très simple. Une fois inscrit, vous arrivez sur la carte de votre ville qui référence l’ensemble des commerces partenaires et les bons plans qu’ils proposent pour vous récompenser. Vous pouvez consulter tous les bons plans et associations par thématique et en voir les détails simplement en cliquant dessus. Pour profiter des bons plans, il suffit de présenter votre carte de membre physique ou de cliquer sur « j’en profite » pour accéder à votre carte de membre numérique. Pas d’impression, ni de téléchargement, inscrivez vous, donner et présenter votre carte pour bénéficier des bons plans. Nous voulons rendre ça aussi simple que possible, pour que vous puissiez trouver ce que vous cherchez et en profitez. Alors baladez vous dans CforGood, nous sommes sûrs que vous allez adorer ! Comment puis-je accéder à ma carte ? Nous vous expliquons tout ça très simplement ici.
                  </div>
                </li>
                <li>
                  <div id="subject-1" class="faq-question"><i class="fa fa-angle-right"></i>Pouvez vous m’en dire plus sur vos événements ?</div>
                  <div class="faq-answer">
                    Bien sûr. Nous cherchons à créer des événements aussi souvent que possible avec nos associations et commerces partenaires pour soutenir notre mission commune et rassembler la communauté hors ligne pour partager des moments mémorables, ensemble.
                    Nous essayons également de mettre en lumière les événements de nos partenaires aussi autant que nous le pouvons. Vous pouvez proposer un événement juste ici.
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div id="subject-2" class="faq-subject"><i class="fa fa-angle-right"></i>EN TANT QUE MEMBRE</div>
              <ul>
                <li>
                  <div id="subject-2" class="faq-question"><i class="fa fa-angle-right"></i>Est-ce que je dois être membre pour bénéficier des bons plans des commerces partenaires ? </div>
                  <div class="faq-answer">
                    Oui, nos bons plans sont exclusivement réservés à nos membres qui soutiennent l’association de leurs choix à travers notre adhésion.
                  </div>
                </li>
                <li>
                  <div id="subject-2" class="faq-question"><i class="fa fa-angle-right"></i>Quelles sont les conditions pour s'inscrire sur CforGood ?</div>
                  <div class="faq-answer">
                    Pour vous inscrire sur CforGood vous devez avoir au moins 18 ans et résider sur le territoire français.
                  </div>
                </li>
                <li>
                  <div id="subject-2" class="faq-question"><i class="fa fa-angle-right"></i>Puis-je supprimer mon compte CforGood ?</div>
                  <div class="faq-answer">
                    Oui. Vous pouvez supprimer votre compte CforGood en envoyant une demande au service client par email à hello@cforgood.com ou depuis notre page contact.
                  </div>
                </li>
                <li>
                  <div id="subject-2" class="faq-question"><i class="fa fa-angle-right"></i>Si j’habite à l’étranger, puis-je m’inscrire, créer et soutenir des projets sur CforGood ?</div>
                  <div class="faq-answer">
                    CforGood est un service actuellement réservé aux résidants du territoire français. Prochainement ce nouveau service sera également disponible à l'étranger.
                  </div>
                </li>
                <li>
                  <div id="subject-2" class="faq-question"><i class="fa fa-angle-right"></i>Est-ce que CforGood est accessible sur smartphone et tablette ?</div>
                  <div class="faq-answer">
                    Évidemment oui ! Voici d’ailleurs une astuce pour accéder directement à CforGood depuis votre mobile et tablette.
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div id="subject-3" class="faq-subject"><i class="fa fa-angle-right"></i>À PROPOS DES BONS PLANS</div>
              <ul>
                <li>
                  <div id="subject-3" class="faq-question"><i class="fa fa-angle-right"></i>Est-ce qu’il va y avoir davantage de bons plans ?</div>
                  <div class="faq-answer">
                    DÉFINITIVEMENT OUI. Nous avons une super équipe qui repère les commerces locaux et responsables et développe des partenariats pour de nouveaux bons plans chaque semaine !
                  </div>
                </li>
                <li>
                  <div id="subject-3" class="faq-question"><i class="fa fa-angle-right"></i>Comment puis-je bénéficier des bons plans ?</div>
                  <div class="faq-answer">
                    Vous pouvez voir cela directement sur la page du bon plan qui vous intéresse, dans la catégorie « Comment en profiter ». Généralement, il y a 3 manières d’en profiter :
                    </br>1) Présenter simplement sa carte.
                    </br>2) Contacter le commerce au préalable puis présenter sa carte à votre arrivée.
                    </br>3) Utiliser un code promo (pour les commerces en ligne).
                    </br>CLIQUEZ ICI pour voir comment accéder à votre carte de membre.
                  </div>
                </li>
                <li>
                  <div id="subject-3" class="faq-question"><i class="fa fa-angle-right"></i>Et s’il y a un problème lorsque j’essaye d’en profiter ?</div>
                  <div class="faq-answer">
                    Nous travaillons très dur avec nos partenaires pour nous assurer qu’il n’y ai aucun souci. Si quelque chose arrive, s’il vous plait faites le nous savoir aussi vite que possible en nous écrivant à hello@cforgood.com.
                  </div>
                </li>
                <li>
                  <div id="subject-3" class="faq-question"><i class="fa fa-angle-right"></i>Quand vais-je recevoir ma carte ? </div>
                  <div class="faq-answer">
                    Votre carte numérique est immédiatement accessible sur votre compte. La carte physique n’est accessible qu’aux membres annuels nous en faisant la demande par mail à hello@cforgood.com.
                  </div>
                </li>
                <li>
                  <div id="subject-3" class="faq-question"><i class="fa fa-angle-right"></i>Que faire si je perds ma carte ?</div>
                  <div class="faq-answer">
                    Vous avez une carte physique et vous l’avez perdue ? CATASTROPHE ! Pas d’inquiétude, écrivez nous à hello@cforgood.com pour nous le faire savoir et nous vous aiderons à en obtenir une nouvelle.
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>

  <script>
  $(document).ready(function() {
    $("ul li div.faq-subject").on("click", function() {
      var subject = $(this).attr("id");
      $("#"+subject+".faq-question").slideToggle();
      $("div.faq-question").not("#"+subject).slideUp();
      $("div.faq-answer").slideUp();
      $(".faq-subject:not(#"+subject+") i.fa-angle-down").addClass("fa-angle-right").removeClass("fa-angle-down");
      $("div.faq-question i.fa-angle-down").addClass("fa-angle-right").removeClass("fa-angle-down");
      $("#"+subject+".faq-subject i").toggleClass("fa-angle-right").toggleClass("fa-angle-down");
    });
    $("ul li div.faq-question").on("click", function() {
      $(this).next("div.faq-answer").slideToggle();
      $("div.faq-question").not(this).next("div.faq-answer").slideUp();
      $("div.faq-question i.fa-angle-down").not(this).addClass("fa-angle-right").removeClass("fa-angle-down");
      $("i", this).toggleClass("fa-angle-right").toggleClass("fa-angle-down");
    });
  });
  </script>

<% end %>
