<% content_for :meta_title, "WIP CforGood" %>
<% content_for :meta_description, "Nous sommes En maintenance !" %>
<% content_for :meta_image %>

<div class="container-fluid maintenance" >
  <%= image_tag 'logo-horizontal-white.png' %>
  <div class="maintenance-content">
    <%= image_tag "settings.png", class: "icon" %>
    <div class="maintenance-text">
      <p>Nous sommes <strong>en maintenance</strong>,<br> pour le lancement de la nouvelle application…</p>
      <p>Rendez-vous dans <strong>quelques jours !</strong></p>
    </div>
  </div>
  <a href="/">Suivre le lancement !</a>
</div>
