<%= content_for(:title) do %>
  Vision
<% end %>

<div id="vision ">
  <div class="container-fluid cforgood-background">
    <div class="row">
      <div class="page-title">
        <h1>NOTRE VISION</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content mt-50">
      <div class="col-xs-10 col-xs-offset-1 mb-30">
        <p>
          Nous sommes dans un monde en profonde mutation : fin du modèle industriel, entrée dans l’ère numérique, multiplication des crises financières, changement climatique, perte de contrôle sur notre alimentation, chômage de masse. Tout s’accélère, l’environnement se dérègle, et nos actes de vie au sein de cette société perdent peu à peu de leur sens. </br> <br>
          Partout à travers le globe, des transgresseurs positifs s’élèvent pour agir autrement, rendre visible un nouveau monde et innover pour faire bouger les lignes. Conscients de cette situation, nous sommes de plus en plus nombreux à désirer participer à ces mouvements, adopter des comportements plus responsables et faire partie de la solution.
          Pourtant, le passage à l’action reste difficile, les solutions sont là, mais l’urgence rattrape nos bonnes intentions et par manque d’accessibilité ou de volonté, nous continuons trop souvent à donner raison au quotidien, à un système dans lequel on ne se reconnait plus.
          C’est pour cette raison qu’on a fondé CforGood, pour être un compagnon de route, une passerelle entre l’envie et l’action, pour que toutes nos énergies positives destinées au changement ne soient plus gaspillées par les impératifs de la vie quotidienne. </br><br>
          Le concept est simple et fonctionne en 3 étapes :<br><br>
          – Via un petit abonnement de 5€/Mois sans engagement, CforGood offre à ses membres des bons plans utiles au quotidien chez les commerces et artisans locaux. Vous bénéficiez de ces offres spéciales simplement en montrant votre carte de membre physique ou via l’application mobile chez les partenaires qui font de l’économie « Autrement » : Restaurants bio, locaux, médecines alternatives, épiceries bio, yoga, plateforme de l’économie collaborative, etc. <br>
          – En plus de donner raison au quotidien à des commerces locaux et éthiques grâce à ces bons plans, les membres vont participer au financement de nouvelles solutions via le reversement, chaque mois, de 50% de leur abonnement au projet ou à l’association de leur choix. Projets positifs sélectionnés sur les plateformes de crowdfunding. La moitié de l’abonnement est donc déductible des impôts ! <br>
          – Enfin, parce que c’est avant tout une histoire d’humain, de partage et qu’il est difficile d’avancer seul dans cette démarche, les membres profitent d’un agenda collaboratif enrichi par chacun des acteurs de la communauté, pour ne rater aucun événement sur le territoire et faire des rencontres inspirantes. </br><br>
          De cette manière, chaque membre s’accompli dans son quotidien et participe à un cercle vertueux, permettant à la fois le développement de projets associatifs, le maintien de commerces éthiques et l’avènement d’une consommation responsable à la portée de tous…
          Ensemble, nous pouvons incarner le changement que nous voulons voir dans ce monde, car nous sommes ce changement, dans chaque choix que nous faisons. </br><br>
          Rejoignez la Révolution Positive et participez au quotidien à l’écriture du monde de demain… Sans avoir à prendre les armes !
        </p>
      </div>
    </div>
  </div>
</div>