#header {
  position: relative;
  height: $header-height;
  background-image: image-url("bg-banner-home.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;

  @media only screen and (max-width: 480px) and (orientation : portrait) { background-position: center center; }

  h1, p {
    color: $header-fontcolor;
    text-transform: uppercase;
  }

  .header-overlay {
    position: absolute;
    height: 100%;
    width: 100%;

    z-index: 0;
    opacity: 0.65;

    background: -webkit-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* IE10 */
    background: -o-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* Opera 11.10+ */
    background: linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* W3C */
  }

  .header-logo {
    height: 140px;
  }

  .header-content {
    padding-top: 10%;
  }

  a {
    position: absolute;
    bottom: 10px;
    left: 50%;

    .fa-angle-down {
      font-size: 60px;
      color: white;
    }
  }
}

#header-landing-business {
  position: relative;
  height: $header-height;
  background-image: image-url("cover-landing-business.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  @media only screen and (max-width: 480px) and (orientation : portrait) { background-position: center center; }
  h1, p {
    color: $header-fontcolor;
    text-transform: uppercase;
    // margin-bottom: 65px;
  }
  p {
    font-size: 18px;
    font-weight: 100;
  }
  .header-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.65;
    background: -webkit-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* IE10 */
    background: -o-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* Opera 11.10+ */
    background: linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* W3C */
  }
  .header-blackbox {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.5;
    background-color: rgb(0,0,0);
  }
  .header-logo {
    height: 115px;
    margin-bottom: 25px;
  }
  .header-content {
    padding-top: 10%;
  }
  a {
    position: absolute;
    bottom: 10px;
    left: 50%;
    .fa-angle-down {
      font-size: 60px;
      color: white;
    }
  }
}
