/* MENU EFFECT */
#menu-overlay {
  z-index: 10;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* NAVBAR ELEMENTS */
#navbar {
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  box-sizing: border-box;
  z-index: 15;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  .menu-toggle {
    display: none;
  }

  .logo {
    margin-right: auto;
    img { height: 50px; }
  }

  ul {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;

    li {
      margin-right: 20px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 100;
    }

    li:last-child {
      margin-right: 0;
      border-left: 1px solid #fff;
      padding-left: 20px;
    }

    i {
      margin-right: 5px;
    }

    a {
      color: #fff;
      &:hover { color: #ccc; }
    }

    span {
      position: relative;
      top: 2px;
      right: 5px;
    }
  }
}

@media only screen and (max-width:768px){

  #navbar {
    width: 260px;
    height: 100%;
    padding: 0 20px;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(-260px);
    background-color: #484848;

    /* PUSH BRAND LOGO TO BOTTOM */
    .logo {
      position: absolute;
      bottom: 10px;
      img { height: 40px; }
    }

    /* USER PROFIL ITEMS */
    .menu-user-info {
      height: 80px;
      margin-bottom: 25px;

      .user-pic {
        float: left;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 20px 10px 0 30px
      }

      .user-name {
        position: relative;
        top: 27px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 100;
      }
    }

    ul {
      width: 260px;
      flex-direction: column;
      align-items: flex-start;

      li {
        width: 100%;
        margin: 0;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid #3C3C3C;

        a {
          display: block;
          width: 100%;
          height: 100%;
          padding-left: 30px;

          &:focus {
            background-color: #3C3C3C;
          }
        }
      }

      li:first-child {
        display: inherit;
      }

      li:nth-last-child(3),
      li:last-child {
        border: none;
        border-bottom: 1px solid #3C3C3C;
        padding: 0;
      }
    }

    /* ICON RESPONSIVE MENU */

    .menu-toggle {
      display: inline;
      position: absolute;
      width: 50px;
      height: 50px;
      top: 15px;
      right: -65px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background-color: #3C3C3C;
      border-radius: 50%;
      padding: 10px;
      box-sizing: border-box;
      box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    }

    #menu-icon {
      width: 25px;
      height: 25px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
    }

    #menu-icon span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    #menu-icon span:nth-child(1) {
      top: 1px;
    }

    #menu-icon span:nth-child(2),
    #menu-icon span:nth-child(3) {
      top: 11px;
    }

    #menu-icon span:nth-child(4) {
      top: 21px;
    }

    #menu-icon.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    #menu-icon.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    #menu-icon.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    #menu-icon.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}


/* JS ANIMATIONS */

.navbar-scrolled {
  background: -webkit-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
  background: -moz-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
  background: -ms-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
  background: -o-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
  background: linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
}

.menu-toggled {
  transform: translateX(0) !important;
}

.icon-scrolled {
  background: #484848;
}

.hide-overlay {
  opacity: 0.6;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
