.navbar-scrolled {
  background: -webkit-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
  background: -moz-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
  background: -ms-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
  background: -o-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
  background: linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
}

#navbar {
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  .menu-toggle {
    display: none;
  }

  ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;

    li {
      margin-right: 20px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 100;
    }

    li:last-child {
      margin-right: 0;
      border-left: 1px solid #fff;
      padding-left: 20px;
    }

    li:nth-last-child(3){
      border-right: 1px solid #fff;
      padding-right: 20px;
    }

    i {
      margin-right: 5px;
    }

    a {
      color: #fff;

      &:hover {
        color: #ccc;
      }
    }

    span {
      position: relative;
      top: 2px;
      right: 5px;
    }

    .user-profil {
      display: none;
      left: 10px;
    }

    li:nth-last-child(2){
      &:hover {
        .user-name {
          display: none;
        }
        .user-profil {
          display: inherit;
        }
      }
    }
  }
}

.logo {
  margin-right: auto;
  img {
    height: 50px;
  }
}

@media only screen and (max-width:768px){
  #navbar {
    width: 260px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;

    transform: translateX(-260px);

    background-color: #484848;

    ul {
      width: 200px;
      flex-direction: column;
      align-items: flex-start;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 0px;

      li {
        margin-bottom: 15px;
      }
    }

    .img-circle { display: none; }
    .user-name { display: none; }
    .user-profil { display: inline; }

    .menu-toggle {
      display: inline;
      position: absolute;
      top: 25px;
      right: -60px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      overflow: hidden;
    }
  }

  .menu-toggled {
    transform: translateX(0) !important;
  }

  #menu-burger {
    position: relative;
    width: 30px;
    height: 26px;

    .burger {
      position: absolute;
      top: -3px;
      left: -3px;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
    }

    span {
      position: absolute;
      width: 100%;
      height: 5px;
      background: #fff;
      margin-top: 10px;
      &:before, &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        background: #fff;
        top: -9px;
        transition: 0.3s;
      }
      &:after {
        top: 9px;
      }
    }

    .menu-checked {
      span {
        background: transparent;
        &:after {
          transform: rotate(45deg) translate(-1px, -8px);
        }
        &:before {
          transform: rotate(-45deg) translate(-4px, 12px);
        }
      }
    }
  }
}
