/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background-color: #97E8EB;
  color: white;
}
.bg-turquoise {
  background-color: rgba(54,211,218,0.7);
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}
.bg-white {
  background: white;
  color: black;
}
.bg-light-white {
  background: rgba(255,255,255,0.4);
  color: black;
  border-radius: 10px;
}
.bg-grey {
  background: #F9F9F9;
  color: black;
}
.blue {
  color: #00CAFF;
}
.turquoise {
  color: #36D3DA;
}
.green {
  color: #7DF088;
}
.black {
  color: rgb(51,51,51);
}
.white {
  color: white;
}

.r5 {
  border-radius: 5px;
}

.img140 {
  img {
    height: 140px;
  }
}

.img120 {
  img {
    height: 120px;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
  z-index: 2;
}

.border-style {
    border-top: 2px rgba(255, 255, 255, 1) solid;
    margin-top: 28px;
}

.border-style2 {
    border-top: 2px rgba(51, 51, 51, 1) solid;
    margin-top: 60px;
}

.border-top {
  border-top: 2px rgba(181, 181, 181, 0.23) solid;
}

.border-bottom {
  border-bottom: 1px rgba(216,227,225,0.23) solid;
}

.cforgood-background {
  background-image: image-url("cforgoodcover.png");
  background-size: cover;
  height: 210px;
  border-bottom: 2px rgba(53, 60, 59, 0.23) solid;
  font-variant: small-caps;
  h3 {
    color: white;
    font-size: 32px;
  }
}

.page-title {
  text-align: center;
  margin-top: 80px;
}

.f-left {
  float: left;
}

.br5 {
  border-radius: 5px;
}

.display-inline {
  display: inline;
}