/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background-color: #97E8EB;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

.bg-white {
  background: white;
  color: black;
}

.bg-grey {
  background: #F3F3F3;
  color: black;
}

.blue {
  color: #00CAFF;
}

.turquoise {
  color: #36D3DA;
}

.green {
  color: #93F29C;
}

.r5 {
  border-radius: 5px;
}

.img140 {
  img {
    height: 140px;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
  z-index: 2;
}