/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background-color: #97E8EB;
  color: white;
}
.bg-turquoise {
  background-color: rgba(54,211,218,0.7);
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}
.bg-white {
  background: white;
  color: black;
}
.bg-grey {
  background: #F9F9F9;
  color: black;
}
.blue {
  color: #00CAFF;
}
.turquoise {
  color: #36D3DA;
}
.green {
  color: #7DF088;
}

.r5 {
  border-radius: 5px;
}

.img140 {
  img {
    height: 140px;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
  z-index: 2;
}

.border {
    border-top: 2px rgba(255, 255, 255, 1) solid;
    margin-top: 28px;
}

.cforgood-background {
  background-image: image-url("cforgoodcover.png");
  background-size: cover;
  height: 150px;
}

.page-title {
  text-align: center;
  margin-top: 80px;
}