.form-perk-container {
  padding: 40px;

  .form-perk {
    position: relative;
    padding: 20px;
    width: 65%;
    background-color: #fff;
  }

  .btn-create {
    width: 100%;
    position: absolute;
    left: 0%;
    border-radius: 0;
    bottom: 0;
    height: 50px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    background-color: $turquoise;
    border: 1px solid #19A2C2;
  }
}