.form-perk-container {

  .form-perk {
    position: relative;
    padding: 20px 20px 40px;
    margin-bottom: 40px;
    width: 65%;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  }

  .btn-create {
    padding: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 2px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    background-color: $turquoise;
    border: 1px solid #19A2C2;

    -webkit-transition: all, 0.3s, ease-in-out;
    -o-transition: all, 0.3s, ease-in-out;
    transition: all, 0.3s, ease-in-out;

    &:hover {
      background-color: #19A2C2;
    }
  }

  .card-perk {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    cursor: pointer;
    text-align: left;
    margin: 1%;
    margin-top: 25px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.09);

    &:hover {
      box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2);
    }
  }

  .perk-overlay {
    background-color: #9fd6ae;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2);
  }

  .perk-popover {
    text-decoration: none;
    color: rgba(0,0,0,0.7);


    h1 {
      font-size: 0.9em;
      font-weight: 500;
      margin: 0;
      padding: 0;
    }

    span {
      font-size: 0.8em;
      line-height: 20px;
      font-weight: 200;
    }

    img {
      position: absolute;
      height: 25px;
      top: 5px;
      right: 10px;
    }
  }

  .form-group {
    width: 100%;
  }

  form {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    text-align: left;
    margin-top: 25px;

    label {
      margin: 0 0 5px 20px;
      text-transform: uppercase;
      font-size: small;
      font-weight: 100;
      color: #A5A5A5;
      abbr { display: none; }
    }

    input,
    textarea,
    select {
      max-width: 295px;
      padding: 20px 20px;
      border-radius: 20px;
      background: #f1f1f1;
      border: 1px solid #f9f9F9;
      font-size: small;
      font-weight: 100;

      @include transition(all, 0.2s, ease-in-out);
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    input[type="number"]:focus,
    textarea:focus,
    select:focus {
      background-color: #fff;
      border-color: #f1F1F1;
      -webkit-box-shadow: 0px 16px 40px -15px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 16px 40px -15px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 16px 40px -15px rgba(0, 0, 0, 0.6);
      outline: 0 none;
    }

    textarea {
      width: 100%;
      resize: none;
    }

    .perk_periodicity_id {
      width: 45%;
      margin-left: 5%;
    }


    #perk_periodicity_id,
    #perk_times,
    #perk_end_date {
      width: 100%;
    }
  }

  .perk_permanent {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;

    label {
      flex: 1 100%;
    }

    .radio + .radio, .checkbox + .checkbox {
      margin-top: 10px;
    }
  }

  .dashboard-create-perk {
    position: relative;
    width: 100%;
    padding: 20px;
    overflow-X: hidden;

    /* CARD - SELECT TYPE OF PERK *********************************************/
    .type-card {
      display: flex;
      flex-direction: column;
      margin: 20px 0 35px;
      background-color: #fff;
      cursor: pointer;

      span {
        text-transform: uppercase;
        font-weight: 600;
      }

      .type-title {
        position: relative;
        padding: 10px 20px;
        color: #fff;
        background-color: #9FD6AE;
        border-radius: 3px 3px 0 0;

        .fa {
          position: absolute;
          margin-right: 10px;
          width: 35px;
          height: 35px;
          border: 1px solid #fff;
          border-radius: 50%;
          line-height: 33px;
          text-align: center;
          color: #fff;
          font-size: 15px;
          left: 20px;
          top: 15px;
        }

        span {
          margin-left: 50px;
        }

        .type-category {
          display: block;
          color: #636363;
        }
      }

      .type-content {
        display: flex;

        p {
          margin: 0;
          padding: 10px 20px;
          width: 75%;
          font-size: 12px;
          color: #636363;
        }

        .type-create {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25%;
          font-size: 20px;
          background-color: #636363;
          border-radius: 0 0 3px 0;

          .fa {
            color: #fff;
          }
        }
      }
    }
  }

  /* FORM - CREATE PERK *****************************************************/
  .perk-form-card {
    position: absolute;
    width: 335px;
    top: 20px;
    border-radius: 3px;
    background-color: #fff;

    @include transition(all, 0.3s, ease-in-out);
    transform: translateX(110%);
    z-index: 30;

    .perk-form-title {
      position: relative;
      padding: 10px 20px;
      color: #fff;
      background-color: #9FD6AE;
      border-radius: 3px 3px 0 0;

      .fa {
        position: absolute;
        width: 35px;
        height: 35px;
        border: 1px solid #fff;
        border-radius: 50%;
        line-height: 33px;
        text-align: center;
        color: #fff;
        font-size: 15px;
        right: 20px;
        top: 15px;
        cursor: pointer;
      }

      span {
        margin: 0;
        font-weight: 600;
        text-transform: uppercase;
      }

      .type-category {
        display: block;
        color: #636363;
      }
    }

    .type-reminder {
      padding: 10px 20px;
      background-color: #f4f4f4;
      text-transform: uppercase;
      font-size: 11px;
      color: #636363;
    }


    form {
      position: relative;
      padding: 20px;
      margin: 0;
      width: 100%;
      display: flex;
      text-align: none;

      label {
        margin: 0;
        width: 100%;
        font-size: 14px;
        font-weight: 600;
      }

      input,
      textarea {
        padding: 10px 0px;
        max-width: 100%;
        background-color: transparent;
        box-shadow: none;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #f4f4f4;
        font-size: 14px;
      }

      input:focus, textarea:focus,
      input:active, textarea:active {
        padding: 10px 5px;
        box-shadow: none;
        background-color: #f4f4f4;
        border-left: 3px solid #636363;
      }

      input[type="submit"] {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        padding: 0;
        background-color: #9FD6AE;
        border-radius: 3px;
        font-size: 16px;
        font-weight: 600;
      }

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #F4F4F4;
        border-radius: 0;
        background-color: #fff;
        font-size: 14px;
        color: #A5A5A5;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
         -webkit-appearance: none;
      }


      .select-wrapper {
        position: relative;
        width: 100%;
      }

      .select-wrapper:before {
        position: absolute;
        display: inline-block;
        right: 5px;
        top: 10px;
        content: '\f0d7';
        font-family: FontAwesome;
        font-size: 14px;
        color: #A5A5A5;
        pointer-events: none;
      }

      .perk_start_date,
      .perk_end_date {
        width: 45%;
        display: inline-block;
        float: left;
      }

      .perk_start_date { margin-right: 5%; }
      .perk_end_date { margin-left: 5%; }

      .perk_times {
        width: 25%;
        margin-right: 10%;
      }

      .quantity-selector {
        button {
          border-radius: 50%;
          box-shadow: none;
          border: none;
          margin: 0 2px;
          width: 30px;
          height: 30px;
          background-color: #9FD6AE;
          color: #fff;
        }

        button:active,
        button:focus {
          box-shadow: none;
          outline: 0 none;
        }
      }
    }
  }

  .type-show {
    z-index: 200;
    transform: translateX(0);
    margin-bottom: 60px;
  }
}

.dashboard-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 20;
  @include transition(all, 0.3s, ease-in-out);
}
