.dashboard-business {
  padding: 30px 30px 90px 30px;

  .nav-tabs {
    width: 80%;
    border: none;

    li {
      width: 25%;
      margin-bottom: 0;
      border: none;
      text-align: center;

      a {
        margin: 0;
        padding: 20px 15px;
        background-color: transparent;
        border: none;
        border-radius: 4px 4px 0 0;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        color: #555555;
        opacity: 0.6;

        &:hover {
          background-color: transparent;
          opacity: 1;
        }
      }
    }

    li.active a,
    li.active a:focus {
      border: none;
      background-color: #fff;
      opacity: 1;

      &:hover {
        border: none;
      }
    }
  }

  .tab-content {
    width: 80%;
    background-color: #fff;
  }
}

@media only screen and (max-width:768px){
  .dashboard-business {
    padding: 20px;

    .nav-tabs {
      width: 100%;

      li {
        width: 50%;
      }
    }

    .tab-content {
      padding: 20px;
      width: 100%;
    }
  }
}
