.admin {
  padding-top: 50px;
  height: 100vh;
  overflow: hidden;

  .dashboard {
    position: relative;
    left: 15%;
    width: 85%;
    height: 100vh;
    background-color: #f1f1f1;
    overflow-y: scroll;

    .admin-stats {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: #fff;
    }

    .data-container {
      width: 18%;
      height: 100%;
      background-color: #f1f1f1;
      z-index: 10000;
      position: absolute;
      box-sizing: border-box;
      text-align: center;
      box-shadow: 0 2px 9px rgba(0, 0, 0, 0.2);

      .data-mobile {
        display: none;
      }

      ul {
        list-style: none;
        color: #fff;

        li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 139px;
          line-height: 50px;

          span {
            display: block;
            color: #41444a;
          }

          span.number {
            font-size: 50px;
            font-weight: 900;
          }

          span.label {
            padding-top: 16px;
            text-transform: uppercase;
            font-family: avenir;
            font-weight: 100;
          }
        }
      }
    }

    .pro-map-businesses {
      position: relative;
      height: 100vh;
      left: 18%;
    }
  }

  .admin-perks {
    padding: 40px;

    .admin-perk-card:first-child {
      margin-top: 0;
    }

    .admin-perk-card {
      position: relative;
      margin: 20px 0;
      background-color: #fff;
      display: flex;
      align-items: center;
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.07);

      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;

      &:hover { box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2); }

      .perk-activation,
      .perk-details {
        padding: 30px 20px;
      }

      .perk-title {
        padding-bottom: 5px;
        font-weight: 600;

        .fa-bolt {
          margin-left: 10px;
          border: 1px solid #36D3DA;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          color: #36D3DA;
          font-size: 15px;
        }
      }

      .perk-code {
        color: #9FD6AE;
        padding-left: 5px;
      }

      .perk-content {
        position: relative;
        text-transform: uppercase;
        font-size: 12px;
        color: #636363;

        .perk-date {
          padding-top: 5px;
          font-weight: 600;
          .fa { margin-right: 5px;}

          span:first-child {
            margin-right: 40px;
          }
        }
      }

      .perk-activation { width: 15%; }
      .perk-details { width: 65%; }

      .perk-status {
        height: 146px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        background-color: #36D3DA;

        a {
          text-transform: uppercase;
          color: #fff;
          border: 1px solid #fff;
          padding: 10px;
          border-radius: 3px;
          font-size: 14px;

          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;

          &:hover {
            background-color: #fff;
            color: #36D3DA;
          }
        }
      }
    }

    // Toogle Radio Button
    .tgl{
      display: none;
      // add default box-sizing for this scope
      &, &:after, &:before,
      & *, & *:after, & *:before,
      & + .tgl-btn{
        box-sizing: border-box;
        &::selection{
          background: none;
        }
      }
      + .tgl-btn{
        outline: 0;
        display: block;
        width: 4em;
        height: 2em;
        position: relative;
        cursor: pointer;
        user-select: none;
        &:after, &:before{
          position: relative;
          display: block;
          content: "";
          width: 50%;
          height: 100%;
        }
        &:after{
          left: 0;
        }
        &:before{
          display: none;
        }
      }
      &:checked{
        + .tgl-btn{
          &:after{
            left: 50%;
          }
        }
      }
    }

    .tgl-light{
      + .tgl-btn{
        background: #f0f0f0;
        border-radius: 2em;
        padding: 2px;
        transition: all .4s ease;
        &:after{
          border-radius: 50%;
          background: #fff;
          transition: all .2s ease;
        }
      }

      &:checked{
        + .tgl-btn{
          background: #9FD6AE;
        }
      }
    }
  }
}

.whitebox-business-blur {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-filter: blur(3px);
  filter: url('/media/blur.svg#blur');
  filter: blur(3px);
}

.whitebox-business-msg {
  position: absolute;
  top: 30%;
  left: 40%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #9FD6AE;
  border: 1px solid #8BBD99;
  box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600px;

  img {
    height: 10%;
    width: 10%;
    margin-right: 10px;
  }

  &:hover {
    background-color: #8BBD99;
  }
}

@media only screen and (max-width:768px){
  .admin {
    padding-top: 0;
    height: 100vh;
    overflow: hidden;

    .dashboard {
      position: relative;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #f1f1f1;
      overflow-y: scroll;

      .pro-map-businesses {
        position: relative;
        width: 100% !important;
        height: 100vh;
        left: 0;
      }

      .data-container {
        position: fixed;
        width: 100%;
        height: 120px;
        bottom: 60px;
        box-shadow: 2px 0 9px rgba(0, 0, 0, 0.2);

        .data-desktop {
          display: none;
        }

        .data-mobile {
          display: block;
        }

        .slick-slider {
          margin-bottom: 0;

          .slick-list {
            padding: 10px 0 0 0;
          }

          .slick-dots {
            position: relative;
            height: 20px;
            bottom: -7px;
            justify-content: center;

            li {
              button:before {
                font-size: 25px;
              }
            }
          }
        }

        ul {
          display: flex;
          flex-wrap: nowrap;
          width: 100%;
          height: 100%;

          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 50px;
            height: 100%;

            span.number {
              font-size: 30px;
            }

            span.label {
              padding-top: 5px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
