.admin {
  height: 100vh;
  overflow: hidden;

  .dashboard {
    position: relative;
    left: 15%;
    width: 85%;
    height: 100vh;
    background-color: #f1f1f1;
    overflow-y: scroll;

    .mobile-menu-overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.4);
      z-index: 20;
      @include transition(all, 0.3s, ease-in-out);
    }

    .mobile-title {
      display: none;
    }

    .logo-title {
      float: left;
      width: 25px;
      margin-right: 5px;
    }

    .view-title {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      color: #636363;
    }

    .admin-stats {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: #fff;
    }

    .data-container {
      padding-top: 50px;
      width: 18%;
      height: 100%;
      background-color: #f1f1f1;
      z-index: 10;
      position: absolute;
      box-sizing: border-box;
      text-align: center;
      box-shadow: 0 2px 9px rgba(0, 0, 0, 0.2);

      .data-mobile {
        display: none;
      }

      .business-into {
        display: none;
      }

      ul {
        list-style: none;
        color: #fff;

        li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 139px;
          line-height: 50px;

          span {
            display: block;
            color: #41444a;
          }

          span.number {
            font-size: 50px;
            font-weight: 900;
          }

          span.label {
            padding-top: 16px;
            text-transform: uppercase;
            font-family: avenir;
            font-weight: 100;
          }
        }
      }
    }

    .pro-map-businesses {
      position: relative;
      height: 100vh;
      left: 18%;
    }
  }

  .admin-perks {
    padding: 80px 40px;

    .admin-perk-card:first-child {
      margin-top: 0;
    }

    .admin-perk-card {
      position: relative;
      margin: 20px 0;
      background-color: #fff;
      display: flex;
      align-items: center;
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.07);

      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;

      &:hover { box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2); }

      .perk-activation,
      .perk-details {
        padding: 30px 20px;
      }

      .perk-title {
        padding-bottom: 5px;
        font-weight: 600;

        .fa-bolt {
          margin-left: 10px;
          border: 1px solid #36D3DA;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          color: #36D3DA;
          font-size: 15px;
        }
      }

      .perk-code {
        color: #9FD6AE;
        padding-left: 5px;
      }

      .perk-content {
        position: relative;
        text-transform: uppercase;
        font-size: 12px;
        color: #636363;

        .perk-date {
          padding-top: 5px;
          font-weight: 600;
          .fa { margin-right: 5px;}

          span:first-child {
            margin-right: 40px;
          }
        }

        .perk-stats {
          ul {
            margin-top: 5px;
            display: flex;
            list-style: none;
            li {
              margin-right: 20px;
            }
          }
        }
      }

      .perk-activation { width: 15%; }
      .perk-details { width: 65%; }

      .perk-status {
        height: 146px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        background-color: #36D3DA;

        a {
          text-transform: uppercase;
          color: #fff;
          border: 1px solid #fff;
          padding: 10px;
          border-radius: 3px;
          font-size: 14px;

          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;

          &:hover {
            background-color: #fff;
            color: #36D3DA;
          }
        }
      }
    }

    // Toogle Radio Button
    .tgl{
      display: none;
      // add default box-sizing for this scope
      &, &:after, &:before,
      & *, & *:after, & *:before,
      & + .tgl-btn{
        box-sizing: border-box;
        &::selection{
          background: none;
        }
      }
      + .tgl-btn{
        outline: 0;
        display: block;
        width: 4em;
        height: 2em;
        position: relative;
        cursor: pointer;
        user-select: none;
        &:after, &:before{
          position: relative;
          display: block;
          content: "";
          width: 50%;
          height: 100%;
        }
        &:after{
          left: 0;
        }
        &:before{
          display: none;
        }
      }
      &:checked{
        + .tgl-btn{
          &:after{
            left: 50%;
          }
        }
      }
    }

    .tgl-light{
      + .tgl-btn{
        background: #f0f0f0;
        border-radius: 2em;
        padding: 2px;
        transition: all .4s ease;
        &:after{
          border-radius: 50%;
          background: #fff;
          transition: all .2s ease;
        }
      }

      &:checked{
        + .tgl-btn{
          background: #9FD6AE;
        }
      }
    }
  }
}

.whitebox-business-blur {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-filter: blur(3px);
  filter: url('/media/blur.svg#blur');
  filter: blur(3px);
}

.whitebox-business-msg {
  position: absolute;
  top: 30%;
  left: 40%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #9FD6AE;
  border: 1px solid #8BBD99;
  box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600px;

  img {
    height: 10%;
    width: 10%;
    margin-right: 10px;
  }

  &:hover {
    background-color: #8BBD99;
  }
}

@media only screen and (max-width:768px){
  .admin {
    padding-top: 0;
    height: 100vh;
    overflow: hidden;

    .dashboard {
      position: relative;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #f1f1f1;
      overflow-y: scroll;

      .pro-map-businesses {
        display: none;
        position: relative;
        width: 100% !important;
        height: 100vh;
        left: 0;
      }

      .mobile-title {
        display: flex;
        align-items: center;
        padding: 20px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: #636363;

        img {
          width: 25px;
          margin-right: 5px;
        }
      }

      .pro-welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        padding: 40px 20px 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #f4f4f4;

        // &:after {
        //   content: "";
        //   position: absolute;
        //   top: 0;
        //   bottom: 0;
        //   left: 0;
        //   right: 0;
        //   opacity: 0.75;
        //   background: -webkit-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* Chrome 10+, Saf5.1+ */
        //   background: -moz-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* FF3.6+ */
        //   background: -ms-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* IE10 */
        //   background: -o-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* Opera 11.10+ */
        //   background: linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* W3C */
        // }

        h1 {
          position: relative;
          font-size: 22px;
          font-weight: 600;
          text-align: center;
          color: #fff;
          z-index: 3;
        }

        img {
          position: relative;
          width: 90px;
          z-index: 3;
        }
      }

      .data-container {
        position: relative;
        padding-top: 0;
        margin: 0 20px 80px 20px;
        width: 90%;
        height: auto;
        background-color: #fff;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.2);

        .data-desktop {
          display: none;
        }

        .data-mobile {
          display: block;
        }

        .business-into {
          display: flex;
          padding-left: 135px;
          position: relative;
          width: 100%;
          height: 160px;
          background-size: cover;
          background-position: center;
          border-radius: 3px;
          z-index: 3;

          &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 3px 3px 0 0;
            opacity: 0.65;
            background: -webkit-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* Chrome 10+, Saf5.1+ */
            background: -moz-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* FF3.6+ */
            background: -ms-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* IE10 */
            background: -o-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* Opera 11.10+ */
            background: linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* W3C */
          }

          .business-owner {
            position: absolute;
            height: 100px;
            width: 100px;
            bottom: -45px;
            left: 20px;
            border: 2px solid #fff;
            border-radius: 50%;
            z-index: 5;
          }

          .business-name {
            position: absolute;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            font-size: 20px;
            bottom: 30px;
            text-align: left;
            z-index: 10;
          }

          .business-location {
            position: absolute;
            bottom: 6px;
            color: #fff;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            z-index: 10;

            .fa {
              margin-right: 5px;
            }
          }
        }

        .business-presentation {
          padding: 50px 20px 0;
          text-align: left;

          span {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
            color: #636363;
          }

          p {
            font-size: 12px;
            color: #636363;
          }

          ul {
            display: flex;
            flex-direction: row;

            li, li:nth-child(1) {
              display: flex;
              flex-direction: row;
              padding: 10px 0 10px;
              line-height: 40px;
              border-bottom: none;

              .fa {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                width: 30px;
                height: 30px;
                font-size: 14px;
                color: #fff;
                background-color: #9FD6AE;
                border-radius: 50%;
              }

              i {
                font-size: 12px;
                color: #636363;
              }
            }
          }
        }

        .slick-slider {
          margin-bottom: 0;

          .slick-list {
            padding: 10px 0 0 0;
          }

          .slick-dots {
            display: flex !important;
            flex-direction: row;
            position: absolute;
            height: 30px;
            top: 0;
            align-items: center;
            justify-content: center;
            background-color: #636363;

            li.slick-active button:before {
              opacity: 1;
            }

            li {
              display: flex;
              flex-direction: row;
              border-bottom: none;
              padding: 0;
              margin: 0;
              height: auto;

              button:before {
                font-size: 30px;
                color: #fff;
              }
            }
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;

          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            padding: 15px;
            border-bottom: 1px solid #f4f4f4;

            span.number {
              font-size: 30px;
            }

            span.label {
              padding-top: 5px;
              font-size: 14px;
            }
          }

          li:nth-child(1) {
            padding-top: 30px;
          }
        }
      }

      /* PROFILE | BUSINESS DETAILS *******************************************/

      .tab-container {
        padding: 0 20px;

        .nav-tabs {
          width: 100%;
          border: none;

          li {
            width: 50%;
            margin-bottom: -1px;
            border: none;
            text-align: center;

            a {
              margin: 0;
              padding: 20px 15px;
              background-color: transparent;
              border: none;
              border-radius: 4px 4px 0 0;
              font-size: 13px;
              font-weight: 600;
              text-transform: uppercase;
              color: #555555;
              opacity: 0.6;

              &:hover {
                background-color: transparent;
                opacity: 1;
              }
            }
          }

          li.active a,
          li.active a:focus {
            border: none;
            background-color: #fff;
            opacity: 1;

            &:hover {
              border: none;
            }
          }
        }

        .tab-content {
          padding: 20px;
          width: 100%;
          background-color: #fff;

          .form-group {
            width: 100%;
          }

          form {
            position: relative;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            text-align: left;

            abbr {
              display: none;
            }

            label {
              margin: 0;
              text-transform: uppercase;
              font-size: 12px;
              color: #636363;
              font-weight: 600;
            }

            input,
            select,
            textarea {
              padding: 10px 0px;
              max-width: 100%;
              background-color: transparent;
              box-shadow: none;
              border: none;
              border-radius: 0;
              border-bottom: 1px solid #f4f4f4;
              font-size: 14px;
              @include transition(all, 0.2s, ease-in-out);
            }

            textarea {
              resize: none;
            }

            select {
              -webkit-appearance:none;
              -moz-appearance:none;
              -ms-appearance:none;
              appearance:none;
              background: #fff url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
            }

            input:focus, input:active,
            textarea:focus, textarea:active,
            select:focus, select:active {
              padding: 10px 10px;
              box-shadow: none;
              background-color: #f4f4f4;
              border-left: 3px solid $turquoise;
            }

            input[type="submit"] {
              display: block;
              width: 100%;
              padding: 10px;
              margin-top: 20px;
              background-color: $turquoise;
              border-radius: 3px;
              color: #fff;
              text-transform: uppercase;
              font-size: 14px;
              font-weight: 600;
            }

            input[type="submit"]:focus,
            input[type="submit"]:active, {
              background-color: #19A2C2;
            }

            /* PROFILE - BUSINESS OWNER ***************************************/
            .business_leader_first_name,
            .business_leader_phone { width: 45%; margin-right: 5%; }

            .business_leader_last_name,
            .business_leader_email { width: 45%; margin-left: 5%; }

            .picture-container {
              padding-bottom: 10px;
              margin: 10px 0 20px;


              .picture-owner{
                float: left;
                width: 100px !important;
                height: 100px;
              }
            }

            .business_leader_picture {
              width: 66%;
              margin: 0;
            }

            #business_leader_picture {
              width: 0.1px;
              height: 0.1px;
              opacity: 0;
              overflow: hidden;
              position: absolute;
              z-index: -1;
            }

            .business_leader_picture {
              label {
                text-transform: none;
                border: 1px solid #636363;

              }
            }
          }
        }
      }
    }

    .admin-perks {
      padding: 20px 20px 60px;

      .mobile-perks {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: #636363;
      }

      .admin-perk-card {
        display: flex;
        flex-direction: column;
        margin: 20px 0 35px;

        .perk-code {
          display: block;
          padding-left: 0;
        }

        .perk-activation {
          display: flex;
          align-items: center;
          justify-content: space-between;
          order: 2;
          padding: 20px;
          width: 100%;

          span {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            color: #636363;
          }
        }

        .perk-details {
          order: 1;
          padding: 0;
          width: 100%;

          .perk-title {
            padding: 10px 20px;
            color: #fff;
            background-color: #9FD6AE;
            border-radius: 3px 3px 0 0;

            .fa-bolt {
              color: #fff;
              border-color: #fff;
            }
          }

          .perk-code {
            color: #636363;
          }

          .perk-content {
            padding: 20px 20px 0;
            .perk-date span:first-child {
              margin-right: 15px;
            }
          }

          .perk-stats {
            padding-top: 10px;

            ul {
              padding: 10px 0;
              background-color: #F9F7F7;
              border-radius: 3px;

              li {
                display: flex;
                flex-direction: column;
                position: relative;
                margin-right: 0;
                width: 33.33333%;
                align-items: center;
              }

              li:nth-child(2) {
                &:before {
                  content: " ";
                  position: absolute;
                  border-left: 1px solid #D6D6D6;
                  height: 50px;
                  top: 0;
                  left: -5px;
                }

                &:after {
                  content: " ";
                  position: absolute;
                  border-right: 1px solid #D6D6D6;
                  height: 50px;
                  top: 0;
                  right: -5px;
                }
              }
            }
          }
        }

        .perk-status {
          order: 3;
          margin-bottom: 15px;
          width: 90%;
          height: auto;
          background-color: #E1E1E1;
          border-radius: 3px;

          a {
            border: none;
          }
        }
      }
    }
  }
}
