#dashboard-business {
  position: fixed;
  height: 100%;
  width: 100%;
  top:50px;
  left:110px;
}

.pro-card-perk {
  background-color: $turquoise;
  padding: 10px;
  margin: 10px;

  &-title {
    font-size: 16px;

  }

  &-content {
    font-size: 14px;
  }

  &-date {
    font-size: 12px;
    color: $gray-lighter;
  }

  &-flash {
    font-size: 26px;
    color: $orange  ;
  }
}

