.dashboard {
  position: relative;
  margin-top: 50px;
  left: 260px;
  background-color: #fff;

  h1 {
    margin: 0;
  }

  .admin-stats {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
  }
}

.pro-card-perk {
  background-color: $turquoise;
  padding: 10px;
  margin: 10px;

  &-title {
    font-size: 16px;

  }

  &-content {
    font-size: 14px;
  }

  &-date {
    font-size: 12px;
    color: $gray-lighter;
  }

  &-flash {
    font-size: 26px;
    color: $orange  ;
  }
}

.pro-map-businesses {
  position: absolute;
  top:50px;
  left:110px;
}
