.admin {
  padding-top: 0;
  height: 100vh;
  overflow: hidden;

  .dashboard {
    position: relative;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
    overflow-y: scroll;

    .mobile-title {
      display: flex;
      align-items: center;
      padding: 20px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      color: #636363;

      img {
        width: 25px;
        margin-right: 5px;
      }
    }

    .logo-title {
      float: left;
      width: 25px;
      margin-right: 5px;
    }

    .view-title {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      color: #636363;
    }
  }

  .mobile-menu-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 250;
    @include transition(all, 0.3s, ease-in-out);
  }
}

@media only screen and (min-width:769px){
  .admin {
    height: 100vh;
    overflow: hidden;

    .dashboard {
      position: relative;
      left: 15%;
      width: 85%;
      height: 100vh;
      background-color: #f1f1f1;
      overflow-y: scroll;

      .mobile-title {
        display: none;
      }

      .logo-title {
        display: none;
      }

      .view-title {
        display: none;
      }
    }
  }
}