.left-sidebar {
  position: absolute;
  width: 15%;
  height: 100%;
  left: 0px;

  ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    position: relative;
    width: 100%;
    height: 139px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include transition(all 0.3s ease-in-out);

    .icon-container {
      display: flex;
      align-items: center;
      height: 60px;
      width: 60px;
      margin: 0 auto;
      padding: 5px;
      border-radius: 50%;
    }

    img {
      width: 40px;
      height: 40px;
    }

    a {
      width: 100%;
      color: #fff;
      letter-spacing: 1px;

      .admin-icon {
        margin: 0 auto;
        display: block;
      }
    }

    .admin-label {
      text-transform: uppercase;
      font-size: 75%;
      font-family: avenir;
      font-weight: 100;
      color: #fff;
    }
  }

  .signout {
    position: absolute;
    padding: 5px;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    @include transition(all 0.3s ease-in-out);

    a { color: #dcdcdc; }

    .signout-icon {
      height: 20px;
      margin-right: 10px;
    }
  }

  li.active {
    opacity: 1;

    &:after {
    content:"";
    position: absolute;
    display:inline-block;
    border: 20px solid white;
    border-color: transparent #f1f1f1 transparent transparent;
    top: 50px;
    right: 0px;
    }

    .icon-container {
      background-color: #fff;
    }
  }

  li.active.light {
    &:after {
      border-color: transparent #f1f1f1 transparent transparent;
    }
  }
}

.user-sidebar {
  background-color: #71bbc6;

  li {
    &:hover {
      border-left: 10px solid #386971;
      background-color: #61A6B1;
    }
  }

  .signout {
    background-color: #61A6B1;
    &:hover {
      background-color: #386971;
    }
  }
}

.business-sidebar {
  background-color: #9FD6AE;

  li {
    &:hover {
      border-left: 10px solid #5D8A69;
      background-color: #8BBD99;
    }
  }

  .signout {
    background-color: #8BBD99;
    &:hover {
      background-color: #5D8A69;
    }
  }
}


@media only screen and (max-width:768px){
  .left-sidebar {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    z-index: 10;

    ul {
      flex-wrap: nowrap;

      li:hover {
        border-left: none;
      }

      li.active {
        &:after {
          content: none;
        }

        .icon-container {
          background-color: transparent;
        }
      }
    }
  }

  .business-sidebar {
    background-color: #9FD6AE;

    ul {
      li {
        height: 100%;

        img {
          width: 30px;
          height: 30px;
        }
      }

      li.active {
        background-color: #8BBD99;
      }
    }

    .signout {
      display: none;
    }
  }
}
