.left-sidebar {
  display: inline-block;
  position: fixed;
  top: 50px;
  bottom: 0px;
  left: 0px;
  padding: 10px;
  background-color: $blue;
  width: 110px;

  & ul {
    margin-top: 30px;
  }

  & li {
    margin-top: 20px;
  }
}

