.left-sidebar {
  position: absolute;
  width: 20%;
  top: 50px;
  bottom: 0px;
  left: 0px;
  background-color: #4d5158;
  box-shadow: inset -1px 0px #565a60;


  ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    width: 100%;
    height: 139px;
    border-bottom: 1px solid #565a60;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;


    &:hover {
      opacity: 1;
      border-left: 10px solid #41444a;
      background-color: #5C5F65;
    }


    a {
      width: 100%;
      color: #fff;

      .admin-icon {
        padding-bottom: 10px;
        margin: 0 auto;
        width: 60px;
        display: block;
      }
    }

    .admin-label {
      text-transform: uppercase;
      font-size: 75%;
      font-family: avenir;
      font-weight: 100;
      color: #fff;
    }
  }

  li.active {
    opacity: 1;

    &:after {
    content:"";
    display:inline-block;
    position:absolute;
    border: 20px solid white;
    border-color: transparent #41444a transparent transparent;
    top: 50px;
    right: 0px;
    }
  }
}

