/* PROFILE | BUSINESS DETAILS *******************************************/

.admin {
  .dashboard {
    .tab-container {
      padding: 0 20px 90px;

      .nav-tabs {
        width: 100%;
        border: none;

        li {
          width: 50%;
          margin-bottom: -1px;
          border: none;
          text-align: center;

          a {
            margin: 0;
            padding: 20px 15px;
            background-color: transparent;
            border: none;
            border-radius: 4px 4px 0 0;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            color: #555555;
            opacity: 0.6;

            &:hover {
              background-color: transparent;
              opacity: 1;
            }
          }
        }

        li.active a,
        li.active a:focus {
          border: none;
          background-color: #fff;
          opacity: 1;

          &:hover {
            border: none;
          }
        }
      }

      .tab-content {
        padding: 20px;
        width: 100%;
        background-color: #fff;

        .form-group {
          width: 100%;
        }

        .col-1, .col-2 {
          width: 100%;
        }

        form {
          position: relative;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          box-sizing: border-box;
          text-align: left;

          abbr {
            display: none;
          }

          label {
            margin: 0;
            text-transform: uppercase;
            font-size: 12px;
            color: #636363;
            font-weight: 600;
          }

          input,
          select,
          textarea {
            padding: 10px 0px;
            max-width: 100%;
            background-color: transparent;
            box-shadow: none;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #f4f4f4;
            font-size: 14px;
            @include transition(all, 0.2s, ease-in-out);
          }

          textarea {
            resize: none;
          }

          .select-wrapper {
            position: relative;
            width: 100%;

            &:before {
              position: absolute;
              display: inline-block;
              right: 5px;
              top: 34px;
              content: '\f0d7';
              font-family: FontAwesome;
              font-size: 14px;
              color: #A5A5A5;
              pointer-events: none;
            }
          }

          select {
            -webkit-appearance:none;
            -moz-appearance:none;
            -ms-appearance:none;
            appearance:none;
            padding: 0;
            width: 100%;
            background: #fff url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
          }

          input:focus, input:active,
          textarea:focus, textarea:active {
            padding: 10px 10px;
            box-shadow: none;
            background-color: #f4f4f4;
            border-left: 3px solid #636363;
          }

          select:focus, select:active {
            padding: 0;
          }

          input[type="submit"] {
            // display: flex;
            // align-items: center;
            // justify-content: center;
            width: 100%;
            padding: 10px;
            background-color: #9FD6AE;
            border-radius: 3px;
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
          }

          input[type="submit"]:focus,
          input[type="submit"]:active, {
            background-color: #8BBD99;
            border: none;
          }

          /* PROFILE - BUSINESS OWNER ***************************************/
          .business_leader_first_name { width: 45%; margin-right: 5%; }

          .business_leader_last_name { width: 45%; margin-left: 5%; }

          .picture-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 10px;
            margin: 10px 0 0;
            background-color: #f4f4f4;
            border-radius: 3px 3px 0 0;
            width: 100%;
            padding: 10px;
            text-align: center;
            @include transition(all, 0.3s, ease-in-out);

            .picture-owner,
            .picture-business {
              border: 3px solid #fff;
            }

            .picture-business {
              border-radius: 0;
              width: auto;
              height: 100px;
            }
          }

          .business_picture,
          .business_leader_picture {
            width: 100%;
            margin: 0 0 20px;
          }

          .business_picture,
          .business_leader_picture {
            label {
              padding: 10px 20px;
              border: 1px solid #f4f4f4;
              border-top: none;
              text-align: center;
              cursor: pointer;
            }
          }

          #business_picture,
          #business_leader_picture {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
          }

           /* PROFILE - BUSINESS ********************************************/

          .radio_buttons {
            .radio {
              margin: 10px 0 0;
              width: 50%;
              display: inline-block;
            }
          }

          .business_zipcode {
            width: 45%;
            margin-right: 5%;
          }

          .business_city {
            width: 45%;
            margin-left: 5%;
          }
        }

        .new-password {
          display: block;
          margin: 10px auto 0;
          font-size: 12px;
          color: #A5A5A5;
          text-decoration: underline;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (min-width:769px){
  .admin {
    .dashboard {
      padding-top: 50px;

      .tab-container {
        padding: 20px;

        .nav-tabs {
          width: 50%;
        }

        .tab-content {
          .col-1, .col-2 {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width:1024px){
  .admin {
    .dashboard {
      .tab-container {
          .tab-content {

            .col-1:nth-child(odd) {
              width: 65.66666%;
              margin-left: 1%;
            }

            .col-1:nth-child(even) {
              width: 32.33333%;
              margin-right: 1%;
            }

            .col-2 {
              width: 100%;
              display: flex;
              flex-direction: row-reverse;
              padding-top: 20px;

              input[type="submit"] {
                width: 320px;
              }
            }

            .business_leader_phone {
              width: 49%;
              margin-right: 1%;
            }

            .business_leader_email {
              width: 49%;
              margin-left: 1%;
            }

            .new-password {
              width: 180px;
              margin-right: 0;
            }

            form {
              .picture-container {
                min-height: 155px;

                .picture-business {
                  height: 135px;
                }
              }

              .business_street {
                width: 48%;
                margin-right: 2%;
              }

              .business_zipcode {
                width: 24%;
                margin-right: 1%;
              }

              .business_city {
                width: 24%;
                margin-left: 1%;
              }

              .select-wrapper {
                width: 49%;
                margin-right: 1%;
              }

              .business_online {
                width: 49%;
                margin-left: 1%;
              }

              .business_url,
              .business_facebook {
                width: 32%;
                margin-right: 2%;
              }

              .business_email,
              .business_twitter {
                width: 32%;
              }

              .business_telephone,
              .business_instagram {
                width: 32%;
                margin-left: 2%;
              }
            }
          }
        }
      }
    }

}