<%= content_for(:title) do %>
<%= @business.name %>
<% end %>
<%= content_for(:description) do %>
Consultez vos chiffres
<% end %>

<div class="container-test" id="dashboard-business">
  <h1>Consultez vos metrics</h1>
</div>

<!-- class="container-fluid" -->
