.list-users {
  margin-top: 10px;
}

.create-an-employee-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 18px;
  .btn {
    width: 182px;
  }
}

.employee-display {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.employee-left{
  display: flex;
  justify-content: space-between;;
  align-items: center;
  flex-wrap: nowrap;
  line-height: 26px;
  min-width: 300px;

  .first_name, .last_name, .employee-cause {
    color: #666666;
    font-size: 1.1em;
  }

  .last_name {
    margin-left: 1%;
  }

  .employee-cause {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4%;

  i {
    padding: 5px;
    border-radius: 5px 0 0 5px;
    text-transform: uppercase;
    border: white 2px solid;
    font-size: 15px;
    color: black;
    }
  .cartouche-cause {
    font-size: 15px;
    min-width: 70px;
    padding: 5px;
    line-height: 15px;
    border-radius: 0 5px 5px 0;
    text-align: center;
    border: white 2px solid;
    background-color: white;
    }
  }
  .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: lightgrey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    bottom: 130%;
    margin-left: -60px;

  /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  .fa-heart:hover .tooltiptext {
    visibility: visible;
  }
}

.employee-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 450px;
  @media screen and (max-width: 600px){
    min-width: 0;
    flex-wrap: wrap;
  }

  .data {
    display: flex;
    justify-content: space-between;

    li {
      display: flex;
      margin: 0 15px;
      @media screen and (max-width: 992px){
          margin: 0 5px;
        }
        @media screen and (max-width: 600px){
          margin-bottom: 4%;
        }
      i {
        padding: 5px;
        border-radius: 5px 0 0 5px;
        text-transform: uppercase;
        border: white 2px solid;
      }

      .number {
        min-width: 70px;
        padding: 5px;
        line-height: 15px;
        border-radius: 0 5px 5px 0;
        text-align: center;
        border: white 2px solid;
        background-color: white;
      }
    }
  }
      .tooltiptext {
        visibility: hidden;
        width: 130px;
        background-color: lightgrey;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        bottom: 130%;
        margin-left: -60px;

      /* Position the tooltip */
        position: absolute;
        z-index: 1;
      }
      .fa-tag:hover .tooltiptext{
        visibility: visible;
      }
      .fa-eye:hover .tooltiptext {
        visibility: visible;
      }
}

.btn-supervisor-save-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.btn-supervisor-save {
  width: 320px !important;
}

li.list-group-item {
 background-color:  #e6e6e6;
}

.btn-grad {
  background: linear-gradient(to right, #64B9EA, #36D7B7, #33CC66) !important;
  border: none !important;
}
