<%= content_for(:title) do %>
<%= @business.name %>
<% end %>
<%= content_for(:description) do %>
Consultez vos informations
<% end %>

<div class="container-fluid" id="dashboard-business">
  <h1>Modifiez vos informations</h1>
</div>
