<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "pro/dashboard/shared/supervisor_sidebar" %>
  <!-- Content -->
  <div class="dashboard connexion signup supervisor-new-business">
     <div class="sign-box signup ">
      <%= link_to "", pro_business_supervisor_dashboard_path(current_business) , class: "close-sign-box" %>
      <!-- SIGNUP FORM BUSINESS -->
      <%= render "devise/registrations/shared/form_signup_business", resource: Business.new, resource_name: :business, supervisor: true %>
    </div>
  </div>
</div>
