.dashboard-causes {
  .cause-container {
    margin: 20px 20px 100px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);

    .cause-header {
      position: relative;
      width: 100%;
      height: 320px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 3px 3px 0 0;

      img.cause-logo {
        position: absolute;
        width: 100px;
        height: 100px;
        bottom: -40px;
        left: 20px;
        border-radius: 50%;
        z-index: 1;
      }

      h1 {
        position: absolute;
        left: 135px;
        bottom: 0px;
        font-size: 25px;
        font-weight: 600;
        text-align: left;
        color: #fff;
      }

      .user-button {
        position: absolute;
        bottom: -60px;
        width: 180px;
        font-size: 12px;
        padding: 10px;
        left: 135px;
        z-index: 15;
      }

      .love-you {
        position: absolute;
        bottom: -60px;
        left: 122px;
        display: flex;
        align-items: center;
        background-color: #9FD6AE;
        padding: 6px 20px;
        border-radius: 25px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        width: 200px;

        svg {
          margin-left: 10px;
        }
      }
    }

    .cause-category {
      display: flex;
      position: relative;
      margin-bottom: 50px;

      .disque-item {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        z-index: 4;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        transition: all 0.3s ease-in-out;

        img {
          width: 20px;
          z-index: 5;
        }
      }

      .item-category {
        border: 2px solid #fff;
      }

      span {
        display: flex;
        align-items: center;
        position: relative;
        padding: 5px 10px;
        max-width: 740px;
        top: 20px;
        left: -10px;
        border-radius: 0px 20px 20px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
      }
    }

    .cause-content {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 50px 20px 40px;

      h2 {
        font-size: 16px;
        padding: 0;
        margin-bottom: 20px;

        &:after {
          content: '';
          display: block;
          margin-top: 5px;
          background: #595959;
          height: 1px;
          width: 100%;
          max-width: 35px;
        }
      }

      .cause-details {
        width: 100%;
      }

      .cause-info {
        position: relative;
        width: 100%;
        margin-top: 30px;

        ul {
          display: flex;
          list-style: none;
        }

        ul.network {

          li {
            position: relative;
            margin-right: 10px;
            background-color: #BDDB71;
            height: 40px;
            width: 40px;
            border-radius: 50%;

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;

              .fa {
                color: #fff;
              }
            }
          }

          li:last-child {
            margin: 0;
          }
        }

        ul.direct-contact {
          flex-direction: column;
          margin-top: 30px;
          font-size: 12px;

          li {
            margin-bottom: 10px;

            a {
              display: flex;
              align-items: center;

              .fa {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #fff;
                z-index: 1;
              }

              span {
                padding: 7px 20px 7px 30px;
                margin-left: -20px;
                border: 1px solid #f4f4f4;
                border-radius: 0 20px 20px 0;
                background-color: #f4f4f4;
                color: #636363;
              }
            }
          }

          li:last-child {
            margin-bottom: 0;
          }
        }

        .place {
          display: flex;
          margin-top: 30px;

          .fa {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #fff;
                z-index: 1;
              }

          span {
            padding-left: 10px;
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            color: #636363;
          }
        }
      }
    }
  }
}

@media only screen and (min-width:769px){
  .dashboard-causes {
    .cause-container {
      margin: 20px;
      background-color: #fff;
      border-radius: 3px;

      .cause-header {
        h1 {
          width: 55%;
        }

        .user-button {
          position: absolute;
          bottom: 10px;
          width: 180px;
          font-size: 12px;
          padding: 10px;
          left: initial;
          right: 20px !important;
        }

        .love-you {
          bottom: 10px;
          right: 20px;
          left: inherit;
        }
      }
    }
  }
}

@media only screen and (min-width:1200px) {
  .dashboard-causes {
    .cause-container {
      position: relative;
      margin: 20px;
      background-color: #fff;
      border-radius: 3px;

      .cause-header {
        img.cause-logo {
          left: 40px;
        }

        h1 {
          left: 155px;
        }
      }

      .cause-content {
        flex-direction: row;
        padding: 135px 85px 40px;

        .cause-category {
          position: absolute;
          top: 10px;
          left: 150px;
        }

        .cause-details {
          width: 60%;
          margin-right: 5%;
        }

        .cause-info {
          width: 40%;
          margin-top: 0;
        }
      }
    }
  }
}



.button-dropdown-asso {
  width: 100%;
}

.asso-bottom-container-v2 .dropdown {
  width: 100%;
}

.asso-bottom-container-v2 .dropdown .dropdown-menu {
  position: fixed;
  left: 0;
  top: calc(100% - 150px);
  width: 100%;
  height: 150px;
  border-radius: 0px;
  border-color: rgba(55,55,55,0.1);
  border: none;
  margin: 0;
}

.drop-display-flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.asso-bottom-container-v2 {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 7000;
}

.asso-button-v2 {
  width: 100%;
  height: 50px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0C81F6;
  cursor: pointer;
}
