.dashboard-causes {
  width: 100%;

  .cause-container {
    background-color: #fff;
    width: 100%;

    .cause-header {
      position: relative;
      width: 100%;
      height: 320px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      img.cause-logo {
        position: absolute;
        width: 100px;
        height: 100px;
        bottom: -40px;
        left: 20px;
        border-radius: 50%;
        z-index: 1;
      }

      h1 {
        position: absolute;
        left: 135px;
        bottom: 0px;
        font-size: 25px;
        font-weight: 600;
        text-align: left;
        color: #fff;
      }

      .user-button {
        position: absolute;
        bottom: -60px;
        width: 180px;
        font-size: 12px;
        padding: 10px;
        left: 135px;
        z-index: 15;
      }

      .love-you {
        position: absolute;
        bottom: -60px;
        left: 122px;
        display: flex;
        align-items: center;
        background-color: #9FD6AE;
        padding: 6px 20px;
        border-radius: 25px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        width: 200px;

        svg {
          margin-left: 10px;
        }
      }
    }

    .cause-category {
      display: flex;
      position: relative;
      margin-bottom: 50px;

      .disque-item {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        z-index: 4;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        transition: all 0.3s ease-in-out;

        img {
          width: 20px;
          z-index: 5;
        }
      }

      .item-category {
        border: 2px solid #fff;
      }

      span {
        display: flex;
        align-items: center;
        position: relative;
        padding: 5px 10px;
        max-width: 740px;
        top: 20px;
        left: -10px;
        border-radius: 0px 20px 20px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
      }
    }

    .cause-content {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      margin-bottom: 55px;

      h2 {
        font-size: 16px;
        padding: 0;
        margin-bottom: 20px;

        &:after {
          content: '';
          display: block;
          margin-top: 5px;
          background: #595959;
          height: 1px;
          width: 100%;
          max-width: 35px;
        }
      }

      .cause-details {
        width: 100%;
      }

      .cause-info {
        position: relative;
        width: 100%;
        margin-top: 30px;

        ul {
          display: flex;
          list-style: none;
        }

        ul.network {

          li {
            position: relative;
            margin-right: 10px;
            background-color: $asso;
            height: 40px;
            width: 40px;
            border-radius: 50%;

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;

              .fa {
                color: #fff;
              }
            }
          }

          li:last-child {
            margin: 0;
          }

        }

        ul.direct-contact {
          flex-direction: column;
          margin-top: 30px;
          font-size: 12px;

          li {
            margin-bottom: 10px;

            a {
              display: flex;
              align-items: center;

              .fa {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 40px;
                height: 40px;
                color: #fff;
                border-radius: 50%;
                background-color: $asso;
                z-index: 1;
              }

              span {
                padding: 7px 20px 7px 30px;
                margin-left: -20px;
                border: 1px solid $asso;
                border-radius: 0 20px 20px 0;
                background-color: #f4f4f4;
                color: #636363;
              }
            }
          }

          li:last-child {
            margin-bottom: 0;
          }
        }

        .place {
          display: flex;
          margin-top: 30px;

          .fa {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 40px;
                height: 40px;
                color: #fff;
                border-radius: 50%;
                background-color: $asso;
                z-index: 1;
              }

          span {
            padding-left: 10px;
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            color: #636363;
          }
        }
      }
    }
  }
}

@media all and (max-width:767px) {
  .asso-banner-header-name {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}

@media all and (max-width:767px) {
  .asso-card-abs-banner {
    width: 100% !important;
    left: 0 !important;
  }
}

@media all and (max-width:767px) {
  .asso-fullpage {
    padding-left: 0px !important;
  }
}

.asso-fullpage {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-left: 90px;
  padding-top: 50px;
}

.asso-banner {
  height: 350px;
  width: 100%;
  background-color: $asso;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.asso-bottom-header {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgba(55,55,55,0.5);
  font-size: 9px;
  font-weight: 400;
}

.asso-description-container {
  width: 100%;
  font-size: 12px;
  color: rgba(55,55,55,1);
}

.asso-button {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $asso;
  margin-bottom: 40px;
  cursor: pointer;
}

.asso-button-text {
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.asso-card-abs-banner {
  position: absolute;
  top: 120px;
  left: 25%;
  width: 50%;
  height: 320px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.asso-card-photo {
  width: 100%;
  height: 87%;
  // background-image: url(https://parisiansecrets.files.wordpress.com/2012/10/dsc_0361.jpg);
  background-size: cover;
  background-position: center center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.asso-card-bottom-links {
  width: 100%;
  height: 13%;
  background-color: $asso;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
}

.asso-card-bottom-left-item {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  border-bottom-left-radius: 4px;
}

.asso-card-bottom-right-item {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.asso-cbri-middleblock, .asso-cbri-endblock {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $facebook;
  font-size: 22px;

  .fa {
   color: white;
  }
}

.asso-cbri-endblock {
  border-bottom-right-radius: 4px;
  background-color: $twitter;
}

.asso-firstblock-text {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  color: white;
  font-weight: 400;
}

.asso-banner-header-name {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
  padding-left: 25%;
  padding-right: 25%;
}

.asso-head-column-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner-asso-description {
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
  color: white;
}

.button-dropdown-asso {
  width: 100%;
}

.drop-display-flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.cool-things {
  font-size: 15px;
  font-weight: 600;
}

.cool-things-small {
  font-size: 10px;
  margin-bottom: 15px;
}

.validate-choice-button {
  padding: 10px 40px 10px 40px;
  background: $asso;
  border-radius: 100px;
  border: none;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  outline: none;
}

.title-sub {
  font-size: 9px;
  font-weight: 200;
  font-style: italic;
  color: #A8A8A8;
  text-transform: uppercase;
  padding: 0;
}

.asso-bottom-container {
  width: 100%;
  min-height: 50%;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 100px;
  background-color: white;

  @media (max-width: 767px) {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.asso-bottom-container-v2 .dropdown .dropdown-menu {
  position: fixed;
  left: 0;
  top: calc(100% - 150px);
  width: 100%;
  height: 150px;
  border-radius: 0px;
  border-color: rgba(55,55,55,0.1);
  border: none;
  margin: 0;

  @media (min-width: 768px) {
    width: calc(100% - 90px);
    left: 91px;
  }
}

.asso-bottom-container-v2 {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 7000;

  @media (min-width: 768px) {
    width: calc(100% - 90px);
    left: 90px;
  }
}

.asso-button-v2 {
  width: 100%;
  height: 50px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $asso;
  outline: none;
  cursor: pointer;
}

.dropdown.open .asso-button-v2 {
  margin-bottom: 150px;
}
