/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */


 .btn-blue {
  color: #fff !important;
  background-color: #56c9fb !important;
  border-color: #56c9fb !important;
  white-space: nowrap;
  border-bottom: 2px solid #1692c8 !important;
}