/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */


 .btn-blue {
  color: #fff !important;
  background-color: #00CAFF !important;
  border-color: #00CAFF !important;
  white-space: nowrap;
  border-bottom: 2px solid #1692c8 !important;
  border-radius: 4px;
  font-weight: 100;
}

.btn-bluenight {
  color: #fff !important;
  background-color: #349ED6 !important;
  border-color: #349ED6 !important;
  white-space: nowrap;
  border-bottom: 2px solid #1692c8 !important;
  border-radius: 4px;
  font-weight: 100;
}

 .btn-green {
  color: #fff !important;
  background-color: #80F2A4 !important;
  border-color: #93F29C !important;
  white-space: nowrap;
  border-bottom: 2px solid #7BDA8D !important;
  border-radius: 4px;
  font-weight: 100;
}

 .btn-turquoise {
  color: #fff !important;
  background-color: #36D3DA !important;
  border-color: #36D3DA !important;
  white-space: nowrap;
  border-bottom: 2px solid #19A2C2 !important;
  border-radius: 4px;
  font-weight: 100;
}

.btn-white {
  color: #fff !important;
  background-color: transparent !important;
  border-color: white !important;
  white-space: nowrap;
  border-bottom: 2px solid rgb(230,230,230) !important;
  border-radius: 4px;
  font-weight: 100;
}

.btn-grey {
  color: lightgrey !important;
  background-color: transparent !important;
  border-color: lightgrey !important;
  white-space: nowrap;
  border-bottom: 2px solid rgb(230,230,230) !important;
  border-radius: 4px;
  font-weight: 100;
}

.btn-filter {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-color: white !important;
  white-space: nowrap;
  border-bottom: 2px solid rgb(230,230,230) !important;
  border-radius: 4px;
  font-weight: 100;
}

/* BUTTON CLASSES *************************************/

.button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;

  -webkit-transition: all, 0.3s, ease-in-out;
  -o-transition: all, 0.3s, ease-in-out;
  transition: all, 0.3s, ease-in-out;
}

.button-turquoise {
  color: #fff;
  border: 1px solid #19A2C2;
  background-color: #36D3DA;

  &:hover {
    background-color: #19A2C2;
  }
}

.button-green {
  color: #fff;
  border: 1px solid #39D64B;
  background-color: #80F2A4;

  &:hover {
    background-color: #39D64B;
  }
}

.button-rouge {
  color: #fff;
  border: 1px solid #BF2F2F;
  background-color: #F74042;

  &:hover {
    color: #fff;
    background-color: #BF2F2F;
  }
}

.inactive {
  color: #fff;
  border: 1px solid #444444;
  background-color: #222222;
}

.user-button, .business-button {
  position: relative;
  padding: 10px 20px;
  margin: 0;
  width: 100%;
  max-width: 320px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  @include transition(all, 0.3s, ease-in-out);
}

.user-button {
  background-color: $turquoise;
  &:hover {
    background-color: #32C4CB;
  }
}

.business-button {
  background-color: #9fd6ae;
  &:hover {
    background-color: #8BBD99;
  }
}

.button-log {
  padding: 8px 20px;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  background-color: #9FD6AE;
  transition: all, 0.3s, ease-in-out;

  &.sign-up {
    background-color: #36d3da;
    margin-bottom: 10px;

    &:hover {
      color: #fff;
      background-color: #19A2C2;
    }
  }

  &.sign-in {
    background-color: #000;
    font-weight: 400;
    opacity: 0.8;
    margin-top: 15px;

    &:hover {
      color: #fff;
      background-color: #A3A5A8;
    }
  }

  &.facebook {
    background-color: $facebook;
    font-weight: 100;

    &:hover {
      color: #fff;
      opacity: 0.8;
    }

    .fa {
      font-size: 12px;
      font-weight: 600;
      margin-right: 6px;
    }
  }
}

.see-more {
  font-size: 40px;
  font-weight: 100;
  color: #fff;
}

.cta-button {
  color: white;
  padding: 5px 50px;
  background-color: $turquoise;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    color: white;
  }

  .fa {
    margin-right: 10px;
  }

  a {
    color: #fff;
  }
}

.button-gradient {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-width: 150px;
  bottom: 10px;
  left: (50%);
  transform: translateX(calc(-50% + 45px));
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  color: white;
  box-shadow:  0px 2px 2px rgba(0,0,0,0.3);
  background: linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
  z-index: 10;

  &:hover, &:focus {
    color: white;
  }

  @media (max-width: 767px) {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    box-shadow:  0px -1px 4px rgba(0,0,0,0.3);
  }
}

.button-validation-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  bottom: 0;
  right: 0;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  z-index: 10;

  &:hover, &:focus {
    color: white;
  }

  @media (max-width: 767px) {
    position: fixed;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: 100;
  color: rgba(55,55,55,0.4);
  background: transparent;
  border: 1px solid rgba(55,55,55,0.4);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 200;

  &:hover {
    color: rgba(55,55,55,0.9);
    border-color: rgba(55,55,55,0.9);
  }
}

.button-disabled {
  pointer-events: none !important;
  cursor: default !important;
  // opacity: 0.3;
}

.button-inactived {
  pointer-events: none !important;
  cursor: default !important;
}

//-- ANIMATED SUBMIT --//

@keyframes fillup {
  to { stroke-dasharray: 200 200; }
}

#submit {
  display: block;
  position: relative;

  &.clicked {

    .validate-choice-button {
      padding: 0;
      font-size: 0;
      min-width: 44px;
      min-height: 44px;
      background: #FFF;
      border: 4px solid #CCC;
      @include transition(all, 1s, ease-in-out);
    }

    .spinner {
      display: block;

      circle {
        animation: fillup 2s cubic-bezier(1,.04,.41,.76) 0.5s;
        animation-fill-mode: forwards;
      }
    }
  }

  &.submited {

    .validate-choice-button {
      padding: 10px 40px 10px 40px;
      background: $asso;
      border-radius: 100px;
      border: none;
      color: transparent;
      font-size: 12px;
      cursor: default;
      @include transition(all, 0.3s, ease-in-out);
    }

    .spinner {
      display: none;
    }

    .icon {
      font-size: 25px;
    }
  }

  .spinner {
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    svg {
      transform: rotate(-90deg);
    }

    circle {
      fill: transparent;
      stroke: $asso;
      stroke-width: 4;
      stroke-dasharray: 0 200;
    }
  }

  .icon {
    font-size: 0px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    color: #FFF;
    transition: all 0.5s ease;
  }
}
