/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */


 .btn-blue {
  color: #fff !important;
  background-color: #00CAFF !important;
  border-color: #00CAFF !important;
  white-space: nowrap;
  border-bottom: 2px solid #1692c8 !important;
  border-radius: 4px;
}

.btn-bluenight {
  color: #fff !important;
  background-color: #349ED6 !important;
  border-color: #349ED6 !important;
  white-space: nowrap;
  border-bottom: 2px solid #1692c8 !important;
  border-radius: 4px;
}

 .btn-green {
  color: #fff !important;
  background-color: #7DF088 !important;
  border-color: #93F29C !important;
  white-space: nowrap;
  border-bottom: 2px solid #7BDA8D !important;
  border-radius: 4px;
}

 .btn-turquoise {
  color: #fff !important;
  background-color: #36D3DA !important;
  border-color: #36D3DA !important;
  white-space: nowrap;
  border-bottom: 2px solid #19A2C2 !important;
  border-radius: 4px;
}

.btn-white {
  color: #fff !important;
  background-color: transparent !important;
  border-color: white !important;
  white-space: nowrap;
  border-bottom: 2px solid rgb(230,230,230) !important;
  border-radius: 4px;
}

.btn-filter {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-color: white !important;
  white-space: nowrap;
  border-bottom: 2px solid rgb(230,230,230) !important;
  border-radius: 4px;
}