#error-code {
  margin-top: 15px 0 5px;
  text-align: center;

  @media only screen and (max-width:767px){
    position: absolute;
    left: 0;
    top: 25%;
  }
}

#error-code, span.help-block, label.error {
  text-transform: none !important;
  color: orange !important;
}

#error-code {
  font-size: 10px !important;
  font-weight: 200 !important;
}

span.help-block, label.error {
  font-size: 8px !important;
  font-weight: 600 !important;
}

.alert {
  position: absolute;
  background: rgba(255, 255, 255, 0.95);
  border-color: transparent;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  text-align: left;
  color: orange;
  z-index: 500;
}

.close-alert {
  position: absolute;
  padding: 0;
  top: 0;
  right: 7px;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  font-size: 20px;
  font-weight: 100;
  color: #666;
}

#error_explanation {
  display: inline;

  li.alert-message {
    border: none;
    color: orange;
    font-size: 12px;
    font-weight: 100;
  }

  ul {
    width: 100%;
    list-style: none;

    &::before,
    &::after {
      border: none;
    }
  }
}
