#error-code {
  margin-top: 15px 0 5px;
  text-align: center;
}

#error-code, span.help-block, label.error {
  text-transform: none !important;
  color: orange !important;
  font-size: 8px !important;
  font-weight: 600 !important;
}

.alert {
  position:
  absolute;
  background: transparent;
  border-color: transparent;
  color: orange;
  text-align: left;
}

#error_explanation {

  li.alert-message {
    border: none;
    color: orange;
    font-size: 12px;
    font-weight: 100;
  }

  ul {
    width: 100%;
    list-style: none;

    &::before,
    &::after {
      border: none;
    }
  }
}
