.leftmenu {
  position: fixed;
  left: 0;
  width: 90px;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 30;
  border-right: 1px solid rgba(211, 211, 211, 0.3);
}

.leftmenu-item {
  width: 100%;
  height: 90px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  flex-direction: column;
  cursor: pointer;
}

.leftmenu-item:hover,
.leftmenu-item:hover a,
.leftmenu-item:active,
.leftmenu-item.active a {
  color: white;
  transition: 0.4s ease;
}

.leftmenu-item.pro:hover,
.leftmenu-item.pro:hover a,
.leftmenu-item.pro:active,
.leftmenu-item.pro.active a {
  color: rgba(55,55,55,0.6);
  transition: 0.4s ease;
}

.leftmenu-item a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(55,55,55,0.6);
  flex-direction: column;
}

.leftmenu-item.active a {
  background-color: rgba(55,55,55,1);
}

.leftmenu-item.supervisor.active a  {
  background-color: rgb(130, 60, 90);
}

.leftmenu-item.active.pro  a{
  background-color: white;
  border: 2px solid #33cc66;
}

@media (min-width: 768px) {
  .leftmenu {
    top: 50px;
  }

  .leftmenu-item:hover a {
    background-color: lightgrey;
  }

  .leftmenu-item.pro:hover a {
    background-color: rgba(199, 237, 204, 0.9);
  }

  .leftmenu-item.active a:after {
    position: absolute;
    content:"";
    top: 36px;
    right: -10px;
    width:0;
    height:0;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-left:10px solid rgba(55,55,55,1);
    z-index: 1;
    transition: 0.4s ease;
  }

  .leftmenu-item.supervisor.active a:after {
    border-left:10px solid rgb(130, 60, 90);
  }

  .leftmenu-item.pro.active a:after {
    border-left:10px solid rgba(51, 204, 102, 1);
  }
}

.left-menu-svg-container {
  height: 40px;
  width: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.left-menu-text {
  font-size: 10px;
  line-height: 11px;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
  padding: 0 5px;
}

.leftmenu-animation {
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100px;
  top: 50px;
  left: 0;
  overflow: hidden;
  z-index: 10000;

  transition: all 0.3s ease-in-out;

  span {
    width: 30px;
    left: 30px;
    height: 30px;
    top: 35px;
    position: absolute;
    text-transform: uppercase;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    color: rgba(55,55,55,0.8);
    cursor: pointer;
    z-index: 1;
    border: 2px solid white;

    .fa {
      font-size: 16px;
    }
  }
}

@media (max-width: 767px) {
  .leftmenu-animation {
    transform: translateX(-94px);

    &.is-open-max {
      transform: translateX(0px);
    }
  }
}

#open-leftmenu {
  position: absolute;
  left: 25px;
  font-size: 13px;
}
