/* Hide bottom control ********************************************************/
.mapboxgl-ctrl-bottom-right {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.mapboxgl-ctrl-bottom-left {
  left: 11px;
}

.mapboxgl-ctrl-group.mapboxgl-ctrl {
  margin-bottom: 50px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass,
a.mapboxgl-ctrl-logo {
  display: none;
}

.mapboxgl-popup {
  width: 320px;
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-content {
  position: absolute;
  padding: 0;
  top: 17px;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  background-color: #fff;
}

.mapboxv2 {
  width: 320px;
  border-radius: 5px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 1px 8px 20px 5px rgba(55,55,55,0.2);
  position: relative;
  padding: 0 5px;

  .business-index-card {
    width: 310px;
    margin-bottom: 0;
    @media (max-width: 767px) {
      width: 95vw;
    }
  }
}

.caret-absolute {
  position: absolute;
  top: -17px;
  font-size: 26px;
  color: #FFF;
}

@media (max-width: 767px) {
  .mapboxgl-popup {
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: none !important;
    z-index: 6000;
    border-radius: 0px;
  }
}

@media (max-width: 767px) {
  .mapboxgl-popup-content {
    position: relative;
    width: 100% !important;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0px;
  }
}

@media (max-width: 767px) {
  .mapboxv2 {
    width: 100%;
  }
}

