.mt-0 {
  margin-top: 0px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top:50px;
}

.mt-70 {
  margin-top:70px;
}

.mt-80 {
  margin-top:80px;
}

.mt-100 {
  margin-top:100px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-250 {
  margin-top: 250px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-100 {
  margin-left: 100px;
}

.ml-150 {
  margin-left: 150px;
}

.ml-210 {
  margin-left: 210px;
}

.ml-250 {
  margin-left: 250px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-150 {
  margin-right: 150px;
}

.mr-210 {
  margin-right: 210px;
}