.cgu {
  text-align: left !important;
  p {
    font-weight: 100;
    font-size: 15px;
    color: rgb(51,51,51);
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
}

.modal-cause {
    width: 200px;
    text-align: center;
    color: rgb(51,51,51);
    vertical-align:middle;
    padding-top: 8px;
}
