.pt-15 {
  padding-top: 15px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-50 {
  padding-right: 50px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-55 {
  padding-left: 55px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-200 {
  padding-left: 200px;
}