.pt-15 {
  padding-top: 15px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-25 {
  padding-right: 25px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-55 {
  padding-left: 55px;
}