.form-payment {
  .subscription-form form input {
    width: 100%;
  }

  ul {
    list-style: none;
    text-align: center;
    margin-top: 5px;
  }

  li {
    display: inline-block;
    padding: 5px;
  }

  img {
    height: 20px;
  }
}


