<div class="container-fluid signup-funnel">
  <div class="signup-container">
    <div class="signup-card">
      <ul id="signup-breadcrumb">
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
      <!-- FORM SELECT CAUSE -->
      <%= render "member/signup/form_cause" %>
      <!-- FORM SUBCRIPTION -->
      <%= render "member/signup/form_subscription" %>
      <!-- FORM CARD REGISTRATION -->
      <%= render "member/signup/form_payment" %>
    </div>
  </div>
</div>