 <style>
  .subscription-form form {
    display: block;
  }
</style>

<div class="container-fluid connexion connexion-user">
  <div class="connexion-overlay"></div>
    <div class="row">
      <!-- FORM SELECT CAUSE -->
      <%= render "member/signup/form_cause" %>
      <!-- FORM SUBCRIPTION -->
      <%= render "member/signup/form_subscription" %>
      <!-- FORM CARD REGISTRATION -->
      <%= render "member/signup/form_payment" %>
    </div>
  </div>
</div>


