.search-category-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 40;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search-category {
  position: fixed;
  z-index: 100;
  height: auto;
  width: 260px;
  top: 30px;
  right: 0;
  overflow: hidden;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  -webkit-transform: translateX(85%);
  -moz-transform: translateX(85%);
  -o-transform: translateX(85%);
  transform: translateX(85%);

  .notifier {
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #eb6f6f;
    border-radius: 50%;
    display: block;
    right: 0;
    top: 0px;

    -webkit-animation: pulse 1.5s infinite cubic-bezier(0.66, 0.8, 0.9, 1);
    -moz-animation: pulse 1.5s infinite cubic-bezier(0.66, 0.8, 0.9, 1);
    -ms-animation: pulse 1.5s infinite cubic-bezier(0.66, 0.8, 0.9, 1);
    animation: pulse 1.5s infinite cubic-bezier(0.66, 0.8, 0.9, 1);

    @-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
    @-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
    @-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
    @keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  }

  span {
    padding: 10px 10px;
    width: 100%;
    position: absolute;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    background-color: #eb6f6f;
    color: #fff;
    border-radius: 28px 0 0 28px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    .fa {
      position: relative;
      margin: 0 15px 0 5px;
      top: 2px;
      font-size: 20px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 44px 0 0 0;

    li {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #636363;
      background-color: #fff;
      border-bottom: 1px solid #FFF;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);

      .container-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 10px 0;
        margin-right: 10px;
        width: 50px;
        height: 100%;
        min-height: 40px;
        background-color: #f4f4f4;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #f4f4f4;
        }
      }

      img {
        height: 20px;
        opacity: 0.4;
        z-index: 10;
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
        filter: grayscale(1);
      }
    }

    .is-open-min {
      -webkit-transform: translateX(7%);
      -moz-transform: translateX(7%);
      -o-transform: translateX(7%);
      transform: translateX(7%);
    }

    .is-selected {
      .container-icon {
        &:after {
          background-color: transparent;
        }

        img {
          opacity: 1;
          -webkit-filter: grayscale(0);
          -moz-filter: grayscale(0);
          -o-filter: grayscale(0);
          filter: grayscale(0);
        }
      }
    }
  }
}

/* TOOGLED WITH JS ************************************************************/

.search-category.is-open-max {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

@media only screen and (min-width:769px){
  .search-category {
    top: 90px;
  }
}

@media only screen and (max-width:320px){
  .search-category {
    span {
      z-index: 1;
    }

    ul {
      max-height: 310px;
      overflow: overlay;
    }
  }
}
