.search-category-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  top: 50px;
  bottom: 0;
  left: 90px;
  right: 0;
  z-index: 40;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .search-category-overlay {
    left: 0px;
  }
}

.button-filters {
  width: 120px;
  height: 40px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: calc(50% - 120px);
  font-size: 16px;
  font-weight: 600;
  bottom: 20px;
  color: white;
  cursor: pointer;
  border-radius: 25px;
  outline: none;
  box-shadow:  0px 2px 2px rgba(0,0,0,0.3);
  background: linear-gradient(to right, #64B9EA, #36D7B7, #33CC66);
  z-index: 30;

  img {
    margin-left: 15px;
  }


  @media (max-width: 767px) {
    margin-left: calc(50%);
    transform: translateX(-50%);
  }
}

.search-category {
  position: fixed;
  z-index: 100;
  height: 50%;
  width: calc(100% - 90px);
  bottom: 0;
  right: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: translateY(calc(100%));

  @media (max-width: 991px) { height: 65%;}

  @media (max-width: 767px){ height: 100%; }

  .close-button {
    font-size: 35px;
    font-weight: 100;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background: transparent;

    @media (max-width: 767px) {
      top: 30px;
    }
  }

  ul.search-pannel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 120px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    transform: translateY(94%);

    a {
      min-height: 40px;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 40px;
        min-width: 130px;
        font-size: 9px;
        font-weight: 100;
        color: #636363;
        background-color: #fff;

        @media (max-width: 375px) {
          min-width: 95px;
        }

        .container-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          padding: 10px 0;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background-color: white;

          @media (max-width: 479px) {
            width: 50px;
            height: 50px;
          }


          &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #f4f4f4;
            border-radius: 50%;
          }
        }

        img {
          height: 40px;
          opacity: 0.5;
          z-index: 10;
          filter: grayscale(1);

          @media (max-width: 479px) {
            height: 30px;
          }
        }


        .all-categories {
          img {
            height: 30px;
          }
        }
      }
    }

    .is-selected {
      .container-icon {
        border-width: 2px;
        border-style: solid;

        &:after {
          background-color: white;
        }

        img {
          opacity: 1;
          filter: grayscale(0);
        }
      }
    }
  }
}

/* TOOGLED WITH JS ************************************************************/

.search-category.is-open-max {
  transform: translateY(0);

  ul.search-pannel {
    // transform: translateY(7%);
        transform: translateY(0);
    background-color: white;
  }

  @media (min-width:768px) {
    .search-category.close-button {
      display: none;
    }
  }
}

@media (max-width:320px){
  .search-category {
    span {
      z-index: 1;
    }

    ul {
      max-height: 100%;
      overflow: scroll;
    }
  }
}

@media (max-width:767px){
  .search-category {
    width: 100%;
  }
}

form.controls {
  height: 100%;
}

.fieldset-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
