.search-category-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  top: 50px;
  bottom: 0;
  left: 90px;
  right: 0;
  z-index: 40;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .search-category-overlay {
    left: 0px;
  }
}

.search-category {
  position: fixed;
  z-index: 100;
  height: 50%;
  width: calc(100% - 90px);
  // bottom: 0;
  bottom: 30px;
  right: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  // transform: translateY(calc(100% - 50px));
  transform: translateY(calc(100% - 80px));

  @media (max-width: 767px){ height: 100%; }

  span {
    margin-left: calc(50% - 75px);
    width: 150px;
    height: 50px;
    position: absolute;
    text-transform: uppercase;
    display: flex;
    // border-top-left-radius: 25px;
    // border-top-right-radius: 25px;
    border-radius: 50px;
    padding: 1%;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    // background-color: white;
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0.1, #00C9FF ), color-stop(0.9, #80F2A4));
    background-image: -moz-linear-gradient(center bottom, #00C9FF 10%, #80F2A4 90%);
    // color: rgba(55,55,55,0.8);
    color: white;
    cursor: pointer;
    z-index: 1;

    .fa {
      font-size: 16px;
      color: white;
    }

    .close-button {
      font-size: 35px;
      font-weight: 100;
      // transform: translateY(75px) translateX(calc(54vw - 25px));
      transform: translateY(75px) translateX(calc(54vw - 25px));
      background: transparent;
    }
  }

  ul.search-pannel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    transform: translateY(94%);

    a {
      min-height: 40px;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 40px;
        min-width: 130px;
        font-size: 9px;
        font-weight: 100;
        color: #636363;
        background-color: #fff;

        @media (max-width: 375px) {
          min-width: 95px;
        }

        .container-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          padding: 10px 0;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background-color: white;

          &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #f4f4f4;
            border-radius: 50%;
          }
        }

        img {
          height: 40px;
          opacity: 0.5;
          z-index: 10;
          filter: grayscale(1);
        }

        .all-categories {
          img {
            height: 30px;
          }
        }
      }
    }

    .is-selected {
      .container-icon {
        border-width: 2px;
        border-style: solid;

        &:after {
          background-color: white;
        }

        img {
          opacity: 1;
          filter: grayscale(0);
        }
      }
    }
  }
}

/* TOOGLED WITH JS ************************************************************/

.search-category.is-open-max {
  transform: translateY(0);

  ul.search-pannel {
    transform: translateY(7%);
    background-color: white;
  }

  @media (min-width:768px) {
    .search-category.close-button {
      display: none;
    }
  }
}

@media (max-width:320px){
  .search-category {
    span {
      z-index: 1;
    }

    ul {
      max-height: 100%;
      overflow: scroll;
    }
  }
}

@media (max-width:767px){
  .search-category {
    width: 100%;
  }
}

form.controls {
  height: 100%;
}

.fieldset-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
