<div id="banner">
  <div class="gradientbox-cforgood"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="mt-120 text-center img140" id="text-home-banner">
          <%=image_tag("logopouce.png") %>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 text-center">
          <h1>LA CARTE DES CITOYENS ENGAGÉS</h1>
          <p>VOTRE PASSEPORT VERS LA CONSOMMATION DE DEMAIN</p>
        </div>
        <!-- MAILCHIMP FORM -->
        <div class="col-xs-12 newsletter-form">
          <form action="//cforgood.us9.list-manage.com/subscribe/post?u=a43e05af521d3632c30f4c0c8&amp;id=b7fdec81e2" method="post" class="validate" target="_blank" novalidate>
            <input type="email" name="EMAIL" class="" id="" placeholder="john@doe.com" required>
            <!-- Do not remove this or risk form bot signups -->
            <input class="bot-remover" type="text" name="b_a43e05af521d3632c30f4c0c8_b7fdec81e2" tabindex="-1" value="">
            <button type="submit" value="s'inscrire" name="subscribe" id="" class="">s'inscrire</button>
          </form>
        </div>
      </div>
      <!-- BOUCING ARROW -->
      <a href="#presentation" class="hidden-xs"><i class="fa fa-angle-down pulse scroll-btn relative" id="nomobile"></i></a>
    </div>
  </div>
</div>