<section class="container-fluid process">
  <div class="container">
    <div class="row">
      <h2 class="section-title">Comment ça marche ?</h2>
      <div class="col-xs-12">
        <!-- MOCKUP 1 -->
        <div class="col-xs-12 col-sm-4 discover" data-sr="enter bottom and scale up 20% over 1s">
          <%=image_tag("IphoneHome.png") %>
          <h3>Découvrez</h3>
          <p>Inscrivez-vous et découvrez les commerces responsables à l'affiche dans votre ville.</p>
        </div>
         <!-- MOCKUP 2 -->
        <div class="col-xs-12 col-sm-4 localise" data-sr="enter bottom and scale up 20% over 1s">
          <%=image_tag("IphoneMap.png") %>
          <h3>Localisez</h3>
          <p>Trouvez à tout moment autour de vous les alternatives positives à vos besoins du quotidien.</p>
        </div>
         <!-- MOCKUP 3 -->
        <div class="col-xs-12 col-sm-4 enjoy" data-sr="enter bottom and scale up 20% over 1s">
          <%=image_tag("IphoneCard.png") %>
          <h3>Profitez !</h3>
          <p>Bénéficiez de réductions exclusives simplement en montrant votre carte de membre !</p>
        </div>
      </div>
    </div>
  </div>
</section>