<div class="container-fluid bg-white text-center">
  <div id="eco-systeme">
    <h2>UN ECO-SYSTÈME LOCAL POSITIF</h2>
    <div class="col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-5 border-blue mb-30 mt-15" id="border-blue"></div>
    <div class="clear"></div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
      <p class="mb-40">CforGood rassemble les acteurs positifs de votre ville et les mets en coopération pour que chacun d'entre eux rayonne davantage. Ainsi vous pouvez découvrir ce qu'il se fait de mieux autour de vous et participer avec CforGood à redessiner le monde de demain, car tout cela ne dépend que de nous.</p>
    </div>
    <div class="col-xs-12 col-sm-6 mb-50">
      <div class="col-xs-10 col-xs-offset-1 col-sm-9 col-sm-offset-2 text-center" id="partner-business">
        <h4>VOUS ÊTES UNE ENTREPRISE ?</h4>
        <p><strong>CforGood</strong> permet de développer gratuitement l'activité et la visibilité des commerces locaux, tout en envoyant un message fort en faveur de l'engagement citoyen !</p>
        <%= link_to t(".top_call_to_action", default: "INSPIREZ VOS CLIENTS"), info_business_path, class: "btn btn-blue" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 mb-50">
      <div class="col-xs-10 col-xs-offset-1 col-sm-9 col-sm-offset-1 text-center mb-20" id="partner-association">
        <h4>VOUS ÊTES UNE ASSOCIATION ?</h4>
        <p><strong>CforGood</strong> développe l'engagement des citoyens en facilitant la communication, la mobilisation et la récolte de fonds pour les causes partenaires.</p>
        <%= link_to t(".top_call_to_action", default: "DÉVELOPPEZ VOTRE IMPACT"), info_cause_path, class: "btn btn-green" %>
      </div>
    </div>
  </div>
</div>