<div class="container-fluid text-center">
  <div id="ambassador">
    <div id="blackbox-ambassador"></div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
      <h2>PARTICIPEZ AU DÉVELOPPEMENT DE CFORGOOD</h2>
    </div>
    <div class="col-xs-8 col-offset-xs-2 col-sm-2 col-sm-offset-5 border-blue mb-50 mt-15" id="border-blue"></div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <p class="text-center">Faites partie des personnes qui nous aident à construire la communauté et vivez avec nous cette aventure incroyable ! Vous pouvez devenir : </p>

      <p class="text-left pt-20"><strong>Ambassadeur :</strong> Nos soutiens les plus précieux ! Grâce à notre Kit Ambassadeur, aidez-nous à développer la communauté en faisant rayonner le projet et devenez partie intégrante de l'équipe pour construire ensemble le futur de CforGood.</p>

      <p class="text-left pt-20"><strong>Connecteur :</strong> Vous connaissez bien Bordeaux et vous aimeriez qu’un commerce proche de chez vous intègre la communauté CforGood ? Devenez Connecteur en le parrainant et gagnez plusieurs mois d'abonnement à CforGood. </p>

      <a class="typeform-share btn btn-turquoise pt-10 pb-10 mt-50 mb-9cent width-210" href="https://cforgood1.typeform.com/to/iZ5QFx" data-mode="1" target="_blank">Devenez Ambassadeur</a>

      <a class="typeform-share btn btn-turquoise pt-10 pb-10 mt-50 mb-9cent width-210" href="https://cforgood1.typeform.com/to/Be9Q1N" data-mode="1" target="_blank">Devenez Connecteur</a>
    </div>
    <div class="clear"></div>
  </div>
</div>