<section id="header">
  <!-- HEADER GRADIENT OVERLAY -->
  <div class="header-overlay"></div>
  <div class="container header-content">
    <div class="row">
      <div class="col-xs-12 text-center">
        <!-- HEADER CONTENT -->
        <%= image_tag('logopouce.png', :class => 'header-logo') %>
        <h1>La carte des citoyens engagés</h1>
        <p>Votre passeport vers la consommation de demain</p>
        <!-- MAILCHIMP FORM -->
        <div class="newsletter-form">
          <form action="//cforgood.us9.list-manage.com/subscribe/post?u=a43e05af521d3632c30f4c0c8&amp;id=b7fdec81e2" method="post" class="validate" target="_blank" novalidate>
            <input type="email" name="EMAIL" class="" placeholder="john@doe.com" required>
            <!-- ANTI BOT SIGNUPS -->
            <input class="bot-remover" type="text" name="b_a43e05af521d3632c30f4c0c8_b7fdec81e2" tabindex="-1">
            <button type="submit" value="s'inscrire" name="subscribe" class="">S'inscrire</button>
          </form>
        </div>
      </div>
      <!-- BOUCING ARROW -->
      <a href="#presentation" rel="Go to the service presentation section">
        <i class="fa fa-angle-down pulse hidden-xs"></i>
      </a>
    </div>
  </div>
</section>