<section class="container-fluid presentation">
  <div class="container">
    <div class="row">
      <h2 class="section-title">Une révolution positive</h2>
      <div class="col-md-5">
        <div class="embed-container" id="video-mobile">
          <iframe class="border-video" width="500" height="285" src="https://www.youtube.com/embed/4tYrdTm6lwQ?controls=0&rel=0&showinfo=0" frameborder="0"></iframe>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <h3>Une simple carte qui change tout.</h3>
        <p>CforGood se donne pour mission d'émanciper l'acteur du changement qui est en vous, en vous permettant d'accéder simplement à une consommation plus responsable tout en soutenant des initiatives qui vous sont chères.</p>
        <p>Il s'agit d'une carte de membre à présenter pour bénéficier de réductions chez les commerces locaux et responsables, en échange d'un abonnement de 5€/mois destiné à soutenir l'association de votre choix.</p>
        <p><strong>C'est une Révolution Positive ! Où chacun fait sa part au quotidien... Sans avoir à prendre les armes !</strong></p>
        <div class="mt-30 pb-40" id="btn-presentation">
          <%= link_to "En Savoir Plus", about_path, class: "btn btn-turquoise" %>
        </div>
      </div>
    </div>
  </div>
</section>