<!-- ECOSYSTEM ECOSYSTEM -->
<section class="container-fluid ecosysteme">
  <div class="container">
    <div class="row">
      <h2 class="section-title">Un éco-système local positif</h2>
      <!-- ECOSYSTEM PRESENTATION -->
      <div class="col-xs-12">
        <p>CforGood rassemble les acteurs positifs de votre ville et les mets en coopération pour que chacun d'entre eux rayonne davantage. Ainsi vous pouvez découvrir ce qu'il se fait de mieux autour de vous et participer avec CforGood à redessiner le monde de demain, car tout cela ne dépend que de nous.</p>
      </div>
      <!-- COLUMNS BUSINESS & ASSOCIATIONS -->
      <div class="col-xs-12 col-sm-6 business">
        <h3>Vous êtes une entreprise ?</h3>
        <p><strong>CforGood</strong> permet de développer gratuitement l'activité et la visibilité des commerces locaux, tout en envoyant un message fort en faveur de l'engagement citoyen !</p>
        <!-- BUTTON BUSINESS -->
        <%= button_to "Inspirez vos clients", info_business_path, class: "button button-turquoise" %>
      </div>
      <div class="col-xs-12 col-sm-6 association">
        <h3>Vous êtes une association ?</h3>
        <p><strong>CforGood</strong> développe l'engagement des citoyens en facilitant la communication, la mobilisation et la récolte de fonds pour les causes partenaires.</p>
        <!-- BUTTON ASSOCIATION -->
        <%= button_to "Développez votre impact", info_cause_path, class: "button button-green" %>
      </div>
    </div>
  </div>
</section>