#cause-header {
  h1 {
    margin-top: 10px !important;
  }
  img {
    height: 65px;
  }
}

#bg-cause-index {
  background-image: image-url("bg-cause-index.png");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  .fa {
    padding-left: 20px;
    font-size: 20px;
  }
}

.whitebox-cause {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  color: rgb(51,51,51);
  z-index: 2;
}

#btn-cause-category {
  padding-left: 14%;
}

#btn-cause-CTA {
  padding-left: 47%;
}

#cause-index {
  padding-left: 5%;
  padding-right: 5%;

  .cause-card {
    position: relative;
    color: white;
    height: 251px;
    width: 98%;
    margin-left: 1%;
    border: 4px rgba(89, 211, 211, 0.9) solid;
    border-radius: 10px;
    &:hover{
      transition: all 0.2s ease;
      opacity: 0.9;
      transform: scale(1.01);
      }
    h1 {
      font-size: 26px;
      font-weight: 500;
    }
  }

  .bg-cause-card {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center center;
    img {
      vertical-align: text-top;
    }
  }

  #blackbox-cause {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(240, 240, 240);
    z-index: 2;
    border-radius: 6px;
    text-align: center;
    padding-top: 10px;
  }

  #info-cause {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 3;
    padding-bottom: 40px;
    p {
      margin: 0;
    }
    #cause-name {
      bottom: 60px;
    }
  }

  .blue-colorbar {
    position: absolute;
    top: 170px;
    left: 0;
    height: 55px;
    width: 100%;
    color: white;
    z-index: 2;
    font-size: 20px;
    padding-top: 2px;
    background-color: rgba(89, 211, 211, 0.9) ;
    p {
      font-weight: 400;
    }
  }
}

@media only screen and (max-width: 768px) and (orientation : portrait) {
  #btn-cause-category {
    padding-left: 6% !important;
  }
  #btn-cause-CTA {
    padding-left: 30% !important;
  }
  #padding12 {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) and (orientation : portrait) {
  #btn-cause-CTA {
    padding-left: 38% !important;
  }
}