.dashboard {
  .user-map-businesses {
    position: relative;
    height: 100vh;
  }
}

.dashboard-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.whitebox-user-blur {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-filter: blur(3px);
  filter: url('/media/blur.svg#blur');
  filter: blur(3px);
  @media only screen and (min-width:768px) {padding-top : 50px}
}

.whitebox-user-msg {
  position: absolute;
  top: 30%;
  left: 40%;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #71bbc6;
  border: 1px solid #386971 ;
  box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-right: 20px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600px;

  img {
    height: 10%;
    width: 10%;
    margin-right: 10px;
  }

  &:hover {
    background-color: #61A6B1;
  }
}
