.dashboard-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.dashboard {
  /* BACKGROUND MAP ***********************************************************/
  .user-map-businesses {
    position: relative;
    height: 100%;
  }
}

@media only screen and (min-width:769px){
  .dashboard {
    .user-map-businesses {
      position: relative;
      height: 100%;
    }
  }
}
