.dashboard-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.dashboard {
  /* BACKGROUND MAP ***********************************************************/
  .user-map-businesses {
    position: relative;
    height: 90%;
  }

  /* WELCOME USER ON MOBILE ***************************************************/
  .welcome-user {
    position: fixed;
    background-color: #fff;
    bottom: 10%;
    z-index: 10;
    padding: 7px 30px 7px 20px;
    border-radius: 0 3px 0 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #636363;

    img {
      margin-right: 10px;
      width: 30px;
      border-radius: 50%;
    }
  }

  /* FIND FLASH PERKS *********************************************************/
  .in-central-city {
    position: fixed;
    top: 30px;
    left: 50%;
    z-index: 10;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    .flash {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      font-size: 20px;
      color: #A5A5A5;
    }

    .is-running {
      left: 50%;
      color: #fff;
      background-color: #f6b57b;

      -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
      -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
      -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
      animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);

      @-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
      @-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
      @-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
      @keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
    }
  }
}

@media only screen and (min-width:769px){
  .dashboard {
    .in-central-city {
      position: fixed;
      top: 90px;
    }

    .welcome-user {
      display: none;
    }

    .user-map-businesses {
      position: relative;
      height: 100%;
    }
  }
}
