.dashboard-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.dashboard {
  /* BACKGROUND MAP ***********************************************************/
  .user-map-businesses {
    position: relative;
    height: 100%;
  }

  .sign-box.gift {
    z-index: 0;
    width: 100%;

    @media (min-width: 768px) {
      max-width: 380px !important;
    }
  }
}

@media only screen and (min-width:768px){
  .dashboard {
    .user-map-businesses {
      position: relative;
      height: 100%;
    }
  }
}

#reinit-position {
  position: absolute;
  left: 101px;
  bottom: 130px;
  cursor: pointer;

  @media (max-width: 767px) {
    left: 11px;
    bottom: 50px;
  }

  .pastille {
    max-width: 30px;
    max-height: 30px;
    padding: 8px;
  }
}

