.signup-container {
  padding: 50px 30px 20px 30px;


  .choose-cause,
  .signup-plan,
  .signup-payment {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .signup-cause {

    .change-cause {

      .causes-carrousel {
        transform: translateX(-50%);
        left: 50%;
      }

      .card-cause span {
        text-align: left;
      }

      .slick-arrow,
      .user-button {
        margin: 0;
        border: none;
        outline: none;
        font-weight: 600;
        border-radius: 3px;
      }

      .slick-arrow {
        padding: 0;
        font-size: 0;
      }

      .user-button {
        width: 100%;
        height: 40px;
        left: 44%;
        bottom: 200px;
      }

      .love-you {
        position: absolute;
        margin-left: 9px;
        bottom: 9px;
        display: flex;
        align-items: center;
        background-color: #9FD6AE;
        padding: 2px 10px;
        border-radius: 20px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 10px;
        line-height: 18px;
        width: 200px;

        svg {
          margin-left: 10px;
        }
      }
    }

    .btn-next {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 30px;
    }
  }

  .signup-plan {
    background-color: #fff;

    .offer-index {
      padding: 30px 20px 20px;
    }


    .offer-card {
      height: 230px;
    }

    .offer-price {
      margin-bottom: 10px;
    }

    .pricing-range,
    .code-promo {
      width: 50%;
    }

    .code-promo {
      padding-top: 10px;
    }

    *:focus {
      outline: 0;
    }

    #range {
      // width: 300px;
      height: 10px;
      background: linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
      margin: 0 auto;
      display: block;
      border-radius: 10px;
    }

    .output {
      position: absolute;
      width: 60px;
      height: 60px;
      top: 320px;
      left: 435px;
      border: 2px solid #36d3da;
      border-radius: 50%;
      font-size: 15px;
      text-align: center;
      color: #36d3da;
      line-height: 2.7em;
      &:after {
        content: " €";
      }
    }

    input[type="range"] {
      -webkit-appearance: none;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      position: relative;
      top: 0px;
      z-index: 1;
      width: 25px;
      height: 25px;
      border-radius: 40px;
      background-color: #FFF;
      border: 2px solid #36d3da;
    }

    .btn-plan {
      position: absolute;
      right: 0px;
      bottom: 100px;
    }
  }

  .signup-payment {
    background-color: #fff;
  }


}


