/* TABS - ICONS ****************************/
.user-container {
  .user-title {
    position: relative;
    padding: 20px;
    top: -10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;

    svg {
      position: relative;
      margin-right: 5px;
      width: 20px;
      height: 20px;
      top: 4px;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }
  .nav-tabs {
    a {
      @media (max-width: 767px){
        span {
          display: none;
        }
      }

      @media (min-width: 768px){
        i {
          display: none;
        }

        span {
          font-size: 11px;
        }
      }
    }
  }
}

/* TABS - CONTENT ****************************/
.tab-content {
  // min-height: 100vh;

  .tab-cause {
    .choose-cause {
      display: flex;
      flex-direction: row;
      margin-top: 30px;

      @media (max-width: 767px){
        flex-direction: column;
      }

      .user-cause {
        width: 50%;
        text-align: center;

        .user-cause-content img {
          width: 60px;
          max-width: 60px;
        }

        @media (max-width: 991px){
          width: 100%;

          .user-support {
            .user-cause-container,
            .user-cause-content,
            .user-cause-disclaimer {
              width: 100%;
            }
          }
        }

        @media (max-width: 767px) {
          position: relative;
          width: 335px;
          left: 50%;
          transform: translateX(-50%);
        }

        @media (max-width: 320px) {
          width: 280px;
          min-width: 0;

          .user-cause-disclaimer {
            min-width: 0;
            padding: 10px 0;
          }
        }
      }

      .change-cause {
        display: flex;
        width: 50%;

        @media (max-width: 767px){
          width: 100%;
        }

        span {
          text-align: left;
        }

        .user-button-profile {
          position: relative;
          top: -65px;
          left: 50px;

          @media (min-width: 322px) {
            max-width: 235px
          }
        }
      }
    }
  }

  .tab-contribution {

    table {
      padding: 0;
      margin: 0;
      width: 100%;

      tr {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 10px;
      }
    }

    .contribution-date {
      padding: 2px 10px;
      font-size: 12px;
      text-transform: uppercase;
      color: #fff;
      background-color: #333;
      border-radius: 2px 2px 0 0;
    }

    .contribution-cause {
      background-color: #F9F9F9;
      text-transform: uppercase;
      font-size: 0.7em;
      font-weight: 600;
    }

    .contribution-amount {
      padding: 0 10px;
      background-color: #fff;
      font-size: 0.9em;
      font-weight: 600;

      @media (min-width: 768px)  {
        position: absolute;
        right: 30px;
        top: 37px;
        background-color: #f9f9f9;
      }
    }

    .done {
      position: absolute;
      bottom: -9px;
      left: 40px;

      @media (min-width: 768px) {
        right: 4px;
        bottom: 2px;
        left: inherit;
      }
    }
  }

  /* PROFILE - FORM PAYMENT ****************************************/

  .tab-payment {
    position: relative;
    min-height: 530px;
    margin: 40px 0;

    .offer-details {
      padding-top: 25px !important;

        &:after {
          top: 92px !important;
        }

        p {
          padding: 5px 0 0 !important;
        }
    }

    .offer-description {
       @media (min-width: 768px)  { margin-top: 20px !important; }
    }

    .offer-card {
       @media (max-width: 767px)  { margin-top: 20px !important; }
    }

    .btn-no-subscription {
      bottom: 65px;
      font-size: 1em;
      @media (max-width: 767px)  {
         bottom: 15px;
       }
      @media (max-width: 480px) {
        font-size: 0.9em;
      }

    }

    .stop-subscription {
      bottom: 35px;
      font-size: 1em;
      margin-bottom: -1%;
      @media (max-width: 767px)  {
       bottom: -15px;
     }
     @media (max-width: 480px) {
       font-size: 0.9em;
     }
    }

    .code-partner {
      position: relative;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-top: 20px;

      #user_code_partner {
        margin-left: 10px;
      }
    }

    // #user_amount {
    //   position: relative !important;
    //   bottom: 270px !important;
    //   left: -60px !important;
    // }

    // .user_amount {
    //   &:after {
    //     bottom: 266px !important;
    //     left: 70px !important;
    //   }
    // }
  }

  .tab-bank-details {
    margin: 40px 0 80px;

    .subscription-form .form-group {
      width: 100%;
    }
  }

  .card-authorized {
     margin-top: 25px;

    ul {
      list-style: none;
      display: flex;

      li {
        margin: 0 5px;

        img {
          border-radius: 0;
        }
      }
    }
  }

  .info-disclaimer {
    margin-top: 20px;
    margin-bottom: 10px;
    @media (max-width: 320px)  { margin-bottom: 0; }
  }

  .btn-no-bank-details {
    right: inherit !important;
    bottom: -40px !important;
    @media (max-width: 320px)  { bottom: -30px !important; }
  }

  .signup-prev {
    display: none;
  }

  /* PROFILE - USER PAYMENTS ****************************************/
  .list-payments {

    .tab-subtitle {
      margin: 30px 0 20px;
      text-transform: uppercase;
      font-size: 12px;
      color: #636363;
      font-weight: 600;
    }

    table {
      margin: auto;

      td {
        padding: 10px;


        &.done {
          width: 35px;
        }

        img {
          width: 100%;
        }
      }

      tr:nth-child(even) { background: #E1E1E1; }
      tr:nth-child(odd) { background: #F1F1F1; }
    }
  }
}
