.connexion {
  position: relative;
  padding: 70px 0;
  height: 100%;
  min-height: 100vh;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.65;
    background: -webkit-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* IE10 */
    background: -o-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* Opera 11.10+ */
    background: linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%); /* W3C */
  }

  .sign-back {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 50px 100px;
    background: #333;
    opacity: 0.75;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;

    .connect-user,
    .connect-business {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;

      span {
        margin-top: 40px;
        color: #FFF;
        font-size: 14px;
        text-transform: none;
        font-weight: 100;
      }

      i {
        width: 50px;
        height: 50px;
        border: 1px solid #fff;
        border-radius: 50%;
        padding-top: 8px;
      }

      .btn-user,
      .btn-business {
        background: transparent;
        color: #fff;
        border-radius: 3px;
        margin-top: 40px;
        padding: 5px 20px;
        font-size: 14px;
        font-weight: 100;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }

  .sign-box {
    position: absolute;
    background: #FFF;
    max-width: 350px;
    min-height: 500px;
    top: 50%;
    left: 50%;
    transform: translateX(-100%) translateY(-50%);
    z-index: 2;
  }

  .translate {
    transform:translate(0, -50%);
  }

  .form-card {
    position: relative;
    padding: 40px 20px;
    border-radius: 3px;
    z-index: 1;

    /* SIGNUP /  SIGNIN FORM */
    .subscription-form {
      display: flex;
      justify-content: center;
      margin-top: 25px;
      padding: 0 20px;

      i {
        width: 100%;
        text-align: center;
      }

      form {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        text-align: left;

        abbr {
          display: none;
        }

        label {
          margin: 0;
          text-transform: uppercase;
          font-size: 12px;
          color: #636363;
          font-weight: 600;
        }

        .form-group {
          width: 100%;
        }

        input,
        select {
          padding: 10px 0px;
          max-width: 100%;
          background-color: transparent;
          box-shadow: none;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #f4f4f4;
          font-size: 14px;
          @include transition(all, 0.2s, ease-in-out);
        }

        select {
          -webkit-appearance:none;
          -moz-appearance:none;
          -ms-appearance:none;
          appearance:none;
          background: #fff url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
        }

        input:focus, input:active,
        textarea:focus, textarea:active,
        select:focus, select:active {
          padding: 10px 10px;
          box-shadow: none;
          background-color: #f4f4f4;
          border-left: 3px solid $turquoise;
        }

        input[type="submit"] {
          display: block;
          padding: 10px;
          background-color: $turquoise;
          border-radius: 3px;
          color: #fff;
          text-transform: uppercase;
          font-size: 16px;
        }

        input[type="submit"]:focus,
        input[type="submit"]:active, {
          background-color: #19A2C2;
        }

        .user_remember_me,
        .business_remember_me,
        .new-password {
          width: 100%;
          text-align: center;

          #user_remember_me,
          #business_remember_me {
            margin-right: 1%;
          }
        }

        .new-password {
          font-size: 12px;
          color: #636363;
        }
      }
    }
  }

  span {
    position: relative;
    width: 100%;
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
    text-align: center;
    z-index: 1;
  }

  p {
    margin: 10px auto 20px;
    font-size: 0.7em;
    line-height: 18px;
  }

  .subscription-form {
    margin-top: 30px;
  }
  .subscription-network {
    margin-top: 15px;
    padding: 0 20px;

    span {
      padding-bottom: 15px;
      font-size: 0.7em;
      font-weight: 100;
      color: #A5A5A5;
      display: flex;
      align-items: center;
      -webkit-margin-before: 0px !important;
      -webkit-margin-after: 0px !important;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;

      &::before,
      &::after {
        padding-top: 0;
        content: "";
        border-bottom: solid #DCDCDC 1px;
        flex: 1;
      }

      &::before { margin: 0 20px 0 20px; }
      &::after { margin: 0 20px 0 20px; }

    }
  }

  .already-subscribed {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    span {
      color: $white;
      font-size: small;
      font-weight: 100;
      text-transform: none;

      a {
        color: $white;
        font-weight: 600;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .btn-connexion   {
    width: 100%;
    border-radius: 3px;
    border-color: transparent;
    color: #ffffff;
    font-size: 12px;
    background: #36D4DA;
    padding: 10px 25px;
    text-decoration: none;
    text-align:center;
    text-transform: uppercase;
    a {
      color:white;
      text-decoration: none;
    }
    a:hover   {
      color:white;
      text-decoration: none;
    }
  }

}

