.form-edit {
  position: relative;

  img {
    border-radius: 50%;
  }

  .form-group {
    float: left;
    width: 50%;
  }
  abbr { display: none; }

  span {
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }

  label {
    display: block;
  }

  input {

  }

  select {
    width: 33.33333%;
    display: inline-block;
    float: left;
  }
}
