.form-edit-container {
  padding: 40px;

  .form-edit {
    position: relative;
    padding: 20px 20px 40px;
    margin-bottom: 40px;
    // width: 65%;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.07);
  }
}
