<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/shared/head" %>
  </head>

  <body>
    <%#= render "layouts/shared/navbar" %>
    <div id="menu-overlay">
      <%= yield %>
    </div>
    <%= render "layouts/shared/js" %>
    <%= yield(:after_js) %>
  </body>
</html>
