<html>
 <head>
    <%= render "layouts/shared/head_mail" %>
  </head>
  <body>
    <div class="container" id="mail">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
          <%= image_tag('cforgood_mail.png', class: "mail-header") %>
        </div>
        <%= yield %>
        <div class="col-xs-12 col-md-4 col-md-offset-4 text-center mail-signature">
          <p> A très vite,<br>
          L'équipe <strong>CforGood</strong></p>
          <%= image_tag "logo.png", class: "logo-signature" %>
          <ul class="list-inline social-networks">
            <li>
              <a href="https://www.facebook.com/cforgood/" target="_blank">
                <i class="fa fa-facebook business-icon"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/cforgood" target="_blank">
                <i class="fa fa-twitter business-icon"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/cforgood/" target="_blank">
                <i class="fa fa-instagram lbusiness-icon"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
