<html>
 <head>
    <%= render "layouts/shared/head_mail" %>
  </head>
  <body>
    <div class="container" id="mail">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
          <%= image_tag('cforgood_mail.png', class: "mail-header") %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
