 <style>
  .subscription-form form {
    display: block;
  }
</style>

<div class="container-fluid connexion connexion-user">
  <div class="connexion-overlay"></div>
    <div class="row">
      <!-- FORM SELECT CAUSE -->
      <%= render "form_account_cause" %>
      <!-- FORM SUBCRIPTION -->
      <%= render "form_account_subscription" %>
      <!-- FORM CARD REGISTRATION -->
      <%= render "form_account_card" %>
    </div>
  </div>
</div>


