<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "dashboard/shared/sidebar" %>
  <!-- Content - Statistics -->
  <div class="dashboard">
    <% render "shared/form_user_profile", resource: current_user, resource_name: :user  %>
  </div>
</div>

